{% extends "base.html" %}
{% block content %}
            {% block content_top %}{% endblock %}
        	<div class="left_col">
                {% block menu %}
            	<ul class="menu">
                	<li class="menu-item first">
                    	<a class="menu-link" href="#"><span class="menu_icon"><img src="{{ STATIC_PREFIX }}images/desktop-icon.png" height="22" width="24" alt="icon" /></span>Laptopuri & desktop</a>
                        <div class="popup-holder">
                            <div class="popup bg-01">
                                <h1>Laptopuri & desktop</h1>
                                <ul>
                                    <li><a href="#">Laptop <span>(33)</span></a></li>
                                    <li><a href="#">Netbook <span>(20)</span></a></li>
                                    <li><a href="#">Ultrabook <span>(32)</span></a></li>
                                    <li><a href="#">Tablete <span>(8)</span></a></li>
                                    <li><a href="#">E-Book Reader <span>(12)</span></a></li>
                                    <li><a href="#">Unitati centrale <span>(40)</span></a></li>
                                    <li><a href="#">Servere <span>(24)</span></a></li>
                                    <li><a href="#">Barebone <span>(5)</span></a></li>
                                    <li><a href="#">Genti si Huse pt laptop <span>(32)</span></a></li>
                                    <li><a href="#">Baterii si adaptoare pt laptop <span>(20)</span></a></li>
                                    <li><a href="#">Extindere de garantie <span>(2)</span></a></li>
                                </ul>
                        	</div>
                        </div>    
                    </li>
                    <li class="menu-item">
                    	<a class="menu-link" href="#"><span class="menu_icon"><img src="{{ STATIC_PREFIX }}images/tv-icon.png" height="22" width="23" alt="icon" /></span>Monitoare & TV & gaming</a>
                        <div class="popup-holder">
                            <div class="popup bg-02">
                        	<h1>Monitoare & TV & gaming</h1>
                            <ul>
                            	<li><a href="#">Monitoare LCD <span>(33)</span></a></li>
                                <li><a href="#">Monitoare LED <span>(20)</span></a></li>
                                <li><a href="#">Proiectoare multimedia <span>(32)</span></a></li>
                                <li><a href="#">Televizoare LCD <span>(8)</span></a></li>
                                <li><a href="#">Televizoare cu plasma <span>(12)</span></a></li>
                                <li><a href="#">Ecrane de proiectie <span>(40)</span></a></li>
                                <li><a href="#">LCD pentru laptop <span>(24)</span></a></li>
                                <li><a href="#">Accesorii <span>(5)</span></a></li>
                                <li class="subcat"><a href="#">Cabluri si adaptoare <span>(20)</span></a></li>
                                <li class="subcat"><a href="#">Suporti de prindere <span>(20)</span></a></li>
                                <li class="subcat"><a href="#">Lampi proiector <span>(20)</span></a></li>                                
                            </ul>
							<ul>
                            	<li><a href="#">Gaming <span>(32)</span></a></li>
                                <li class="subcat"><a href="#">Console <span>(20)</span></a></li>
                                <li class="subcat"><a href="#">Accesorii console <span>(2)</span></a></li>
                                <li class="subcat"><a href="#">Tastaturi pt jocuri <span>(20)</span></a></li>
                                <li class="subcat"><a href="#">Mouse pt jocuri <span>(2)</span></a></li>
                                <li class="subcat"><a href="#">Pad pt jocuri <span>(20)</span></a></li>
                                <li class="subcat"><a href="#">Joystick <span>(2)</span></a></li>
                                <li class="subcat"><a href="#">Gamepad <span>(20)</span></a></li>
                                <li class="subcat"><a href="#">Volane <span>(2)</span></a></li>
                                <li class="subcat"><a href="#">Jocuri <span>(2)</span></a></li>
                            </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                    	<a class="menu-link" href="#"><span class="menu_icon"><img src="{{ STATIC_PREFIX }}images/hdd-icon.png" height="24" width="23" alt="icon" /></span>Componente IT</a>
                        <div class="popup-holder">
                            <div class="popup bg-03">
                        	<h1>Componente IT</h1>
                            <ul>
                            	<li><a href="#">Laptop <span>(33)</span></a></li>
                                <li><a href="#">Netbook <span>(20)</span></a></li>
                                <li><a href="#">Ultrabook <span>(32)</span></a></li>
                                <li><a href="#">Tablete <span>(8)</span></a></li>
                                <li><a href="#">E-Book Reader <span>(12)</span></a></li>
                                <li><a href="#">Unitati centrale <span>(40)</span></a></li>
                                <li><a href="#">Servere <span>(24)</span></a></li>
                                <li><a href="#">Barebone <span>(5)</span></a></li>
                                <li><a href="#">Genti si Huse pt laptop <span>(32)</span></a></li>
                                <li><a href="#">Baterii si adaptoare pt laptop <span>(20)</span></a></li>
                                <li><a href="#">Extindere de garantie <span>(2)</span></a></li>
                            </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                    	<a class="menu-link" href="#"><span class="menu_icon"><img src="{{ STATIC_PREFIX }}images/mouse-icon.png" height="24" width="21" alt="icon" /></span>Periferice</a>
                    	<div class="popup-holder">
                            <div class="popup bg-04">
                        	<h1>Periferice</h1>
                            <ul>
                            	<li><a href="#">Laptop <span>(33)</span></a></li>
                                <li><a href="#">Netbook <span>(20)</span></a></li>
                                <li><a href="#">Ultrabook <span>(32)</span></a></li>
                                <li><a href="#">Tablete <span>(8)</span></a></li>
                                <li><a href="#">E-Book Reader <span>(12)</span></a></li>
                                <li><a href="#">Unitati centrale <span>(40)</span></a></li>
                                <li><a href="#">Servere <span>(24)</span></a></li>
                                <li><a href="#">Barebone <span>(5)</span></a></li>
                                <li><a href="#">Genti si Huse pt laptop <span>(32)</span></a></li>
                                <li><a href="#">Baterii si adaptoare pt laptop <span>(20)</span></a></li>
                                <li><a href="#">Extindere de garantie <span>(2)</span></a></li>
                            </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                    	<a class="menu-link" href="#"><span class="menu_icon"><img src="{{ STATIC_PREFIX }}images/printer-icon.png" height="21" width="24" alt="icon" /></span>Birotica & consumabile</a>
                    	<div class="popup-holder">
                            <div class="popup bg-05">
                        	<h1>Birotica & consumabile</h1>
                            <ul>
                            	<li><a href="#">Laptop <span>(33)</span></a></li>
                                <li><a href="#">Netbook <span>(20)</span></a></li>
                                <li><a href="#">Ultrabook <span>(32)</span></a></li>
                                <li><a href="#">Tablete <span>(8)</span></a></li>
                                <li><a href="#">E-Book Reader <span>(12)</span></a></li>
                                <li><a href="#">Unitati centrale <span>(40)</span></a></li>
                                <li><a href="#">Servere <span>(24)</span></a></li>
                                <li><a href="#">Barebone <span>(5)</span></a></li>
                                <li><a href="#">Genti si Huse pt laptop <span>(32)</span></a></li>
                                <li><a href="#">Baterii si adaptoare pt laptop <span>(20)</span></a></li>
                                <li><a href="#">Extindere de garantie <span>(2)</span></a></li>
                            </ul> 
                            </div>                           
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#"><span class="menu_icon"><img src="{{ STATIC_PREFIX }}images/network-icon.png" height="23" width="24" alt="icon" /></span>retelistica</a>
                        <div class="popup-holder">
                            <div class="popup bg-06">
                        	<h1>retelistica</h1>
                            <ul>
                            	<li><a href="#">Laptop <span>(33)</span></a></li>
                                <li><a href="#">Netbook <span>(20)</span></a></li>
                                <li><a href="#">Ultrabook <span>(32)</span></a></li>
                                <li><a href="#">Tablete <span>(8)</span></a></li>
                                <li><a href="#">E-Book Reader <span>(12)</span></a></li>
                                <li><a href="#">Unitati centrale <span>(40)</span></a></li>
                                <li><a href="#">Servere <span>(24)</span></a></li>
                                <li><a href="#">Barebone <span>(5)</span></a></li>
                                <li><a href="#">Genti si Huse pt laptop <span>(32)</span></a></li>
                                <li><a href="#">Baterii si adaptoare pt laptop <span>(20)</span></a></li>
                                <li><a href="#">Extindere de garantie <span>(2)</span></a></li>
                            </ul>
                            <ul>
                            	<li><a href="#">Laptop <span>(33)</span></a></li>
                                <li><a href="#">Netbook <span>(20)</span></a></li>
                                <li><a href="#">Ultrabook <span>(32)</span></a></li>
                                <li><a href="#">Tablete <span>(8)</span></a></li>
                                <li><a href="#">E-Book Reader <span>(12)</span></a></li>
                                <li><a href="#">Unitati centrale <span>(40)</span></a></li>
                                <li><a href="#">Servere <span>(24)</span></a></li>
                                <li><a href="#">Barebone <span>(5)</span></a></li>
                                <li><a href="#">Genti si Huse pt laptop <span>(32)</span></a></li>
                                <li><a href="#">Baterii si adaptoare pt laptop <span>(20)</span></a></li>
                                <li><a href="#">Extindere de garantie <span>(2)</span></a></li>
                            </ul>
                            <ul class="last">
                            	<li><a href="#">Laptop <span>(33)</span></a></li>
                                <li><a href="#">Netbook <span>(20)</span></a></li>
                                <li><a href="#">Ultrabook <span>(32)</span></a></li>
                                <li><a href="#">Tablete <span>(8)</span></a></li>
                                <li><a href="#">E-Book Reader <span>(12)</span></a></li>
                                <li><a href="#">Unitati centrale <span>(40)</span></a></li>
                                <li><a href="#">Servere <span>(24)</span></a></li>
                                <li><a href="#">Barebone <span>(5)</span></a></li>
                                <li><a href="#">Genti si Huse pt laptop <span>(32)</span></a></li>
                                <li><a href="#">Baterii si adaptoare pt laptop <span>(20)</span></a></li>
                                <li><a href="#">Extindere de garantie <span>(2)</span></a></li>
                            </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#"><span class="menu_icon"><img src="{{ STATIC_PREFIX }}images/cd-icon.png" height="22" width="22" alt="icon" /></span>software</a>
                       <div class="popup-holder">
                            <div class="popup bg-07">
                        	<h1>software</h1>
                            <ul>
                            	<li><a href="#">Laptop <span>(33)</span></a></li>
                                <li><a href="#">Netbook <span>(20)</span></a></li>
                                <li><a href="#">Ultrabook <span>(32)</span></a></li>
                                <li><a href="#">Tablete <span>(8)</span></a></li>
                                <li><a href="#">E-Book Reader <span>(12)</span></a></li>
                                <li><a href="#">Unitati centrale <span>(40)</span></a></li>
                                <li><a href="#">Servere <span>(24)</span></a></li>
                                <li><a href="#">Barebone <span>(5)</span></a></li>
                                <li><a href="#">Genti si Huse pt laptop <span>(32)</span></a></li>
                                <li><a href="#">Baterii si adaptoare pt laptop <span>(20)</span></a></li>
                                <li><a href="#">Extindere de garantie <span>(2)</span></a></li>
                            </ul>
                            </div>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#"><span class="menu_icon"><img src="{{ STATIC_PREFIX }}images/phone-icon.png" height="24" width="24" alt="icon" /></span>telefonie</a>
                       <div class="popup-holder">
                            <div class="popup bg-08">
                        	<h1>telefonie</h1>
                            <ul>
                            	<li><a href="#">Laptop <span>(33)</span></a></li>
                                <li><a href="#">Netbook <span>(20)</span></a></li>
                                <li><a href="#">Ultrabook <span>(32)</span></a></li>
                                <li><a href="#">Tablete <span>(8)</span></a></li>
                                <li><a href="#">E-Book Reader <span>(12)</span></a></li>
                                <li><a href="#">Unitati centrale <span>(40)</span></a></li>
                                <li><a href="#">Servere <span>(24)</span></a></li>
                                <li><a href="#">Barebone <span>(5)</span></a></li>
                                <li><a href="#">Genti si Huse pt laptop <span>(32)</span></a></li>
                                <li><a href="#">Baterii si adaptoare pt laptop <span>(20)</span></a></li>
                                <li><a href="#">Extindere de garantie <span>(2)</span></a></li>
                            </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                {% endblock menu %}
          
                {% block content_left %}
                {% endblock %}

                {% block banner_left %}
                <ul class="ads-left">
                	<li>
                    	<a href="#">
                            <img src="{{ STATIC_PREFIX }}images/produse-apple.png" width="250" height="320" alt="Produse APPLE" title="Vezi produsele APPLE" />
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                            <img src="{{ STATIC_PREFIX }}images/produse-apple.png" width="250" height="320" alt="Produse APPLE" title="Vezi produsele APPLE" />
                        </a>
                    </li>
                </ul>
                {% endblock banner_left %}

                {% block newsletter %}
                <div class="newsletter">
                	<label for="news_email" >Abonare newsletter</label>
                    <div class="email-wrapper">
                        <input class="news_email" type="text" id="news_email" value="email ..." />
                        <input class="email_btn" type="button" />
                    </div>    
                </div>
                {% endblock newsletter %}
            </div> <!-- left side end -->
            <div class="right_col">
                {% block content_right %}
                {% endblock content_right %}

                {% block banner_right %}
                <div class="logo-producatori">
                	<ul>
                    	<li><div class="middle"><a class="img-holder" href="#"><img class="center" src="{{ STATIC_PREFIX }}images/windows-icon.jpg" width="109" height="78" alt="windows logo" title="windows"/></a></div></li>
                        <li><div class="middle"><a href="#"><img src="{{ STATIC_PREFIX }}images/wd-icon.jpg" width="176" height="53" alt="western digital logo" title="western digital"/></a></div></li>
                        <li><div class="middle"><a href="#"><img src="{{ STATIC_PREFIX }}images/apple-icon.jpg" width="86" height="96" alt="apple logo" title="apple"/></a></div></li>
                        <li><div class="middle"><a href="#"><img src="{{ STATIC_PREFIX }}images/hp-icon.jpg" width="106" height="70" alt="hp logo" title="hp"/></a></div></li>
                        <li><div class="middle"><a href="#"><img src="{{ STATIC_PREFIX }}images/nvidia-icon.jpg" width="129" height="84" alt="nvidia logo" title="nvidia"/></a></div></li>
                        <li><div class="middle"><a href="#"><img src="{{ STATIC_PREFIX }}images/samsung-icon.jpg" width="184" height="70" alt="samsung logo" title="samsung"/></a></div></li>
                    </ul>
                </div>
                {% endblock banner_right %}
            </div> <!-- right side end -->
{% endblock content %}
