{% extends "base_2col.html" %}
{% block content_right %}
            	<div class="banner_wrapper">
                    <div class="titlu_top">
                        <span class="up_left"></span>
                            <ul class="tab_up">                                    
                                <li>promotii</li>
                                <li><span class="spacer">|</span></li>  
                                <li>oferte</li>                                      
                            </ul>
                         <span class="up_right"></span>
                    </div>
                    <div class="picture_banner">
                    </div>
                    <ul class="banner_right_wrapper">
                    	<li class="first active"><a href="#"></a></li>
                        <li></li>
                        <li></li>
                        <li class="last"></li>
                    </ul>              	
                </div>
                <div class="right_content">
                	<div class="topuri">
                    	<div class="titlu_top">
                        	<span class="up_left"></span>
                                <ul class="tab_up">                                    
                                    <li>top vanzari</li>                                    
                                </ul>
                            <span class="up_right"></span>
                         </div> 
                         <ul class="produse_top">
                         	<li>
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-01.jpg" width="91" height="69" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">Memorii DDR Kingmax KLEE8-DDR2-2G1066</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">123.95</span> RON
                                </div> 
                            </li>
                            <li>
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-02.jpg" width="98" height="84" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">Placa de sunet Creative 70SB088600005 Placa de sunet Creative Placa de sunet Creative</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">709.57</span> RON
                                </div>
                            <li>
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-03.jpg" width="99" height="88" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">Surse Raidmax RMX-500W12  </a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">105.24</span> RON
                                </div>
                            </li>
                            <li class="last">
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-04.jpg" width="71" height="69" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">Switch si Router DLink DIR-615 </a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">305.24</span> RON
                                </div>
                            </li>
                         </ul> 
                    </div>     
                         <!-- end top1 -->
					<div class="topuri">
                    	<div class="titlu_top">
                        	<span class="up_left"></span>
                                <ul class="tab_up">                                    
                                    <li>recomandari</li>                                    
                                </ul>
                            <span class="up_right"></span>
                         </div>     
                         <ul class="produse_top">
                         	<li>
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-05.jpg" width="70" height="76" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">Sisteme de operare Microsoft 6UA-03561</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">1128.76</span> RON
                                </div> 
                            </li>
                            <li>
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-06.jpg" width="85" height="93" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">Hard disk extern A-Data ACH94-500GU-CBL</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">347.30</span> RON
                                </div>
                            <li>
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-07.jpg" width="87" height="66" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">Camere Foto si Web CANON AJ4941B002AA</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret"> 514.23</span> RON
                                </div>
                            </li>
                            <li class="last">
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-08.jpg" width="78" height="69" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">Imprimante LaserJet HP CE456A </a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">809.26</span> RON
                                </div>
                            </li>
                         </ul>
                    </div>       
                         
                         <!-- end top 2  -->
                    <div class="topuri last">
                    	<div class="titlu_top">
                        	<span class="up_left"></span>
                                <ul class="tab_up">                                    
                                    <li>top oferte</li>                                    
                                </ul>
                            <span class="up_right"></span>
                         </div>      
                         <ul class="produse_top">
                         	<li>
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-09.jpg" width="73" height="68" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">MONITOARE TFT AOC N950SW</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">330.62 </span> RON
                                </div> 
                            </li>
                            <li>
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-10.jpg" width="74" height="56" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">Monitoare TFT Philips 191V2AB </a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">402.96</span> RON
                                </div>
                            <li>
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-11.jpg" width="80" height="61" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">Monitoare TFT Benq G2222HDL   </a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">499.50</span> RON
                                </div>
                            </li>
                            <li class="last">
                            	<a href="#" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="images/produs-12.jpg" width="69" height="70" alt="product name" title="product name" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="#">Desktop Barebone Brand SYDK-A0001SN-BC01B  </a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">857.98 </span> RON
                                </div>
                            </li>
                         </ul>    
                    </div>
                     <!-- end top 3 --> 
                </div>
{% endblock content_right %}
