{% extends "base_2col.html" %}
{% block content_top %}
        	<div class="top-content">
            	<div class="breadcrumbs"><!--breadcrumbs-->
                	<ul>
                    	<li><a href="#">Home</a></li>
                        <li><a href="#">Monitoare & TV & gaming</a></li>
                        <li>Monitoare LED</li>
                    </ul>
                </div><!--breadcrumbs_end-->
                <div class="search-title">
                	<h1>Monitoare LED</h1>
                </div>
            </div>
{% endblock content_top %}

{% block menu %}
            	<div class="menu-closed">
                	<div class="dd-menu">
                    	<a class="menu-link" href="#"><span class="menu_icon"><img src="images/menu-dd-item.png" height="23" width="24" alt="icon" /></span>PRODUSE</a>
                    </div>
                    {{ block.super }}
                </div> <!-- menu closed -->
{% endblock menu %}

{% block banner_left %}{% endblock %}
                
{% block content_left %}
                <div class="left_search">
                	<div class="reset-sel">
                    	<input class="reset_sel_btn" id="uncheck" type="button" />
                        <span> Anuleaza toate selectiile </span>
                    </div>
                    	<ul class="selector_area">
                        	<li class="title_row">
                            	<div class="sel_title">
                                     <span class="up_left"></span>
                                     <span class="tab_up">producator</span>
                                     <span class="up_right"></span> 
                                </div>    
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">Samsung </a><span>(285)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">LG </a><span>(233)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">Philips </a><span>(214)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">Benq </a><span>(97)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">Dell </a><span>(90)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">ASUS </a><span>(79)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">Acer </a><span>(65)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">Apple </a><span>(10)</span>
                            </li>                            
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">HP </a><span>(25)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">altele </a><span>(25)</span>
                            </li>
                        </ul>   
                        
                        <ul class="selector_area">
                        	<li class="title_row">
                            	<div class="sel_title">
                                     <span class="up_left"></span>
                                     <span class="tab_up">diagonala</span>
                                     <span class="up_right"></span> 
                                </div>    
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">15" - 17" </a><span>(502)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">18" - 19.5" </a><span>(92)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">20" </a><span>(23)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">21" - 22" </a><span>(5)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">23"  </a><span>(502)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">23.6" - 24.6" </a><span>(92)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">25" - 26" </a><span>(23)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">27" </a><span>(5)</span>
                            </li>
                        </ul>                               
                        
                        <ul class="selector_area">
                        	<li class="title_row">
                            	<div class="sel_title">
                                     <span class="up_left"></span>
                                     <span class="tab_up">rezolutie</span>
                                     <span class="up_right"></span> 
                                </div>    
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">1024 x 768 </a><span>(15)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">1280 x 1024 </a><span>(20)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">1680 x 1050  </a><span>(23)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">1920 x 1080 </a><span>(15)</span>
                            </li>                            
                        </ul> 
                        <ul class="selector_area">
                        	<li class="title_row">
                            	<div class="sel_title">
                                     <span class="up_left"></span>
                                     <span class="tab_up">timp raspuns</span>
                                     <span class="up_right"></span> 
                                </div>    
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">1ms </a><span>(35)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">2ms </a><span>(25)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">3ms </a><span>(29)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">5ms </a><span>(19)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">6ms </a><span>(27)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">8ms </a><span>(12)</span>
                            </li>
                        </ul>  
                        
                        <ul class="selector_area">
                        	<li class="title_row">
                            	<div class="sel_title">
                                     <span class="up_left"></span>
                                     <span class="tab_up">pret (lei)</span>
                                     <span class="up_right"></span> 
                                </div>    
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">sub 500 </a><span>(10)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">500 - 1000 </a><span>(125)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">1000 - 1500 </a><span>(119)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">1500 - 2000 </a><span>(126)</span>
                            </li>
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">2000 - 3000 </a><span>(87)</span>
                            </li>                           
                            <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <a href="#">peste 4000 </a><span>(34)</span>
                            </li>
                             <li>
                                 <input name="" type="checkbox" value="" class="checkbox">
                                 <div class="price_selector">
                                     <input name="price_min" class="price_input" id="price_min" type="text"/>
                                     <span>-</span>
                                     <input name="price_max" class="price_input" id="price_max" type="text"/>
                                     <input name="price_search" class="price_search" id="price_search" type="button"/>
                                 </div>
                            </li>
                        </ul> 
                        <div class="reset-sel top15">
                    		<input class="reset_sel_btn" type="button" />
                        	<span> Anuleaza toate selectiile </span>
                    	</div>
                         
                </div>
{% endblock content_left %}
                
{% block content_right %}
                <div class="filtrare_holder">
                    <div class="tab_d_holder">
                        <span class="down_left"></span>
                            <ul class="tab_down">
                                <li><span>filtrare</span></li>                                
                            </ul>
                        <span class="down_right"></span>
                    </div>
                    <ul class="filtrare">
                    	<li>
                        	<span>Ordoneaza dupa: </span>
                            <select class="filter">
                                <option> - pret descrescator - </option>
                                <option> - pret crescator - </option> 
                                <option> - cele mai vandute - </option>                                 
                            </select>
                        </li>
                        <li>
                        	<span>Nr produse pe pagina: </span>
                            <select class="filter">
                                <option> - 20 - </option>
                                <option> - 40 - </option>  
                                <option> - 60 - </option>                              
                            </select>
                        </li>
                        <li>
                        	<span>Doar produsele din stoc: </span>
                            <input name="" type="checkbox" value="" class="checkbox">
                        </li>
                    </ul>    
                </div>
                <div class="listing_produse">
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p01.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p02.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p03.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder last">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p04.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_spacer"></div>
                    
                    <!-- new line -->
                    
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p04.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p01.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p02.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder last">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p03.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_spacer"></div>
                    
                    <!-- new line -->
                    
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p03.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p02.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p04.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder last">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p01.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_spacer"></div>
                    
                    <!-- new line -->
                    
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p02.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p04.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p01.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder last">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p03.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_spacer"></div>
                    
                    <!-- new line -->
                    
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p01.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p03.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p04.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_holder last">
                    	<a class="product_picture_holder">
                        	<div class="middle size205x175">
                            	<div class="img-holder">
                                	<img class="center" src="images/p02.jpg" height="145" width="185" alt="product name" title="product name" />
                                </div>
                            </div>
                        </a>
                        <a href="#"><h2>Monitor TFT Samsung C23A550U</h2></a>
                        <div class="product_price">
                        	<span class="pret_produs">1284.55 lei</span>
                            <span class="pret_vechi">1384.55 lei</span>
                        </div>
                        <span class="stoc_ok">In stoc</span>
                        <a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                        <ul class="info_detalii">
                        	<li><span>Garantie: 24 luni</span></li>
                        	<li><span>Termen livrare: 24h de la comanda</span></li>
                        	<li><span><span class="red">*</span>Transport GRATUIT</span></li>
                        </ul>    
                    </div>
                    <div class="product_spacer"></div>
                    
                    <!-- new line -->
                    
                    <div class="product-section">
                    	<span class="produse-gasite">Produsele de la 1 la 20 din 44 produse gasite in categoria <strong>Monitoare LED</strong></span>
                    	<div class="tab_d_holder_right">
                        	<a class="prev"></a>
                                <ul class="paginare">
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                </ul>
                            <a class="next"></a>
                        </div>
                    </div>
                </div>
{% endblock content_right %} 
