{% extends "base.html" %}

{% block content_top_right %}
                {{ block.super }}
                <div class="search-title">
                    <h1>{% with breadcrumbs|last as current %}{{ current.name }}{% endwith %}</h1>
                </div>
{% endblock content_top_right %}

{% block content %}
        	<div class="left_col">
                {% block menu %}
            	<ul class="menu">
                    {% for category in menu %}
                	<li class="menu-item{% if forloop.first %} first{% endif %}">
                    	<a class="menu-link" href="{{ category.url|default:'#' }}"><span class="menu_icon"><img src="{{ STATIC_PREFIX }}{{ category.icon }}" height="22" width="24" alt="icon" /></span>{{ category.name }}</a>
                        <div class="popup-holder">
                            <div class="popup {{ category.background_class }}">
                                <h1>{{ category.name }}</h1>
                                {% for column in category.columns %}
                                <ul>
                                    {% for subcategory in column %}
                                    <li{% if subcategory.level == 3 %} class="subcat"{% endif %}>
                                        <a href="{{ subcategory.url|default:'#' }}">{{ subcategory.name }} <span>({{ subcategory.count }})</span></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endfor %}
                        	</div>
                        </div>    
                    </li>
                    {% endfor %}
			<li class="menu-item brand"><a class="menu-link" href="{% url "brands" %}"><span class="menu_icon"><img src="/static/images/globe-icon.png" height="22" width="24" alt="icon"></span>Branduri</a></li>

                </ul>
                {% endblock menu %}
          
                {% block content_left %}
                {% endblock %}

                {% block banner_left %}
                <ul class="ads-left">
                	<li>
                    	<a href="http://goo.gl/maps/mo3hT" target="_blank">
                            <img src="{{ STATIC_PREFIX }}images/ATEX-SEDIU-NOU-2.png" width="250" height="320" alt="ATEX - sediu nou" title="ATEX - sediu nou" />
                        </a>
                    </li>
                    <li>
                    	<a href="/cauta/?cuvinte=&cauta_in=&categorie=430&filtre=Apple&ordine=pret_asc&pe_pagina=20">
                            <img src="{{ STATIC_PREFIX }}images/apple-imac.png" width="250" height="320" alt="Produse APPLE" title="Vezi produsele APPLE" />
                        </a>
                    </li>
                </ul>
                {% endblock banner_left %}                
            </div> <!-- left side end -->
            <div class="right_col">
                {% block content_right %}
                {% endblock content_right %}                
            </div> <!-- right side end -->
{% endblock content %}
