{% extends "base.html" %}

{% block content_top_right %}
                {{ block.super }}
                <div class="search-title">
                    <h1>{% with breadcrumbs|last as current %}{{ current.name }}{% endwith %}</h1>
                </div>
{% endblock content_top_right %}

{% block content %}
        	<div class="left_col">
                {% block menu %}
            	<ul class="menu">
                    {% for category in menu %}
                	<li class="menu-item{% if forloop.first %} first{% endif %}">
                    	<span class="menu_icon"><img src="{{ STATIC_PREFIX }}{{ category.icon }}" height="22" width="24" alt="icon" /></span>
                        {{ category.name }}
                        
                        <div class="popup-holder">
                            <div class="popup {{ category.background_class }}">
                                <h1>{{ category.name }}</h1>
                                {% for column in category.columns %}
                                <ul>
                                    {% for subcategory in column %}
                                    <li{% if subcategory.level == 3 %} class="subcat"{% endif %}>
                                        <a href="{{ subcategory.url|default:'#' }}">{{ subcategory.name }} <span>({{ subcategory.count }})</span></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endfor %}
                        	</div>
                        </div>    
                    </li>
                    {% endfor %}
                </ul>
                {% endblock menu %}
          
                {% block content_left %}
                {% endblock %}

                {% block banner_left %}
                <ul class="ads-left">
                	<li><a class="fancybox" href="{{ STATIC_PREFIX }}images/asamblare/1.jpg" rel="gallery"><img src="{{ STATIC_PREFIX }}images/asamblare.jpg" alt=""></a>
						<div class="hidden">
							<a class="fancybox" href="{{ STATIC_PREFIX }}images/asamblare/2.jpg" rel="gallery"><img src="{{ STATIC_PREFIX }}images/asamblare/2.jpg alt=""></a>
							<a class="fancybox" href="{{ STATIC_PREFIX }}images/asamblare/3.jpg" rel="gallery"><img src="{{ STATIC_PREFIX }}images/asamblare/3.jpg alt=""></a>
							<a class="fancybox" href="{{ STATIC_PREFIX }}images/asamblare/4.jpg" rel="gallery"><img src="{{ STATIC_PREFIX }}images/asamblare/4.jpg alt=""></a>
							<a class="fancybox" href="{{ STATIC_PREFIX }}images/asamblare/5.jpg" rel="gallery"><img src="{{ STATIC_PREFIX }}images/asamblare/5.jpg alt=""></a>
							<a class="fancybox" href="{{ STATIC_PREFIX }}images/asamblare/6.jpg" rel="gallery"><img src="{{ STATIC_PREFIX }}images/asamblare/6.jpg alt=""></a>
						</div>
                    </li>
                    <li>
                    	<a href="/produs/54741-kit-tastatura-mouse-logitech-920-004508">
                            <img src="{{ STATIC_PREFIX }}images/Promotie Logitech kit tastatura si mouse.png" width="250" height="240" alt="Promotie Logitech Kit tastatura si mouse" title="Promotie Logitech Kit tastatura si mouse" />
                        </a>
                    </li>
                </ul>
                {% endblock banner_left %}                
            </div> <!-- left side end -->
            <div class="right_col">
                {% block content_right %}
                {% endblock content_right %}                
            </div> <!-- right side end -->
{% endblock content %}
