{% extends "base.html" %}
{% block content %}
            {% block content_top %}{% endblock %}
        	<div class="left_col">
                {% block menu %}
            	<ul class="menu">
                    {% for category in menu %}
                	<li class="menu-item{% if forloop.first %} first{% endif %}">
                    	<a class="menu-link" href="{{ category.url|default:'#' }}"><span class="menu_icon"><img src="{{ STATIC_PREFIX }}{{ category.icon }}" height="22" width="24" alt="icon" /></span>{{ category.name }}</a>
                        <div class="popup-holder">
                            <div class="popup {{ category.background_class }}">
                                <h1>{{ category.name }}</h1>
                                {% for column in category.columns %}
                                <ul>
                                    {% for subcategory in column %}
                                    <li{% if subcategory.level == 3 %} class="subcat"{% endif %}>
                                        <a href="{{ subcategory.url|default:'#' }}">{{ subcategory.name }} <span>({{ subcategory.count }})</span></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endfor %}
                        	</div>
                        </div>    
                    </li>
                    {% endfor %}
                </ul>
                {% endblock menu %}
          
                {% block content_left %}
                {% endblock %}

                {% block banner_left %}
                <ul class="ads-left">
                	<li>
                    	<a href="#">
                            <img src="{{ STATIC_PREFIX }}images/produse-apple.png" width="250" height="320" alt="Produse APPLE" title="Vezi produsele APPLE" />
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                            <img src="{{ STATIC_PREFIX }}images/produse-apple.png" width="250" height="320" alt="Produse APPLE" title="Vezi produsele APPLE" />
                        </a>
                    </li>
                </ul>
                {% endblock banner_left %}                
            </div> <!-- left side end -->
            <div class="right_col">
                {% block content_right %}
                {% endblock content_right %}                
            </div> <!-- right side end -->
{% endblock content %}
