<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load compress %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" href="{{ STATIC_PREFIX }}favicon.ico" />
{% compress css %}
<link href="{{ STATIC_PREFIX }}css/style.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_PREFIX }}css/jquery-ui-1.8.16.custom.css" type="text/css" rel="stylesheet" />
{% endcompress %}
{% compress js %}
<script src="{{ STATIC_PREFIX }}script/jquery-1.7.2.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery-ui.1.8.16.min.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery.exposure.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/all.js" type="text/javascript"></script>
{% endcompress %}
<title>{% block title %}{{ site_info.name }}{% endblock %}</title>
</head>

<body>
<div class="wrapper" id="wrap1">
	<div class="page_wrapper clear" id="wrap2">
    	<div class="header">
            <div class="logo">
                <a href="{% url "home" %}"><img src="{{ site_info.logo_url }}" width="300" height="100" alt="atex logo" title="{{ site_info.domain }}" name="{{ site_info.domain }}"/></a>
            </div>
            <div class="login_holder">
            	<span class="down_left"></span>
                	<ul class="tab_down">
                    	<li><a href="{% url "socialauth_begin" "facebook" %}">log in</a></li>
                        <li><span class="spacer">|</span></li>
                        <li><a href="#">register</a></li>
                    </ul>
                <span class="down_right"></span>
            </div>
            <div class="advertising_top">
            	<ul>
                	<li><a href="{% url "service" %}"><img src="{{ STATIC_PREFIX }}images/SERVICE.png" width="190" height="90" alt="Servicii ATEX" title="Servicii ATEX" /></a></li>
                    <li><a href="#"><img src="{{ STATIC_PREFIX }}images/card-fidelitate-atex.png" width="190" height="90" alt="Card fidelitate ATEX" title="Card fidelitate ATEX" /></a></li>
                </ul>
            </div>
            <div class="social">
            	<ul>
                	<li>Ne gasiti si pe:</li>
                	<li><a href="https://www.facebook.com/pages/ATEX-Computer-SRL/134752229926145"><img src="{{ STATIC_PREFIX }}images/facebook-icon.png" height="22" width="22" alt="Facebook icon" title="Find us on Facebook" /></a></li>
                    <li><a href="https://twitter.com/ATEXPC"><img src="{{ STATIC_PREFIX }}images/twitter-icon.png" height="22" width="22" alt="Twitter icon" title="Follow us on Twitter" /></a></li>
                    <li><a href="#"><img src="{{ STATIC_PREFIX }}images/google-icon.png" height="22" width="22" alt="Google icon" title="Google" /></a></li>
                </ul>
            </div>
            <div class="info_cos">
            	<div class="wellcome">
                	<p>Bun venit, <span class="red_b">{{ user.first_name|default:"anonim" }}</span> !</p>
                </div>    
                <ul>
                	<li><a href="{% url "cart" %}"><img src="{{ STATIC_PREFIX }}images/chart-button.png" height="23" width="23" alt="Cos cumparaturi" title="Cos cumparaturi" /></a></li>
                    <li><span class="red_b cart_count">{{ cart.count }}</span> produs{{ cart.count|pluralize:"e"}}</li>
                    <li> | </li>
                    <li><span class="red_b cart_price">{{ cart.price|floatformat:2 }}</span> lei </li>
                </ul>
            </div>
        </div> <!-- header end -->
        
            <div class="search_bar">
                {% if search_form %}
            <form id="search_form" method="get" action="{% url "search" %}">
                <ul class="search_inputs">
                    <li>{{ search_form.cuvinte }}</li>
                    <li class="search_category">
                        {{ search_form.cauta_in }}
                    </li>    
                    <li><input type="image" name="cauta" src="{{ STATIC_PREFIX }}images/search-button.png" height="23" width="23" alt="Caută" title="Caută produsul dorit ..." /></li>
                </ul>
            </form>
                {% endif %}
                <ul class="info_orar">
                	<li>ORAR: L-V: 10:00 - 18:00  <span class="spacer">|</span>  S: 10:00 - 13:00</li>
                    <li>TELEFON: 0751 433 284 <span class="spacer">|</span> 0735 968 743</li>
                </ul>
                <ul class="configurator">
                	<li>Acces Parteneri : </li>
                     <li><a href="http://109.102.172.60:8765/profon/" target="_blank"><img src="{{ STATIC_PREFIX }}images/config-button.png" width="23" height="23" alt="Acces Parteneri" title="Acces Parteneri" /></a></li>
                </ul>
            </div> <!-- search bar end -->
            
            <div class="content_wrapper clear">
            
            {% block content_top %}
            <div class="top-content">
                <div class="breadcrumbs"><!--breadcrumbs-->
                    <ul>                   
                        <li><a href="/">Home</a></li>
                        {% for crumb in breadcrumbs %}
                            {% if crumb.url %}
                                <li><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
                            {% else %}
                                <li>{{ crumb.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div><!--breadcrumbs_end-->
                {% block content_top_right %}{% endblock %}
            </div>
            {% endblock %}
            

            {% block content %}{% endblock %}

            </div> <!-- content wrapper end -->
		<div class="content-bottom">		
		  {% block newsletter %}
                <div class="newsletter">
                	<label for="news_email" >Abonare newsletter</label>
                    <div class="email-wrapper">
                        <form method="GET" action="">
                            <input class="news_email" type="text" id="news_email" title="email ..." />
                            <input class="email_btn" type="button" />
                        </form>
                    </div>    
                </div>
		  <script type="text/javascript"> 
                            t_rid="trafic";
                            t_domain="trafic.ro";
                </script>            

                {% endblock newsletter %}
		  {% block banner_right %}
                 <div class="logo-producatori">
                	<ul>
                    	<li><div class="middle"><a class="img-holder" href="#"><img class="center" src="{{ STATIC_PREFIX }}images/gigabyte-partner-small.png" width="89" height="70" alt="gigabyte logo" title="gigabyte"/></a></div></li>
                        <li><div class="middle"><a href="/cauta/?categorie=501&filtre=Kaspersky"><img src="{{ STATIC_PREFIX }}images/kaspersky-partner.png" width="200" height="59" alt="Kaspersky logo" title="Kaspersky"/></a></div></li>
                        <li><div class="middle"><a href="#"><img src="{{ STATIC_PREFIX }}images/intel-partner-small.png" width="77" height="70" alt="Intel Technology Partner logo" title="Intel Technology Partner"/></a></div></li>
                        <li><div class="middle"><a href="#"><img src="{{ STATIC_PREFIX }}images/hp-icon.jpg" width="106" height="70" alt="hp logo" title="hp"/></a></div></li>
                        <li><div class="middle"><a href="#"><img src="{{ STATIC_PREFIX }}images/dell_partner.png" width="177" height="70" alt="Dell Partner" title="Dell"/></a></div></li>
                        <li><div class="middle"><a href="#"><img src="{{ STATIC_PREFIX }}images/samsung-icon.jpg" width="184" height="70" alt="samsung logo" title="samsung"/></a></div></li>
                    </ul>
                  </div>
                 {% endblock banner_right %} 
			<div class="statistics-info">
                            
                            <!--/Start Trafic.ro/-->

                            <script type="text/javascript">t_rid="atexpcro";</script>

                            <script type="text/javascript" src="http://storage.trafic.ro/js/trafic.js">
                            </script>

                            <noscript>
                                <a href="http://www.trafic.ro/top/?rid=atexpcro" target="_blank">
                                    <img border="0" alt="trafic ranking" src="http://log.trafic.ro/cgi-bin/pl.dll?rid=atexpcro" /></a>
                                <a href="http://www.trafic.ro">Statistici web</a>
                            </noscript>
                            <!--/End Trafic.ro/-->
							
<a href="http://www.shopmania.ro" title="Viziteaza magazinul atexpc.ro pe ShopMania" onclick="target='_blank'; window.open('http://www.shopmania.ro/?m=972'); return false;" onkeypress="target='_blank'"><img src="http://www.shopmania.ro/img/cert/shopmania-store-ro.gif" style="border: 0;" alt="Viziteaza magazinul atexpc.ro pe ShopMania" /></a>

                 	</div> 		
		</div>	
		
    </div>
    <div class="push"></div>
</div>
<div class="footer_wrapper">	
	<div class="footer clear">
    	<div class="titlu_top">
             <span class="up_left"></span>
                  <ul class="tab_up">                                    
                       <li>quickmenu</li>
                       <li><span class="spacer">|</span></li>
                       <li>tags</li>                                    
                  </ul>
             <span class="up_right"></span>
    	</div>   
		<div class="tags">
			{% for category in footer %}
				<a href="{{ category.url }}">{{ category.name }}</a>
			{% endfor %}
        </div>
        <div class="bottom-footer">
        	<ul class="menu-subsol">
            	<li class="first"><a href="#">Cariera</a></li>
                <li><a href="{% url "conditions" %}">Conditii Vanzare</a></li>
                <li><a href="#">Configurator</a></li>
                <li><a href="#">Harta site</a></li>
                <li><a href="{% url "contact" %}">Contact</a></li>
            </ul>
            <span class="copyright">Copyright &copy; {% now "Y" %} {{ site_info.company }}</span>
        </div>
    </div>
</div>
{% block body_extra %}{% endblock %}
</body>
</html>
