<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load compress %}
{% load static %}
{% load i18n %}

{% get_static_prefix as STATIC_PREFIX %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="b18Kt6L5fCRNRREsgxzrQjm9ZZ0lSv0GSPRpUeU7J0s" />
<link rel="icon" href="{{ STATIC_PREFIX }}favicon.ico" />
{% compress css %}
<link href="{{ STATIC_PREFIX }}css/style.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_PREFIX }}css/style_certificari.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_PREFIX }}css/jquery-ui-1.8.16.custom.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_PREFIX }}css/jcarousel.data-attributes.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_PREFIX }}css/jquery.fancybox.css" type="text/css" rel="stylesheet" />
{% endcompress %}
{% compress js %}
<script src="{{ STATIC_PREFIX }}script/jquery-1.7.2.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery.fancybox.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery-ui.1.8.16.min.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery.exposure.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery.autocomplete.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery.inputhints.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/underscore-min.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/all.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery.bxslider.min.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery.slides.min.js" type="text/javascript"></script
<script src="{{ STATIC_PREFIX }}dist/jquery.jcarousel.min.js" type="text/javascript"></script>
{% endcompress %}
<title>{% block title %}{{ site_info.name }}{% endblock %}</title>
{% block head %}{% endblock %}
<!--/Start Google Analitycs/-->
							<script>
  								(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  								(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  								m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  								})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  								ga('create', 'UA-47568503-1', 'atexpc.ro');
  								ga('send', 'pageview');

							</script>
						<!--/End Google Analitycs/-->
						<script>
    $(function() {
      $('#slides').slidesjs({
        width: 278,
        height: 100,
        play: {
          active: false,
          auto: true,
          interval: 4000,
          swap: true
        }
      });
    });
  </script>
<style type="text/css">
    .hidden {
    display: none;
	}
  </style>
<script type="text/javascript">//<![CDATA[ 
$(function(){
$(".fancybox")
    .attr('rel', 'gallery')
    .fancybox({
        padding : 0
    });
});//]]>  
</script>
</head>

<body>
<div class="wrapper" id="wrap1">
	<div class="page_wrapper clear" id="wrap2">
    	<div class="header">
            <div class="logo">
                <a href="{% url "home" %}"><img src="{{ site_info.logo_url }}" width="330" height="110" alt="atex logo" title="{{ site_info.domain }}" name="{{ site_info.domain }}"/></a>
            </div>
            <div class="login_holder">
            	<span class="down_left"></span>
                	<ul class="tab_down">
                    {% if user.is_authenticated %}
                    	<li><a href="{% url "logout" %}">Deconectare</a></li>
                    {% else %}
                        <li><a href="{% url "login" %}">{% trans "Log in" %}</a></li>
                    {% endif %}
						<li><span class="spacer">|</span></li>
						<li><a href="{% url "contact" %}">Contact</a></li>
						<li><span class="spacer">|</span></li>
						<li><a href="{% url "service" %}">Service IT</a></li>
                    </ul>
                <span class="down_right"></span>
            </div>
            <div class="advertising_top">
            	<ul>
                	<li><a href="/promotii"><img src="{{ STATIC_PREFIX }}images/promotii/atexvindecalculatoare.jpg" width="520" height="95" alt="Aniversam 15 Ani" title="" /></a></li>
                </ul>
            </div>
            <div class="social">
            	<ul>
                	<li><span>Ne gasiti si pe:</span></li>
                	<li><a href="https://www.facebook.com/pages/ATEX-Computer-SRL/134752229926145" target="_new"><img src="{{ STATIC_PREFIX }}images/facebook-icon.png" height="22" width="22" alt="Facebook icon" title="Find us on Facebook" /></a></li>
                    <li><a href="https://twitter.com/ATEXPC" target="_new"><img src="{{ STATIC_PREFIX }}images/twitter-icon.png" height="22" width="22" alt="Twitter icon" title="Follow us on Twitter" /></a></li>
					<li><a href="https://plus.google.com/109045933207353333795" target="_new"><img src="{{ STATIC_PREFIX }}images/google-plus-icon.png" height="22" width="22" alt="Google plus icon" title="Google plus" /></a></li>	
                    <li><a href="http://atexpc.wordpress.com/" target="_new"><img src="{{ STATIC_PREFIX }}images/wp-blog-icon.png" height="22" width="52" alt="Wp blog icon" title="Blog Wordpress" /></a></li>	
                </ul>
            </div>
            <div class="info_cos">
            	<div class="wellcome">
                	<p>Bun venit {% if user.is_authenticated %}, <span class="red_b">{{ user.get_short_name }}</span> {% endif %}!</p>
                </div>    
                <ul>
                	<li><a href="{% url "cart" %}"><img src="{{ STATIC_PREFIX }}images/chart-button.png" height="23" width="23" alt="Cos cumparaturi" title="Cos cumparaturi" /></a></li>
                    <li><span class="red_b cart_count">{{ cart.count }}</span> produs{{ cart.count|pluralize:"e"}}</li>
                    <li> | </li>
                    <li><span class="red_b cart_price">{{ cart.price|floatformat:2 }}</span> lei </li>
                </ul>
            </div>
        </div> <!-- header end -->
        
            <div class="search_bar">
                {% if search_form %}
            <form id="search_form" method="get" action="{% url "search" %}">
                <ul class="search_inputs">
                    <li>{{ search_form.cuvinte }}</li>
                    <li class="search_category">
                        {{ search_form.cauta_in }}
                    </li>    
                    <li><input type="image" name="cauta" src="{{ STATIC_PREFIX }}images/search-button.png" height="23" width="23" alt="Caută" placeholder="Caută produsul dorit ..." /></li>
                </ul>
            </form>
                {% endif %}
                <ul class="info_orar">
                	<li>ORAR: L-V: 10:00 - 18:00  <span class="spacer">|</span>  S: 10:00 - 13:00</li>
                    <li>TELEFON: 0264 599 009 <span class="spacer">|</span> 0751 433 284 <span class="spacer">|</span> 0735 968 743</li>
                </ul>
                <ul class="configurator">
                	<li>Acces Parteneri : </li>
                     <li><a href="http://ancora.atexpc.ro:8765/profon/" target="_blank"><img src="{{ STATIC_PREFIX }}images/config-button.png" width="23" height="23" alt="Acces Parteneri" title="Acces Parteneri" /></a></li>
                </ul>
            </div> <!-- search bar end -->
            
            <div class="content_wrapper clear">
            
            {% block content_top %}
            <div class="top-content">
                <div class="breadcrumbs"><!--breadcrumbs-->
                    <ul>                   
                        <li><a href="/">Home</a></li>
                        {% for crumb in breadcrumbs %}
                            <li><span class="arrow"></span></li>
                            {% if crumb.url %}
                                <li><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
                            {% else %}
                                <li>{{ crumb.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div><!--breadcrumbs_end-->
                {% block content_top_right %}{% endblock %}
            </div>
            {% endblock %}
            

            {% block content %}{% endblock %}

            </div> <!-- content wrapper end -->
		<div class="content-bottom">		
		  {% block newsletter %}
                <div class="newsletter">
                	<label for="news_email" >Abonare newsletter</label>
                    <div class="email-wrapper">
                        <form method="post" action="http://atexpc.us5.list-manage.com/subscribe/post?u=d089f977785291a701d86d885&amp;id=6c95d504f0" target="_blank" />
                            <input class="news_email" type="text" id="news_email" name="EMAIL" placeholder="email ..." />
                            <input class="email_btn" type="submit" value="" name="subscribe" />
                        </form>
                    </div>    
                </div>
		  <script type="text/javascript"> 
                            t_rid="trafic";
                            t_domain="trafic.ro";
                </script>            

                {% endblock newsletter %}
		  {% block banner_right %}
                <div class="logo-producatori">
                	<!--<ul>
                    	<li><div class="middle"><a class="img-holder" href="/cauta/?filtre=Gigabyte"><img class="center" src="{{ STATIC_PREFIX }}images/gigabyte-partner-small.png" width="89" height="70" alt="Gigabyte logo" title="Gigabyte"/></a></div></li>
                        <li><div class="middle"><a href="/cauta/?categorie=501&filtre=Kaspersky"><img src="{{ STATIC_PREFIX }}images/kaspersky-partner.png" width="200" height="59" alt="Kaspersky logo" title="Kaspersky"/></a></div></li>
                        <li><div class="middle"><a href="/cauta/?filtre=Intel"><img src="{{ STATIC_PREFIX }}images/intel-partner-small.png" width="77" height="70" alt="Intel Technology Partner logo" title="Intel Technology Partner"/></a></div></li>
                        <li><div class="middle"><a href="/cauta/?filtre=Hp"><img src="{{ STATIC_PREFIX }}images/hp-icon.jpg" width="106" height="70" alt="hp logo" title="hp"/></a></div></li>
                        <li><div class="middle"><a href="/cauta/?filtre=Dell"><img src="{{ STATIC_PREFIX }}images/dell_partner.png" width="177" height="70" alt="Dell Partner" title="Dell"/></a></div></li>
                        <li><div class="middle"><a href="/cauta/?filtre=Lenovo"><img src="{{ STATIC_PREFIX }}images/lenovo.png" width="70" height="70" alt="Lenovo logo" title="Lenovo"/></a></div></li>
                    </ul>-->
					<div class="wrapper_certificari">
							<div class="container">
								<div id="slides">
								<img src="{{ STATIC_PREFIX }}images/apple.jpg" alt="Apple Resseler Authorized" title="Apple Resseler Authorized">
								<img src="{{ STATIC_PREFIX }}images/asus.jpg" alt="ASUS Gold Partner" title="ASUS Gold Partner">
								<img src="{{ STATIC_PREFIX }}images/cisco.jpg" alt="Cisco Select Partner" title="Cisco Select Partner">
								<img src="{{ STATIC_PREFIX }}images/dell.jpg" alt="Dell Partner Direct" title="Dell Partner Direct">
								<img src="{{ STATIC_PREFIX }}images/epson.jpg" alt="Epson Reseller Authorised" title="Epson Reseller Authorised">
								<img src="{{ STATIC_PREFIX }}images/gigabyte.jpg" alt="Gigabyte Authorized Partner" title="Gigabyte Authorized Partner">
								<img src="{{ STATIC_PREFIX }}images/hp.jpg" alt="HP Partner" title="HP Partner">
								<img src="{{ STATIC_PREFIX }}images/intel.jpg" alt="Intel Technology Provider Gold" title="Intel Technology Provider Gold">
								<img src="{{ STATIC_PREFIX }}images/jabra.jpg" alt="Jabra Partner Registered" title="Jabra Partner Registered">
								<img src="{{ STATIC_PREFIX }}images/juniper.jpg" alt="Juniper Select Partner" title="Juniper Select Partner">
								<img src="{{ STATIC_PREFIX }}images/kaspersky.jpg" alt="Kaspersky Reseller Authorized" title="Kaspersky Reseller Authorized">
								<img src="{{ STATIC_PREFIX }}images/lenovo.jpg" alt="Lenovo Silver Business Partner" title="Lenovo Silver Business Partner">
								</div>
							</div>
							
						<div class="text-box_furnizori_logo">
							<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/logo-uri_producatori.jpg" alt="logo producatori" title="ATEX Computer reprezinta cele mai cunoscute branduri din industria tehnologica.
Click pentru a vedea multitudinea de furnizori pe care ii reprezentam"></a>
						</div>
						<div class="text-box_furnizori">
							<p style="text-align:justify"><strong>ATEX Computer</strong> reprezinta cele mai cunoscute branduri din industria tehnologica.
Click pentru a vedea multitudinea de furnizori pe care ii reprezentam.</p>
							<p style="text-align:right"><img src="{{ STATIC_PREFIX }}images/arrow-1.jpg" alt="Arrow" ></p>
						</div>
					</div>
                </div>
                 {% endblock banner_right %} 
			<div class="statistics-info">
                            
                            <!--/Start Trafic.ro/-->

                            <script type="text/javascript">t_rid="atexpcro";</script>

                            <script type="text/javascript" src="http://storage.trafic.ro/js/trafic.js">
                            </script>

                            <noscript>
                                <a href="http://www.trafic.ro/top/?rid=atexpcro" target="_blank">
                                    <img border="0" alt="trafic ranking" src="http://log.trafic.ro/cgi-bin/pl.dll?rid=atexpcro" /></a>
                                <a href="http://www.trafic.ro">Statistici web</a>
                            </noscript>
                            <!--/End Trafic.ro/-->
							
<a href="http://www.shopmania.ro" title="Viziteaza magazinul atexpc.ro pe ShopMania" onclick="target='_blank'; window.open('http://www.shopmania.ro/?m=972'); return false;" onkeypress="target='_blank'"><img src="http://www.shopmania.ro/img/cert/shopmania-store-ro.gif" style="border: 0;" alt="Viziteaza magazinul atexpc.ro pe ShopMania" /></a>

                 	</div> 		
		</div>	
		
    </div>
    <div class="push"></div>
</div>
<div class="footer_wrapper">	
	<div class="footer clear">
    	<div class="titlu_top">
             <span class="up_left"></span>
                  <ul class="tab_up">                                    
                       <li>quickmenu</li>
                       <li><span class="spacer">|</span></li>
                       <li>tags</li>                                    
                  </ul>
             <span class="up_right"></span>
    	</div>   
		<div class="tags">
			{% for category in footer %}
				<a href="{{ category.url }}">{{ category.name }}</a>
			{% endfor %}
        </div>
        <div class="bottom-footer">
        	<ul class="menu-subsol">
                <li class="first">
				<a href="http://www.computersales.ro" target="_blank" title="Componente PC si notebook">
				<img border="0" alt="Calculator & Laptop" src="http://www.computersales.ro/images/logocs.jpg" alt="Calculator & Laptop" height="31" width="68"></a></li>
				<li><div id="cautiro-logo-container" style="display:inline; margin: 0 3px; width: auto;">
						<script type="text/javascript">
							var _cauti_logo_settings = _cauti_logo_settings || {};
							_cauti_logo_settings.type = 1;
							_cauti_logo_settings.merchant_id = 61940;
							_cauti_logo_settings.merchant_slug = "atexcomputer";
							_cauti_logo_settings.keyword = "componente-it";
							(function() {
							    var c = document.createElement('script');
    							c.type = 'text/javascript';
    							c.async = true;
    							c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'logo.cauti.ro/js/logo.js';
    							var s = document.getElementsByTagName('script')[0];
    							s.parentNode.insertBefore(c, s);
							})();
						</script>
						<noscript>
						    <a href="http://www.cauti.ro/produse/compara-preturi/merchant~~atexcomputer/keyword~~componente-it.html" title="Cauti.ro - Orice, dar nu oricum! O gama larga de componente-it numai la atexcomputer">Partener Cauti.ro</a>
						</noscript>
					</div>
			</li>
			<li><a target="_blank" href="http://www.pricewatcher.ro/"><img src="http://www.pricewatcher.ro/img/template/pricewatcher-x-small.png" alt="PriceWatcher.ro" title="PriceWatcher.ro"></a>
			</li>
			<li><a href="{% url "conditions" %}">Conditii Vanzare</a></li>
            <li><a href="{% url "contact" %}">Contact</a></li>
			<li><a href="{% url "service" %}">Service IT</a></li>
			<li><a href="http://www.anpc.gov.ro/" target="_blank">ANPC</a></li>
            </ul>
            <span class="copyright">Copyright &copy; {% now "Y" %} {{ site_info.company }}</span>
        </div>
    </div>
</div>
<div class="rezumat">
    <div class="continut">
        <div class="tab_rezumat">
            <p>REZUMAT COMANDA </p><span></span>
        </div>
        <div class="show_rezumat">
	    <a href="{% url "cart" %}">
            <ul>
		        <li><div class="cosFooter"><span>{{ cart.count }} produs{{ cart.count|pluralize:"e"}}</span> in cos</div></li>
                <li {% if cart.delivery == None %}style="display: none"{% endif %}><div class="domiciliu">{{ cart.delivery_description }}</div></li>
                <li {% if cart.payment == None %}style="display: none"{% endif %}><div class="numerar">{{ cart.payment_description }}</div></li>
                <li><div class="total">TOTAL PLATA: <span class="total_price">{{ cart.price|floatformat:2 }}</span> lei</div></li>
            </ul>
	    </a>
        </div>
    </div>
</div>
{% block body_extra %}{% endblock %}
</body>
</html>
