<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load compress %}
{% load static %}
{% load i18n %}

{% get_static_prefix as STATIC_PREFIX %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="b18Kt6L5fCRNRREsgxzrQjm9ZZ0lSv0GSPRpUeU7J0s" />
<link rel="icon" href="{{ STATIC_PREFIX }}favicon.ico" />
{% compress css %}
{% block css %}
<link href="{{ STATIC_PREFIX }}css/style.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_PREFIX }}css/style_certificari.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% endcompress %}
{% compress js %}
<script src="{{ STATIC_PREFIX }}script/jquery-1.12.3.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery.exposure.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery.autocomplete.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/underscore-min.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/all.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery.bxslider.min.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}script/jquery.slides.min.js" type="text/javascript"></script>
{% endcompress %}
<title>{% block title %}{{ site_info.name }}{% endblock %}</title>
{% block head %}{% endblock %}
<!--/Start Google Analitycs/-->
							<script>
  								(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  								(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  								m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  								})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  								ga('create', 'UA-47568503-1', 'atexpc.ro');
  								ga('send', 'pageview');

							</script>
						<!--/End Google Analitycs/-->
  
  <script>
  $(window).scroll(function() {
if ($(this).scrollTop() > 1){  
    $('header').addClass("sticky");
  }
  else{
    $('header').removeClass("sticky");
  }
});
  </script>
  
<style type="text/css">
    .hidden {
    display: none;
	}
  </style>
</head>

<body>

<div class="wrapper" id="wrap1">
	<div class="page_wrapper clear" id="wrap2">
    	<div class="header">
		 <div class="header_center">
            <div class="logo">
                <a href="{% url "home" %}"><img src="{{ site_info.logo_url }}" width="250" height="83" alt="atex logo" title="{{ site_info.domain }}" name="{{ site_info.domain }}"/></a>
            </div>
			
			 <div class="searchh_mod0">

			 <div class="searchh_mod">
			   {% if search_form %}
            <form id="search_form" method="get" action="{% url "search" %}">
                <ul class="search_inputs">
                    <li>{{ search_form.q }}</li>
                    <li class="search_category">
                        {{ search_form.cauta_in }}
                    </li> 
			
                    <li><input type="image" name="cauta" src="{{ STATIC_PREFIX }}images/search-button3.png" height="28" width="23" alt="Caută" placeholder="Caută produsul dorit ..." /></li>
                </ul>
            </form>
                {% endif %}
				
			 </div>
			 
			 </div>    

			<div class="login_bar">
            <div class="login_holder">
            	
                	<ul class="tab_login">
					
                    {% if user.is_authenticated %}
                    	<li><a href="{% url "logout" %}"><input type="image" name="logoff" src="{{ STATIC_PREFIX }}images/logoff-1.png" height="18" width="14" alt="logoff"  />Deconectare</a></li>
                    {% else %}
					
                        <li><a href="{% url "login" %}"><input type="image" name="login" src="{{ STATIC_PREFIX }}images/login-1.png" height="18" width="13" alt="login"  />{% trans "Contul meu" %}</a></li>
						
                    {% endif %}
					
					</ul>
                
            </div>
			
			
					
					<div class="login_holder">
                	<ul class="tab_login">
						<li> <a href="{% url "contact" %}"><input type="image" name="contact" src="{{ STATIC_PREFIX }}images/contact-1.png" height="18" width="13" alt="login"  />Contact</a></li>
						
                    </ul>
               
                    </div>
            </div>
           
            <div class="info_cos">
            	<div class="wellcome">
				 {% if user.is_authenticated %}
                	<p>Bun venit, <span class="red_b">{{ user.get_short_name }}</span> !</p>
					 {% else %}
					 <p><a href="{% url "cart" %}">Coșul meu</a></p>
					 {% endif %}
                </div>    
                <ul>
                	<li><a href="{% url "cart" %}"><img src="{{ STATIC_PREFIX }}images/chart-button.png" height="23" width="23" alt="Cos cumparaturi" title="Cos cumparaturi" /></a></li>
                    <li><span class="red_b cart_count">{{ cart.count }}</span> produs{{ cart.count|pluralize:"e"}}</li>
                    <li> | </li>
                    <li><span class="red_b cart_price">{{ cart.price|floatformat:2 }}</span> lei </li>
                </ul>
            </div>
			
						<div class="info_orar">
            <img src="{{ STATIC_PREFIX }}images/telefon-button.png" height="23" width="17" alt="Telefon" title="Telefon" /><li>0264 599 009 <span class="spacer">|</span> 0751 433 284 <span class="spacer">|</span> 0735 968 743		</li>
            </div>
			
		    </div>
			

			
        </div> <!-- header end -->
                    
            <div class="content_wrapper clear">
            
            {% block content_top %}
            <div class="top-content">
                <div class="breadcrumbs"><!--breadcrumbs-->
                    <ul>                   
                        <li><a href="/">Home</a></li>
                        {% for crumb in breadcrumbs %}
                            <li><span class="arrow"></span></li>
                            {% if crumb.url %}
                                <li><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
                            {% else %}
                                <li>{{ crumb.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div><!--breadcrumbs_end-->
                {% block content_top_right %}{% endblock %}
            </div>
            {% endblock %}
            

            {% block content %}{% endblock %}

            </div> <!-- content wrapper end -->
		<div class="content-bottom">		
		  
		  
		  
		  {% block banner_right %}
                <div class="logo-producatori">

					<div class="wrapper_certificari">
							<div class="container">
								<div id="slides">
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/intel.jpg" alt="Intel Technology Provider Gold" title="Intel Technology Provider Gold"></a>

 	
<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/hpe.jpg" alt="Aruba Partner" title="Aruba Partner"></a>
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/apple.jpg" alt="Apple Resseler Authorized" title="Apple Resseler Authorized"></a>
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/asus.jpg" alt="ASUS Gold Partner" title="ASUS Gold Partner"></a>
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/lenovo.jpg" alt="Lenovo Silver Business Partner" title="Lenovo Silver Business Partner"></a>
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/cisco.jpg" alt="Cisco Select Partner" title="Cisco Select Partner"></a>
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/dell1.jpg" alt="Dell Partner GOLD" title="Dell Partner GOLD"></a>
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/epson.jpg" alt="Epson Reseller Authorised" title="Epson Reseller Authorised"></a>
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/gigabyte.jpg" alt="Gigabyte Authorized Partner" title="Gigabyte Authorized Partner"></a>
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/hp.jpg" alt="HP Partner" title="HP Partner"></a>
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/jabra.jpg" alt="Jabra Partner Registered" title="Jabra Partner Registered"></a>
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/juniper.jpg" alt="Juniper Select Partner" title="Juniper Select Partner"></a>
								<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/kaspersky.jpg" alt="Kaspersky Reseller Authorized" title="Kaspersky Reseller Authorized"></a>
								</div>
							</div>
							
					<!--	<div class="text-box_furnizori_logo">
							<a href="{% url 'brands' %}"><img src="{{ STATIC_PREFIX }}images/logo-uri_producatori.jpg" alt="logo producatori" title="ATEX Computer reprezinta cele mai cunoscute branduri din industria tehnologica.
Click pentru a vedea multitudinea de furnizori pe care ii reprezentam"></a>
						</div>
						<div class="text-box_furnizori">
							<p style="text-align:justify"><strong>ATEX Computer</strong> reprezinta cele mai cunoscute branduri din industria tehnologica.
Click pentru a vedea multitudinea de furnizori pe care ii reprezentam.</p>
							<p style="text-align:right"><img src="{{ STATIC_PREFIX }}images/arrow-1.jpg" alt="Arrow" ></p>
						</div>-->
						<div class="text-box_furnizori">
						<a href="https://www.google.ro/search?q=atex+computer&oq=atex+computer#lrd=0x47490e993951d947:0xfe812560836a0e78,1," target="_blank"><img src="{{ STATIC_PREFIX }}images/recenzii.jpg"></a>
						</div>
					</div>
                </div>
                 {% endblock banner_right %} 
			<div class="statistics-info">
                            
<a href="http://www.shopmania.ro" title="Viziteaza magazinul atexpc.ro pe ShopMania" onclick="target='_blank'; window.open('http://www.shopmania.ro/?m=972'); return false;" onkeypress="target='_blank'"><img src="https://www.shopmania.ro/img/cert/shopmania-store-ro.gif" style="border: 0;" alt="Viziteaza magazinul atexpc.ro pe ShopMania" /></a>

                 	</div> 		
		</div>	
		
    </div>
</div>
<div class="footer_wrapper">	
	<div class="footer clear">
    	<div class="titlu_top">
             <span class="up_left"></span>
                  <ul class="tab_up">                                    
                       <li>resurse</li>
                                                     
                  </ul>
             <span class="up_right"></span>
    	</div>   

        <div class="bottom-footer">
        	<ul class="menu-subsol">
            <li><a href="{% url "conditions" %}">Conditii Vanzare</a></li>
            <li><a href="{% url "contact" %}">Contact</a></li>
			<li><a href="{% url "service" %}">Service IT</a></li>
			<li><a href="http://www.anpc.gov.ro/" target="_blank">ANPC</a></li>
            </ul>
            <span class="copyright">Copyright &copy; {% now "Y" %} {{ site_info.company }}</span>
        </div>
    </div>
</div>
<div class="rezumat">
    <div class="continut">
        <div class="tab_rezumat">
            <p>REZUMAT COMANDA </p><span></span>
        </div>
        <div class="show_rezumat">
	    <a href="{% url "cart" %}">
            <ul>
		        <li><div class="cosFooter"><span>{{ cart.count }} produs{{ cart.count|pluralize:"e"}}</span> in cos</div></li>
                <li {% if cart.delivery == None %}style="display: none"{% endif %}><div class="domiciliu">{{ cart.delivery_description }}</div></li>
                <li {% if cart.payment == None %}style="display: none"{% endif %}><div class="numerar">{{ cart.payment_description }}</div></li>
                <li><div class="total">TOTAL PLATA: <span class="total_price">{{ cart.price|floatformat:2 }}</span> lei</div></li>
            </ul>
	    </a>
        </div>
    </div>
</div>
{% block body_extra %}{% endblock %}

</body>
</html>
