<style type="text/css">
<!--
body {
	background-color: #000;
}
-->
</style>
<table width="1150" height="1180" border="0" align="center" cellpadding="0" cellspacing="0" background="/static/images/primapagina.jpg" style="background-repeat:no-repeat;">
<tr>
  <td width="auto" height="auto" align="center"><p>1</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center">&nbsp;</td>
  <td width="auto" align="center">&nbsp;</td>
</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/53668-aplicatii-office-microsoft-t5d-01574"><img src="/static/images/produse black friday/Aplicatii Office Microsoft T5D-01574.jpg" alt="Aplicatii Office Microsoft T5D-01574" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/54498-aplicatii-office-microsoft-t5d-01757"><img src="/static/images/produse black friday/Aplicatii Office Microsoft T5D-01757.jpg" alt="Aplicatii Office Microsoft T5D-01757" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/50812-casti-gaming-plantronics-gamecom-380"><img src="/static/images/produse black friday/Casti Gaming Plantronics GameCom 380.jpg" alt="Casti Gaming Plantronics GameCom 380" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/54653-casti-pc-plantronics-plp00061"><img src="/static/images/produse black friday/Casti PC Plantronics PLP00061.jpg" width="300" height="486" alt="Casti PC Plantronics PLP00061" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/41619-ventilatoare-si-docking-station-deepcool-n7black"><img src="/static/images/produse black friday/Cooler notebook deepcool n7black.jpg" alt="Cooler notebook deepcool n7black" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/40384-imprimanta-samsung-ml-2955nd"><img src="/static/images/produse black friday/Imprimanta Samsung ML-2955ND.jpg" alt="Imprimanta Samsung ML-2955ND" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>

</tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/48187-imprimanta-xerox-phaser-3040vb"><img src="/static/images/produse black friday/Imprimanta Xerox Phaser 3040V-B.jpg" alt="Imprimanta Xerox Phaser 3040V-B" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/55026-mp3-mp4-player-serioux-nxt300go"><img src="/static/images/produse black friday/MP4 Player Serioux NXT300GO.jpg" width="300" height="486" alt="MP4 Player Serioux NXT300GO" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/54210-routere-si-acces-point-dlink-dir-636l"><img src="/static/images/produse black friday/Router DLink DIR-636L.jpg" alt="Router DLink DIR-636L" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>

</tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/58463-routere-si-acces-point-dlink-dir-850l"><img src="/static/images/produse black friday/Router DLink DIR-850L.jpg" alt="Router DLink DIR-850L" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/54777-routere-si-acces-point-dlink-go-rt-n150"><img src="/static/images/produse black friday/Router Dlink GO-RT-N150.jpg" alt="Router Dlink GO-RT-N150" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/32530-routere-si-acces-point-tp-link-tl-wr740n"><img src="/static/images/produse black friday/Router TP-LINK TL-WR740N.jpg" alt="Router TP-LINK TL-WR740N" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>

</tr>
   <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/39129-routere-si-acces-point-tp-link-tl-wr841n"><img src="/static/images/produse black friday/Router TP-LINK TL-WR841N.jpg" width="300" height="486" alt="Router TP-LINK TL-WR841N" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/22910-router-wireless-d-link-dir-615-wireless-n-router"><img src="/static/images/produse black friday/Router Wireless D-Link DIR-615.jpg" width="300" height="486" alt="Router Wireless D-Link DIR-615" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/49902-sistem-de-operare-microsoft-windows-8-pro-64-bit-dsp-oei-dvd-engleza"><img src="/static/images/produse black friday/Sistem De Operare Microsoft Windows 8 Pro 64-Bit.jpg" alt="Sistem De Operare Microsoft Windows 8 Pro 64-Bit" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>

</tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/54203-ups-apc-smt1000rmi2u"><img src="/static/images/produse black friday/UPS APC SMT1000RMI2U.jpg" alt="UPS APC SMT1000RMI2U" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p></td>

</tr>
</table>
