<style type="text/css">
<!--
body {
	background-color: #000;
}
body,td,th {
	color: #FFF;
	text-align: center;
}
.fontcolor {
	color: #FFF;
}
-->
</style>
<table width="1150" height="1180" border="0" align="center" cellpadding="0" cellspacing="0" background="/static/images/primapagina.jpg" style="background-repeat:no-repeat;">
<tr>
  <td width="auto" height="auto" align="center"><p></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center">&nbsp;</td>
  <td width="auto" align="center">&nbsp;</td>
</tr>
<tr>
  <td width="auto" align="center"><p><img src="/static/images/produse black friday/laptop-uri.png" width="320" height="97" /></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/65407-laptop-asus-x552lav-sx652d"><img src="/static/images/produse black friday/X552LAV-SX652D.jpg" width="300" height="486" alt="Laptop ASUS X552LAV-SX652D.jpg" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/65405-laptop-asus-x553ma-xx086d"><img src="/static/images/produse black friday/X553MA-XX086D.jpg" width="300" height="486" alt="Laptop Asus X553MA-XX086D" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/65299-laptop-hp-g6w05ea"><img src="/static/images/produse black friday/G6W05EA.jpg" width="300" height="486" alt="Laptop HP G6W05EA" /></a></p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/65297-laptop-toshiba-pssg1e-001005g6"><img src="/static/images/produse black friday/PSSG1E-001005G6.jpg" width="300" height="486" alt="Laptop Toshiba PSSG1E-001005G6" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/65103-laptop-toshiba-pssg1e-002005g6"><img src="/static/images/produse black friday/PSSG1E-002005G6.jpg" width="300" height="486" alt="Laptop Toshiba PSSG1E-002005G6" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/64589-laptop-apple-mgxa2za"><img src="/static/images/produse black friday/mgxa2za.jpg" width="300" height="486" alt="mgxa2za" /></a></p>
    <p>&nbsp;</p></td>

</tr>
	<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/64764-laptop-lenovo-lv_59432238"><img src="/static/images/produse black friday/LV_59432238.jpg" width="300" height="486" alt="LV_59432238" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/66256-laptop-lenovo-lv_59433221"><img src="/static/images/produse black friday/LV_59433221.jpg" width="300" height="486" alt="LV_59433221" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/66257-ultrabook-lenovo-lv_80he00ctri"><img src="/static/images/produse black friday/LV_80HE00CTRI.jpg" width="300" height="486" alt="LV_80HE00CTRI" /></a></p>
    <p>&nbsp;</p></td>

	</tr>
	<tr>
  <td width="auto" align="center"><p><img src="/static/images/produse black friday/telefoane.png" width="320" height="97" /></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>

	</tr>
	<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/64860-telefoane-apple-mg472"><img src="/static/images/produse black friday/MG472.jpg" width="300" height="486" alt="MG472" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/64857-telefoane-apple-mga82"><img src="/static/images/produse black friday/MGA82.jpg" width="300" height="486" alt="MGA82" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p></td>

	</tr>
<tr>
  <td width="auto" align="center"><p><img src="/static/images/produse black friday/componente.png" width="320" height="97" /></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/56458-placa-de-baza-asus-h81m-c-socket-1150"><img src="/static/images/produse black friday/H81M-C.jpg" alt="Placa de baza Asus H81M-C" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/56478-placa-de-baza-gigabyte-h81-d3-socket-1150"><img src="/static/images/produse black friday/H81-D3.jpg" width="300" height="486" alt="Placa de baza Gigabyte H81-D3" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/54709-procesor-intel-pentium-core-i5-4670k-34-ghz-socket-1150"><img src="/static/images/produse black friday/BX80646I54670K.jpg" width="300" height="486" alt="Procesor Intel BX80646I54670K" /></a></p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/63627-procesor-intel-bx80646i74790"><img src="/static/images/produse black friday/BX80646I74790.jpg" width="300" height="486" alt="Procesor Intel BX80646I74790" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/55856-ssd-solid-state-drive-intel-ssdsc2bw180a401"><img src="/static/images/produse black friday/SSDSC2BW180A401.jpg" width="300" height="486" alt="SSD Intel SSDSC2BW180A401" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/44112-ssd-kingston-hyperx-3k-120-gb-sata-3-25"><img src="/static/images/produse black friday/SH103S3120G.jpg" alt="SSD Kingston SH103S3/120G" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>

</tr>
	<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/64297-ssd-solid-state-drive-samsung-mz-7ke256bw"><img src="/static/images/produse black friday/MZ-7KE256BW.jpg" width="300" height="486" alt="SSD Samsung PRO MZ-7KE256BW" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p></td>

	</tr>
<tr>
  <td width="auto" align="center"><p><img src="/static/images/produse black friday/network.png" width="320" height="97" /></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/59330-routere-si-acces-point-asus-rt-ac56u"><img src="/static/images/produse black friday/RT-AC56U.jpg" alt="RT-AC56U" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/37145-dual-band-wireless-asus-rt-n56u-black-diamond"><img src="/static/images/produse black friday/RT-N56U.jpg" alt="Router Asus RT-N56U" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/32530-router-wireless-tp-link-tl-wr740n"><img src="/static/images/produse black friday/TL-WR740N.jpg" alt="Router TL-WR740N" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/39129-routere-si-acces-point-tp-link-tl-wr841n"><img src="/static/images/produse black friday/TL-WR841N.jpg" alt="Router TP-LINK TL-WR841N" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><img src="/static/images/produse black friday/accesorii.png" width="320" height="97" /></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/14105-cartus-canon-bci-24bk-black"><img src="/static/images/produse black friday/BE6881A002AA.jpg" alt="BE6881A002AA" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/27512-cartuse-imprimante-canon-bs0617b001aa"><img src="/static/images/produse black friday/BS0617B001AA.jpg" width="300" height="486" alt="BS0617B001AA" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/16031-cartuse-imprimante-hp-c8766ee"><img src="/static/images/produse black friday/C8766EE.jpg" alt="C8766EE" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/27783-cartuse-imprimante-hp-cb322ee"><img src="/static/images/produse black friday/CB322EE.jpg" width="300" height="486" alt="CB322EE" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><img src="/static/images/produse black friday/periferice.png" width="320" height="97" /></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/64148-imprimanta-inkjet-color-epson-l110-a4"><img src="/static/images/produse black friday/C11CC60301.jpg" alt="Imprimanta Epson C11CC60301" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/33392-imprimanta-laser-monocrom-hp-laserjet-pro-p1102-a4"><img src="/static/images/produse black friday/CE651A.jpg" alt="Imprimanta HP CE651A" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/59313-imprimanta-samsung-sl-m2022"><img src="/static/images/produse black friday/SL-M2022.jpg" width="300" height="486" alt="Imprimanta Samsung SL-M2022" /></a></p>
    <p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><img src="/static/images/produse black friday/software.png" width="320" height="97" /></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p></td>

</tr>
<tr>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/57668-sisteme-de-operare-microsoft-fqc-06949"><img src="/static/images/produse black friday/FQC-06949.jpg" alt="FQC-06949" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p><a href="http://www.atexpc.ro/produs/61352-microsoft-windows-7-home-premium-64-biti"><img src="/static/images/produse black friday/GFC-02733.jpg" alt="GFC-02733" width="300" height="486" /></a></p>
    <p>&nbsp;</p></td>
  <td width="auto" align="center"><p>&nbsp;</p>
    <p>&nbsp;</p></td>

</tr>
</table>
<p><img src="/static/images/produse black friday/comenzi.png" width="auto" height="auto"/>&nbsp;</p>
<div class="statistics-info">
                            
                            <!--/Start Trafic.ro/-->

                            <script type="text/javascript">t_rid="atexpcro";</script>

                            <script type="text/javascript" src="http://storage.trafic.ro/js/trafic.js">
                            </script>

                            <noscript>
                                <a href="http://www.trafic.ro/top/?rid=atexpcro" target="_blank">
                                    <img border="0" alt="trafic ranking" src="http://log.trafic.ro/cgi-bin/pl.dll?rid=atexpcro" /></a>
                                <a href="http://www.trafic.ro">Statistici web</a>
                            </noscript>
                            <!--/End Trafic.ro/-->
