<head>
		 <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
        <link rel="stylesheet" href="/static/assets/css/styles.css" />
        <link rel="stylesheet" href="/static/assets/countdown/jquery.countdown.css" />
</head>
<style type="text/css">
<!--
body {
	background-color: #000;
}
-->
</style>
<table width="1150" height="499" border="0" align="center" cellpadding="0" cellspacing="0" background="/static/images/primapagina2.jpg" style="background-repeat:no-repeat;">
<tr>
  <td width="27" height="399" align="center">&nbsp;</td>
  <td width="429" align="center">
  <td width="694" align="center"><p>
    <p>
    <p>                                                                
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div id="countdown"></div>
	  <p id="note"></p>
		<!-- JavaScript includes -->
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="/static/assets/countdown/jquery.countdown.js"></script>
		<script src="/static/assets/js/script.js"></script>
	&nbsp;</p></td></td>
</tr>
<tr>
  <td width="27" align="center">&nbsp;</td>
  <td width="429" align="center">&nbsp;</td>
  <td width="694" align="center">&nbsp;</td>

</tr>
</table>
