{% extends "base_2col.html" %}
{% block title %}Branduri si certificari - {{ block.super }}{% endblock title %}

{% block content_right %}
<div class="conditii-content">
	<div class="red-bottom"> 
		<div class="tab_u_holder_left">
			<span class="up_left"></span>
			<ul class="tab_up">
				<li><span>Certificari</span></li>                          
            </ul>
            <span class="up_right"></span>
        </div>
		<div class="main">
                <!-- THIRD EXAMPLE -->
                <div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/apple.jpg" alt="Apple Resseler Authorized" />
                    <div class="mask">
                        <h2>Apple Resseler Authorized</h2>
                       
                    </div>
                </div>
				<div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/asus.jpg" alt="ASUS Gold Partner" />
                    <div class="mask">
                        <h2>ASUS Gold Partner</h2>
                       
                    </div>
                </div>
				<div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/cisco.jpg" alt="Cisco Select Partner" />
                    <div class="mask">
                        <h2>Cisco Select Partner</h2>
                       
                    </div>
                </div>
				<div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/dell.jpg" alt="Dell Partner Direct" />
                    <div class="mask">
                        <h2>Dell Partner Direct</h2>
					</div>
				</div>
                <div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/epson.jpg" alt="Epson Reseller Authorised" />
                    <div class="mask">
                        <h2>Epson Reseller Authorised</h2>
					</div>
				</div>
                <div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/gigabyte.jpg" alt="Gigabyte Authorized Partner"/>
                    <div class="mask">
                        <h2>Gigabyte Partner</h2>
                    </div>
                </div> 
				<div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/hp.jpg" alt="HP Partner" />
                    <div class="mask">
                        <h2>HP Partner Direct</h2>
                    </div>
                </div>  
				<div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/intel.jpg" alt="Intel Technology Provider Gold" />
                    <div class="mask">
                        <h2>Intel Technology Provider Gold	</h2>
                    </div>
                </div>   
				<div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/jabra.jpg" alt="Jabra Partner Registered" />
                    <div class="mask">
                        <h2>Jabra Partner Registered</h2>
                    </div>
                </div>
				<div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/juniper.jpg" alt="Juniper Select Partner" />
                    <div class="mask">
                        <h2>Juniper Select Partner</h2>
                    </div>
                </div>  
				<div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/kaspersky.jpg" alt="Kaspersky Reseller Authorized" />
                    <div class="mask">
                        <h2>Kaspersky Reseller</h2>
                    </div>
                </div> 
				<div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/lenovo.jpg" alt="Lenovo Silver Business Partner" />
                    <div class="mask">
                        <h2>Lenovo Partner Business</h2>
                    </div>
                </div>
				<div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/adobe.jpg" alt="Adobe Partner Connection" />
                    <div class="mask">
                        <h2>Adobe Partner Connection</h2>
                    </div>
                </div>
				<div class="view view-third">
                    <img src="{{ STATIC_PREFIX }}images/certificari atex/alliedtelesis.jpg" alt="Allied Telesis Certified Partner" />
                    <div class="mask">
                        <h2>Allied Telesis Partner</h2>
                    </div>
                </div>
				<div class="view view-third">
                    <a href="https://www.altova.com" target="_blank"><img src="{{ STATIC_PREFIX }}images/certificari atex/altova.png" alt="Altova Partner" />
                    <div class="mask">
                        <h2>Altova Partner</h2>
                    </div></a>
                </div>
            </div>
    </div>
				
</div>

{% endblock content_right %}
