{% extends "base_2col.html" %}
{% block title %}{{ block.super }} - Conditii Vanzare{% endblock title %}

{% block content_right %}
<div class="brands">
	{% for row in brand_index %}
		{% for letter, brands in row %}
			{% if forloop.counter == 4 %}
			<ul class="last">
			{% else %}
			<ul>
			{% endif %}
				<li class="titlu-brand">{{ letter }}</li>
				{% for brand in brands %}
				<li><a href="/cauta?filtre={{ brand }}">{{ brand }}</a></li>
				{% endfor %}
			</ul>
    	{% endfor %}
    	<div class="product_spacer"></div>
    {% endfor %}       
</div>

{% endblock content_right %}
