{% extends "base_2col.html" %}

{% block body_extra %}
<div class="rezumat">
    <div class="continut">
        <div class="tab_rezumat">
            <p>REZUMAT COMANDA </p><span></span>
        </div>
        <div class="show_rezumat">
            <ul>
                <li><span class="domiciliu">Livrare la domiciliu</span></li>
                <li><span class="numerar">Plata numerar</span></li>
                <li><span class="total">TOTAL PLATA: 1943.75 lei</span></li>
            </ul>
        </div>
    </div>
</div>
{% endblock body_extra %}

{% block content_right %}
            	<div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Cos cumparaturi</li>
                    </ul>
                </div>           	
                <div class="cos_content">                	
                    <div class="product-section">
                    	<div class="tab_d_holder_right">
                            <span class="down_left"></span>
                                <ul class="tab_down">
                                    <li><span>cos cumparaturi</span></li>                                
                                </ul>
                            <span class="down_right"></span>
                        </div>
                        <ul class="pasi">
                            <li><span class="cos-01 active" id=""></span>Cosul de cumparaturi</li>
                            <li><span class="cos-02" id=""></span>Date personale de facturare</li>
                            <li><span class="cos-03" id=""></span>Confirmare comanda</li>
                        </ul>
                    </div>
                    <div class="product-section">
                    	<div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>produs</span></li>                                
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        <div class="tab_cantitate">
                            <span class="up_left_bw"></span>
                                <ul class="tab_up_bw">
                                    <li><span>cantitate</span></li>                                
                                </ul>
                            <span class="up_right_bw"></span>
                        </div>
                        <div class="tab_pret">
                            <span class="up_left_bw"></span>
                                <ul class="tab_up_bw">
                                    <li><span>pret unitar</span></li>                                
                                </ul>
                            <span class="up_right_bw"></span>
                        </div>
                        <div class="tab_total">
                            <span class="up_left_bw"></span>
                                <ul class="tab_up_bw">
                                    <li><span>pret total</span></li>                                
                                </ul>
                            <span class="up_right_bw"></span>
                        </div>
                        
                        <div class="rand-cos">
                            <div class="info-produs-cos">
                                    <a href="#" class="img-wrapper">
                                        <div class="middle size100x100">
                                            <div class="img-holder">
                                                <img class="center" src="{{ STATIC_PREFIX }}images/produs-11.jpg" width="80" height="61" alt="product name" title="product name" />
                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-title">
                                        <a href="#">Monitor TFT Benq G2222HDL </a>
                                    </div>   
                                    <div class="descriere-cos">
                                    	Diagonala 21.5, Rezolutie 1920x1080, Luminozitate 250cd/mp 
                                    </div>
                                    <div class="info-stoc-cos">
                                        <span class="flleft green">In stoc</span>
                                        <span class="flright">Garantie: 24luni</span>
                                    </div> 
                            </div>
                            <div class="info-cos-pret">
                            	<div class="rand first">
                                	<ul class="detalii_rand">
                                    	<li class="cantitate">
                                        	<input type="text" class="input_cos" value="1" />
                                            <label> buc. </label>
                                        </li>
                                        <li>
                                        	385.75 lei
                                        </li>
                                        <li>
                                        	<strong>385.75 lei</strong>
                                        </li>
                                        <li class="delete">
                                        	<a class="remove_prod" href="#"></a>
                                        </li>
                                    </ul>
                                </div>	
                                <div class="rand">
                                	<ul class="detalii_optionale">
                                    	<li class="image">
                                        	<img src="{{ STATIC_PREFIX }}images/garantie2.png" width="29" height="29" alt="Garantie 2 ani" title="Garantie 2 ani" />
                                        </li>
                                        <li class="title">
                                        	Garantie +2 ANI
                                        </li>
                                        <li class="pret">
                                        	220.15 lei
                                        </li>
                                        <li>
                                        	<a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                                        </li>
                                    </ul>
                                </div>			
                            </div>
                   		</div> <!-- rand cos -->
                        
                         <div class="rand-cos">
                            <div class="info-produs-cos">
                                    <a href="#" class="img-wrapper">
                                        <div class="middle size100x100">
                                            <div class="img-holder">
                                                <img class="center" src="{{ STATIC_PREFIX }}images/produs-11.jpg" width="80" height="61" alt="product name" title="product name" />
                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-title">
                                        <a href="#">Monitor TFT Benq G2222HDL </a>
                                    </div>   
                                    <div class="descriere-cos">
                                    	Diagonala 21.5, Rezolutie 1920x1080, Luminozitate 250cd/mp 
                                    </div>
                                    <div class="info-stoc-cos">
                                        <span class="flleft green">In stoc</span>
                                        <span class="flright">Garantie: 24luni</span>
                                    </div> 
                            </div>
                            <div class="info-cos-pret">
                            	<div class="rand first">
                                	<ul class="detalii_rand">
                                    	<li class="cantitate">
                                        	<input type="text" class="input_cos"  value="2"/>
                                            <label> buc. </label>
                                        </li>
                                        <li>
                                        	385.75 lei
                                        </li>
                                        <li>
                                        	<strong>771.50 lei</strong>
                                        </li>
                                        <li class="delete">
                                        	<a class="remove_prod" href="#"></a>
                                        </li>
                                    </ul>
                                </div>	
                                <div class="rand">
                                	<ul class="detalii_optionale">
                                    	<li class="image">
                                        	<img src="{{ STATIC_PREFIX }}images/garantie1.png" width="29" height="29" alt="Garantie 2 ani" title="Garantie 2 ani" />
                                        </li>
                                        <li class="title">
                                        	Garantie +1 ANI
                                        </li>
                                        <li class="pret">
                                        	130.15 lei
                                        </li>
                                        <li>
                                        	<a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                                        </li>
                                    </ul>
                                </div>			
                                <div class="rand">
                                	<ul class="detalii_optionale">
                                    	<li class="image">
                                        	<img src="{{ STATIC_PREFIX }}images/garantie2.png" width="29" height="29" alt="Garantie 2 ani" title="Garantie 2 ani" />
                                        </li>
                                        <li class="title">
                                        	Garantie +2 ANI
                                        </li>
                                        <li class="pret">
                                        	220.15 lei
                                        </li>
                                        <li>
                                        	<a href="#" class="add_cos_btn"><span></span>Adauga in cos</a>
                                        </li>
                                    </ul>
                                </div>			
                            </div>
                   		</div> <!-- rand cos -->
                        
                        <div class="rand-cos">
                            <div class="info-produs-cos">
                                    <a href="#" class="img-wrapper">
                                        <div class="middle size100x100">
                                            <div class="img-holder">
                                                <img class="center" src="{{ STATIC_PREFIX }}images/produs-11.jpg" width="80" height="61" alt="product name" title="product name" />
                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-title">
                                        <a href="#">Monitor TFT Benq G2222HDL </a>
                                    </div>   
                                    <div class="descriere-cos">
                                    	Diagonala 21.5, Rezolutie 1920x1080, Luminozitate 250cd/mp 
                                    </div>
                                    <div class="info-stoc-cos">
                                        <span class="flleft green">In stoc</span>
                                        <span class="flright">Garantie: 24luni</span>
                                    </div> 
                            </div>
                            <div class="info-cos-pret">
                            	<div class="rand first">
                                	<ul class="detalii_rand">
                                    	<li class="cantitate">
                                        	<input type="text" class="input_cos"  value="1"/>
                                            <label> buc. </label>
                                        </li>
                                        <li>
                                        	385.75 lei
                                        </li>
                                        <li>
                                        	<strong>385.75 lei</strong>
                                        </li>
                                        <li class="delete">
                                        	<a class="remove_prod" href="#"></a>
                                        </li>
                                    </ul>
                                </div>	
                                
                            </div>
                   		</div> <!-- rand cos -->
                    </div>  
                                                                   
                    <div class="product-section livrare">
                    	<div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>modalitate de livrare</span></li>                                
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        <ul class="modalitate">
                        	<li>Va rugam selectati varianta preferata:</li>
                            <li><input type="radio" checked="checked" /> Ridicare produse de la sediul ATEX</li>
                            <li><input type="radio" /> Livrare la adresa specificata</li>
                        </ul>
                    </div> 
                                        
                    <div class="product-section plata">
                    	<div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>modalitate de plata</span></li>                                
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        <ul class="modalitate">
                        	<li>Va rugam selectati varianta preferata:</li>
                            <li><input type="radio" checked="checked" /> Numerar</li>
                            <li><input type="radio" /> Transfer bancar / OP</li>
                        </ul>                        
                    </div> 
                    
                    <div class="total-cos01">
                    	<ul>                        	
                            <li><span>15.00 lei</span></li>
                            <li><span>Taxa Transport</span></li>
                        </ul>
                        <ul class="total">                        	
                            <li><span class="red_b">1943.75 lei</span></li>
                            <li><span>TOTAL</span></li>
                        </ul>
                        <ul class="buttons">                        	
                            <li><a href="{% url order %}" class="continua"><span></span>Continua</a></li>
                            <li><a href="{% url search %}" class="mai_cumpar"><span></span>Mai cumpar</a></li>
                        </ul>
                    </div>
                    <!-- end pas 01 -->
                    
                </div>
{% endblock content_right %}
