{% extends "base_2col.html" %}
{% block title %}{{ block.super }} - Conditii Vanzare{% endblock title %}

{% block content_right %}
                <div class="conditii-content">
                    <div class="red-bottom"> 
                        <div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>Termeni de utilizare</span></li>                                
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        <div class="info-conditii">
                            <ul>
                                
<li class="red-title">ELEMENTE DEFINITORII</li>
<li>
Termenii și condițiile generale prevăzute în continuare se vor aplica tuturor vânzărilor de bunuri și servicii de către Atex Computer SRL, prin intermediul magazinului online www.atexpc.ro către cumpărător.
Astfel, următorii termeni se definesc astfel:<br>
- bunuri și servicii: orice produs sau serviciu care urmează a fi furnizat de către vânzător, cumpărătorului;<br>
- comanda: document eletronic prin care cumpărătorul solicită achiziționarea unor bunuri sau servicii prezentate în oferta magazinului online www.atexpc.ro<br>
- contract : comanda confirmată de către vânzător (confirmarea unei comenzi se poate face doar telefonic sau electronic).
</li>
 
<li class="red-title">ÎNREGISTRAREA ȘI CONFIRMAREA UNEI COMENZI</li>
<li>
Prin lansarea unei comenzi (eletronic sau telefonic) prin intermediul magazinului online www.atexpc.ro, cumpărătorul este de acord cu forma de comunicare prin care vânzătorul își desfășoară operațiunile (electronic sau telefonic).<br>
O comandă este compusă din următoarele:<br>
- bunuri sau servicii regăsite în oferta magazinului online mai sus menționat;<br>
- mențiuni clare cu privire la datele de facturare, livrare precum și alte mențiuni speciale;<br>
- specificațiile cumpărătorului.<br>
Lansarea unei comenzi (electronic sau telefonic) nu presupune și confirmarea comenzii și a contractului.<br>  Etapele complete sunt următoarele:<br>
- înregistrarea unei comenzi:  se va genera un număr unic automat pentru fiecare comandă înregistrată;<br>
- preluarea unei comenzi de către un agent de vânzări, în limita programului de lucru afișat pe site la secțiunea Contact (programul Departamentului de Vânzări);<br>
- confirmarea unei comenzi se face după verificarea comenzii și a stocului produselor aflate în comandă. Această confirmare se face doar de către un agent de vânzări, telefonic sau electronic (e-mail);<br>
- livrarea unei comenzi se face după confirmarea comenzii și după stabilirea detaliilor de livrare de către agentul de vânzări sau livrări și de către cumpărător.<br>

Produsele aflate în oferta magazinului online http://www.atexpc.ro/ se pot vinde numai în baza unei comenzi. Comanda se va procesa conform pașilor mai sus menționați în timpul programului de lucru al Departamentului de Vânzări. O comandă neconfirmată nu presupune o rezervare a produselor. Comenzile vor fi onorate în ordinea cronologică în care au fost înregistrate în baza de date. O comandă care conține produse afișate în site cu următorul status: In stoc, La comanda, La comanda in 2 zile, Cereti informatii telefonic   nu pot fi onorate în cazul în care pe același produs a fost înregistrată o altă comandă înaintea ei din punct de vedere cronologic și ulterior confirmată, astfel stocul epuizânduse.
</li>
 
<li class="red-title">PREȚUL ȘI STOCUL PRODUSELOR</li>
<li>
Prețurile și stocul produselor sunt actualizate de la un interval de 24 de ore până la 5 zile. Prețurile din comenzi și proforme sunt valabile 3 zile de la data emiterii acestora.
Pentru produse care se aduc pe baza de comandă specială se poate solicita achitarea unui avans de minim 30% din valoarea produsului.
În cazul în care prețurile sau alte detalii referitoare la produse au fost afișate greșit, inclusiv din cauza faptului că au fost introduse greșit în baza de date, ne alocăm dreptul de a ANULA comenzile ce conțin aceste produse și de a anunța clienții în cel mai scurt timp despre eroarea apărută.
Stocul produselor comercializate de către magazinul online http://www.atexpc.ro  este menționat astfel:<br>
- IN STOC: produsul se află în stocul fizic și se poate ridica / livra în baza unei comenzi online, DUPĂ CONFIRMAREA COMENZII. Comenzile produselor cu statusul IN STOC vor fi onorate în ordinea cronologică în care sunt înregistrate în baza de date. Toate produsele afișate cu statusul IN STOC au un număr limită de bucăți. Updatarea stocurilor se face conform celor menționate mai sus  – în consecință pot apărea situații în care un produs comandat cu status IN STOC să devină indisponibil în cazul în care acesta a fost confirmat pe o comandă anterioară.<br>
- LA COMANDA sau LA COMANDA IN 2 ZILE: produsul se află în depozitul furnizorului conform ofertei transmise de catre acesta și se poate ridica sau livra după verificarea si confirmarea stocului la furnizor. Avand in vedere ca actualizarea stocurilor aflate la furnizor nu este facuta intr-un interval care sa permita o informare exacta, pot aparea cazuri in care un produs afisat in stoc furnizor sa nu mai se afle de fapt pe stoc. De asemenea, exista posibilitatea ca aceste produse sa poata fi aduse doar pe comanda speciala, cu termene de livrare de la 2 zile la 60 de zile. Informația fiind preluată de la furnizor, nu ne asumăm responsabilitatea dacă produsul respectiv nu se află în stocul acestuia.<br>
- CERETI INFORMATII TELEFONIC: produsul se afla inca in oferta furnizorilor cu mentiunea ca stocul poate fi limitat, produsele pot fi rezervate la furnizor pe unele comenzi, produsele se pot aduce pe comenzi speciale de la producator care au termen de livrare de la 2 la 60 de zile sau chiar lipsa stoc cu termen de reaprovizionare nedeterminat.<br>
- MOMENTAN NU ESTE DISPONIBIL: produsul nu mai este disponibil nici în stocul Atex Computer, nici în stocul furnizorului. Această informație este afișată pentru produsele care au fost în stoc și nu se mai aduc până nu dispar din toate ofertele furnizorilor cu care lucrează Atex Computer SRL<br>
- Imaginile produselor au caracter informativ si nu constituie obligatie contractuala.
</li>
 

       <li class="red-title">Cum cumpar?</li>
                                <li>
                                    Când ati terminat de selectat produsele si cantitãtile, selectati detaliile de livrare dorite si modalitatea de plata si dati click pe link-ul "Comanda produsele" din cosul de cumpãrãturi.
                                    Puteti comanda produsele in calitate de persoana fizica sau juridica. Daca nu sunteti logat pe site, aveti posibilitate de a va inregistra (ca persoana fizica sau juridica), 
                                    caz in care datele d-voastra de contact vor fi completate in mod automat, fiind necesara (daca este cazul) doar modificarea adresei de destinatie a comenzii. 
                                    Daca nu sunteti logat, atunci datele d-voastra urmeaza a fi completate manual. In final, se precizeazã adresa de livrare - dacã e diferitã de adresa de înregistrare 
                                </li>

                                <li class="red-title">Cum platesc?</li>
                                <li>
                                    Ai la dispozitie orice mijloc de plata care ti se potriveste! <br />
                                    - plata ramburs: platesti în numerar (lei) la livrare, catre comisionarul care efectueaza livrarea.<br />
                                        Tarife Nemo : 6 lei + TVA primul Kg , 0.6 lei + TVA urmatoarele Kg. <br />
                                        Pentru plata ramburs se mai percepe un comision de 1% din valoarea produselor trimise plus taxa de primul kg (6 Lei + TVA). <br />
                                    - poti plati în numerar în unul din magazinele ATEX Computer<br />
									- Nu se pot face plați cu cardul.<br />
                                    - poti plati cu ordin de plata specificând:<br />
                                    <br />
                                    Cont:  RO11 RNCB 0106 1221 6026 0003<br />
                                    Banca: BCR Cluj-Napoca<br />
                                    Beneficiar: ATEX Computer SRL<br />
                                    Adresa beneficiar: str. Stephan Ludwig Roth, nr. 21, Cluj-Napoca<br />
                                    <br />  
									
                                    Livrarea in aceste cazuri se va face dupa confirmarea intrarii sumei respective in contul nostru. 
                                    Daca produsul se aduce numai pe comanda, e posibil sa cerem un avans  care poate fi pana la 30% din valoarea totala.
                                </li>



<li class="red-title">LIVRAREA PRODUSELOR</li>
<li>
Timpii de livrare se aplică din momentul confirmării comenzii, exceptând zilele nelucrătoare si pot varia de la 1 zi la 30 de zile.
Livrarea se face prin curierat rapid ( NEMO ).

În cazul livrărilor prin curierat este recomandat ca după recepționarea comenzii, produsul (produsele) să fie verificate pentru a nu prezenta defecțiuni fizice cauzate de transport. De asemenea, se recomanda verificarea produsului din punct de vedere al specificatiilor si accesoriilor cu care este livrat - in cazul unor lipsuri sau neconcordante se va proceda conform datelor mai jos mentionate. Este recomandat ca verificarea să fie făcută cât mai repede după recepționarea comenzii, iar sesizarea făcută in maximum 24 de ore la adresa de e-mail: office@atexpc.ro. Sesizarea trebuie să conțină informații despre comandă, despre starea produsului și de preferat câteva poze cu produsul / ambalajul cu probleme. 
Sesizăriile făcute mai târziu de 24 de ore din momentul recepționării comenzii nu vor fi luate în considerare. *
* Acest termen este aplicabil și pentru comenzile ridicate din showroom și ale căror produse nu au fost verificate.
 </li>
<li class="red-title">GARANȚII</li>
<li>
Toate produsele comercializate de către magazinul online www.atexpc.ro, cu excepția celor resigilate, beneficiază de condiții de garanție conform legislației în vigoare și condițiilor comerciale ale producătorilor și distribuitorilor - toate produsele sunt noi (cu excepția celor resigilate), în ambalaje originale. Garanția produselor comercializate de către Atex Computer SRL este asigurată de către service-urile autorizate ale distribuitorilor sau producătorilor, prin predarea acestora în cazul lipsei conformității, către centrul de preluare al garanțiilor Atexpc.ro sau direct către centrele de service autorizate specificate în certificatul de garanție.
<B>ATENTIE!</B><br />
                                    Returul  nu include trimiterea produsul in sistem ramburs. <br />
                                    Plata transportului spre firma noastra cade in sarcina dvs. Orice produs trimis in sistem ramburs va fi returnat fara notificare prealabila.<br />
                                    Produsul trebuie adus de catre beneficiar la magazinul  din  strada Stephan Ludwig Roth, nr. 21, Cluj-Napoca.
									</li>
									
									
<li class="red-title">RETURNAREA PRODUSELOR - ACHIZIȚII PERSOANE FIZICE: </li>
<li>

Conform Ordonantei de Urgenta Nr. 34/2014 privind drepturile consumatorilor în cadrul contractelor încheiate cu profesioniştii, precum şi pentru modificarea şi completarea unor acte normative:<br>

Inainte de expirarea perioadei de retragere, Consumatorul are dreptul de a se retrage din prezentul contract, fara a fi nevoit sa justifice decizia de retragere si fara a suporta alte costuri decat cele prevazute la art.13 alin.(3) si art.14 din O.U.G Nr.34/2014, in termen de 14 zile incepand cu ziua in care intra in posesia fizica a produsului. Cheltuielile de returnare sunt suportate de consumator.<br>

Produsul returnat trebuie sa fie in aceeasi stare in care a fost livrat (in ambalajul original, nedeteriorat, cu toate accesoriile, cu etichetele intacte si documentele care l-au insotit). Nu se accepta pentru returnare produsele care prezinta modificari fizice, lovituri, ciobiri, zgarieturi, socuri, urme de folosire excesiva si/sau interventii neautorizate etc.<br>

Vanzatorul va rambursa contravaloarea produsului in maximum 14 (paisprezece) zile de la data informarii Atex Computer S.R.L de catre consumator asupra deciziei sale de retragere din contract.
Atex Computer S.R.L va putea amana rambursarea contravalorii produsului pana la primirea produsului vandut sau pana la primirea unei dovezi conform careia acesta a fost expediat, in cazul in care Atex Computer S.R.L nu s-a oferit sa recupereze el insusi produsul (se va lua data cea mai recenta).<br>

Conform Art. 11 al OUG 34/2014, "Inainte de expirarea perioada de retragere, consumatorul informeaza profesionistul cu privire decizia sa de retragere din contract" folosind una din variantele mai jos prezentate :<br>
a) Forumularul de retragere - se va transmite numai prin e-mail (office@atexpc.ro) <a style=" color:red; font-size:130%;" target="_blank" href="http://www.atexpc.ro/static/Formular-de-retragere.pdf">Click aici pentru a descarca formularul de retragere.</a><br> Produsele se pot returna dupa confirmarea din partea companiei :<br>

Nume client  :<br>


Numar factura fiscala  :<br>


Denumirea produsului (produselor) si cantitatea :<br>


Motivul returnarii* :<br>


Contul IBAN ** :<br>


Alte mentiuni :<br>
 


* Motivul returnarii nu este obligatoriu conform OUG 34/2014 , exceptand persoanele juridice.
** Obligatoriu in cazul comenzilor achitate cu cardul (in acest caz se va transmite contul IBAN al cardului de pe care a fost platita comanda), cu ordin de plata sau a comenzilor livrate prin curierat rapid si achitate ramburs la livrare (in acest caz, ca metoda optionala de rambursare este mandatul postal insa recomandarea noastra este prin transfer bancar).  <br>

b) orice alta declaratie neechivoca în care va exprimati decizia de retragere din contract.<br>

</li>


<li class="red-title">NU SE POT RETURNA URMĂTOARELE CATEGORII DE PRODUSE: </li>
<li>

- Produse fara ambalajul original si complet, asa cum a fost livrat (pachet complet, asta insemnand si suportii de polistiren sau carton care au rolul de protejare al produsului)<br>
- Produse care prezintă modificări fizice, lovituri, ciobiri, zgârieturi sau care nu respectă termenii de garanție;<br>
- Produse care nu respectă termenii certificatului de garanție;<br>
- Software, licențe desigilate (Sisteme de operare, aplicații, antiviruși etc.), jocuri desigilate, extensii de garanție desigilate; licențe electronice (software/aplicații PC, Android etc.) - odata transmise electronic, nu se pot returna;<br>
- Sisteme PC, laptopuri, ultrabookuri, servere cu sisteme de operare preinstalate, care au suferit modificări la sistemele de operare iar acestea nu se pot aduce la starea inițială (reinstalarea unor alte sisteme de operare, coruperea acestora din pricina utilizatorului);<br>
- Telefoane mobile, smartphone-uri, tablete, sisteme de navigație, mp3/4 playere, cd/dvd auto cu sistemele de operare schimbate față de cele din fabrică (rootarea dispozitivelor - acest lucru contravine condițiilor de garanție ale producătorilor);<br>
- Aparate de aer conditionat folosite si/sau fara ambalajul original<br>
- Consumabile desigilate (cartușe, tonere, riboane etc.);<br>
- Imprimante/multifuncționale/aparate de fax care au cartușele/tonerele/consumabile desigilate;<br>
- Servere sau accesorii pentru acestea; 
- Produse din categoria Sport & Fitness folosite, fara ambalajul original si fara toate etichetele originale nedeteriorate sau lipsa
- Produse aduse pe comenzi speciale;
- Produse susceptibile a se deteriora sau expira rapid;
- Produse sigilate care nu pot fi returnate din motive de protecție a sănătății sau din motive de igienă și care au fost desigilate de cumpărător;
- Produse de îngrijire personală;
- Produse identice desigilate în cazul achiziționării mai multor bucăți (in acest caz se accepta o singura bucata desigilata);
- Produse primite cadou la alte produse;
- Produse consumabile, care prin natura lor, odată desigilate nu pot fi revândute sub nici o formă.

Produsele care prezintă defecțiuni sau vicii de fabricație vor intra în regim normal de garanție (nu defecte cauzate de utilizator, care contravin termenilor de garanție). 



<li class="red-title">DATE RETURNARE:</li>
<li>

Produsele vor fi returnate (pachet complet, așa cum au fost primite și după caz împreună cu produsele cadou) conform celor de mai jos:
Atex Computer SRL 
str. Stephan Ludwig Roth, nr. 21, Cluj-Napoca
Telefon : 0264-599009; 
E-mail : office@atexpc.ro
Este recomandat ca produsele să fie returnate direct la sediul nostru sau prin curier rapid.
Produsele returnate prin curier nu se vor trimite cu RAMBURS. Returnarea banilor aferenți comenzilor returnate prin curierat se va face prin transfer bancar sau mandat poștal.
									
</li>
<li class="red-title">FORȚA MAJORĂ</li>
<li>
Nici una dintre părți nu va fi răspunzătoare pentru neexecutarea obligațiilor sale contractuale, dacă o astfel de neexecutare este datorată unui eveniment de forță majoră. Forța majoră este evenimentul imprevizibil, în afara controlului părților și care nu poate fi evitat.
Termenii si conditiile de comercializare a produselor pe site-ul atexpc.ro pot fi modificate prin consens al conducerii companiei ce administreaza site-ul. Propunerile de modificare a vor fi comunicate în prealabil tuturor membrilor conducerii.<br>

Termenii de utilizare publicati pe site-ul www.atexpc.ro, precum si procedura de solutionare a reclamatiilor consumatorilor finali pot fi accesate oricând de către Client, consultate și printate; sunt arhivate electronic de către Atex Copmputer SRL și fac proba raporturilor juridice dintre părţi.
Prezentul exemplar reprezintă originalul Termenilor de utilizare şi este semnat de catre Directorul General.</li>
								
								

                                
                         

                               
                            </ul>
                        </div>
                    </div>
                </div>

{% endblock content_right %}