{% extends "base_2col.html" %}
{% block title %}Finalizeaza comanda | ATEX Computer{% endblock %}

{% block head %}

{% if done %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47568503-1']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans',
    '{{ order.id }}',           // transaction ID - required
    'ATEX',           // affiliation or store name
    '{{ cart.price }}',          // total - required
    '0',              // tax
    '{{ cart.delivery_price }}',              // shipping
    '{{ order.delivery_city }}',       // city
    '{{ order.delivery_county }}',     // state or province
    'Romania'             // country
  ]);

  {% for item in cart.items %}
  _gaq.push(['_addItem',
    '{{ order.id }}',           // transaction ID - required
    '{{ item.product.model }}',           // SKU/code - required
    '{{ item.product.name }}',        // product name
    '{{ item.product.category }}',   // category or variation
    '{{ item.product.price }}',          // unit price - required
    '{{ item.count }}'               // quantity - required
  ]);
  {% endfor %}

  _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}

{% endblock %}

{% block content_right %} 
{% if done %}
<img src="//drs2.veinteractive.com/DataReceiverService.asmx/Pixel?journeycode=26D79105-E725-48B5-AFB4-54F26CD414BC" width="1" height="1"/>
{% endif %}          
                <div class="cos_content">                   
                    <div class="product-section">
                        <div class="tab_d_holder_right">
                            <span class="down_left"></span>
                                <ul class="tab_downcat">
                                    <li><span>cos cumparaturi</span></li>                                
                                </ul>
                            <span class="down_right"></span>
                        </div>
                        <ul class="pasi">
                            <li><a href="{% url "cart" %}"><span class="cos-01" id=""></span>Cosul de cumparaturi</a></li>
                            <li><a href="{% url "order" %}"><span class="cos-02" id=""></span>Date personale de facturare</a></li>
                            <li><span class="cos-03 active" id=""></span>Confirmare comanda</li>
                        </ul>
                    </div>
                    <div class="pas-03">
                        <div class="product-section">
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>confirmare comanda</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                        </div>
                        <div class="verificare">
                            {% if done %}
                            Va multumim pentru comanda dumneavoastra!
                            {% else %}
                            Va rugam sa verificati corectitudinea datelor de mai jos.
                            {% endif %}
                        </div>
                        <ul class="info-comanda">
                            {% if done %}
                            <li class="comanda">Numar comanda: <span class="red_b">{{ order.id }}</span></li>
                            {% endif %}
                            <li>&nbsp;</li>

                            {% if order.customer_type == 'j' or order.customer_type == 'o' %}
                            <li><strong>{{ order.company }}</strong></li>
                                {% if order.customer_type == 'j' %}
                                <li>CUI: <strong>{% if order.vat %}RO{% endif %}{{ order.cui }}</strong></li>
                                <li>Reg.com.: <strong>{{ order.regcom }}</strong></li>
                                {% elif order.customer_type == 'o' %}
                                <li>CIF: <strong>{% if order.vat %}RO{% endif %}{{ order.cif }}</strong></li>
                                {% endif %}
                            <li>Banca: <strong>{{ order.bank }}</strong></li>
                            <li>Cont: <strong>{{ order.bank_account }}</strong></li>
                            <li>&nbsp;</li>
                            {% endif %}

                            <li><strong>{{ order.first_name }} {{ order.last_name }}</strong></li>
                            {% if order.customer_type == 'f' %}
                            {% if order.cnp %}<li>CNP: <strong>{{ order.cnp }}</strong></li>{% endif %}
                            <li>{{ order.address }}</li>
                            <li>{{ order.city }}, Jud. {{ order.county }}</li>
                            <li>&nbsp;</li>
                            {% endif %}

                            <li>Telefon: <strong>{{ order.phone }}</strong></li>
                            <li>Email: <strong>{{ user.email }}</strong></li>
                            <li>&nbsp;</li>

                            <li>
                                {% if order.delivery == 'no' %}
                                    <strong>Ridicati comanda de la sediul ATEX Computer</strong>:<br />
                                    <a href="{% url "contact" %}" target="_blank">
                                        Str. Stephan Ludwig Roth, nr. 21<br/>
                                        Cluj-Napoca, 400174 <br/>
                                    </a>
                                {% elif order.delivery == 'yes' %}
                                    <strong>Livrare la adresa</strong>:<br/>
                                    {{ order.delivery_address }}<br/>
                                    {{ order.delivery_city }}, Jud. {{ order.delivery_county }}
                                {% endif %}
                            </li>
                            <li>&nbsp;</li>

                            {% if cart.payment %}
                            <li><strong>{{ cart.payment_description }}</strong></li>
                            <li>&nbsp;</li>
                            {% endif %}

                            {% if order.notes %}
                            <li>Observatii: {{ order.notes }}</li>
                            {% endif %}
                        </ul>   
                        <table class="detalii-comanda" width="450px">
                            <colgroup>
                                <col width="200px" align="left" />
                                <col width="90px" align="right" />
                                <col width="70px" align="center" />
                                <col width="90px" align="right" />
                            </colgroup>
                            <thead>
                                <td>Produse</td>
                                <td class="right">Pret unitar</td>
                                <td class="center">Cantitate</td>
                                <td class="right">Total</td>
                            </thead>
                            {% if cart.delivery %}
                            <tr>
                                <td>Livrare rapida</td>
                                <td class="right">{{ cart.delivery_price }} lei</td>
                                <td class="center">1</td>
                                <td class="right">{{ cart.delivery_price }} lei</td>
                            </tr>
                            {% endif %}
                            {% for item in cart.items %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td class="right">{{ item.product.price }} lei</td>
                                <td class="center">{{ item.count }}</td>
                                <td class="right">{{ item.price }} lei</td>
                            </tr>
                            {% endfor %}
                            <tr class="info-total">
                                <td colspan="2" class="right">TOTAL</td>
                                <td colspan="2" class="right">{{ cart.price }} lei</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    Aceasta nu este o confirmare din partea ATEX Computer SRL,
                                    <font color="red"><b>confirmarea</b></font> de pret si termenul de livrare o veti primi prin <font color="red"><b>telefon</b></font> sau pe adresa de <font color="red"><b>e-mail</b></font> furnizata la inregistrare
                                    in termen de <font color="red"><b>maxim doua zile lucratoare</b></font> de la data efectuarii comenzii !
                                    <br><br>

                                    {% if not done %}
                                    <form id="confirmform" method="post">
                                        {% csrf_token %}
                                        {% if must_agree %}
                                        <p style="color:red;">Este necesar sa fiti de acord cu termenii si conditiile pentru a finaliza comanda!</p>
                                        {% endif %}
                                        <input type="checkbox" name="agree" value="true" style="opacity:0; position:absolute;" > Sunt de acord cu <a target="_blank" style="color:red;" href="/conditii">termenii si conditiile</a>!
                                        <a href="#" class="confirma"><span></span>Confirma</a>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                        </table> 
                    </div>  
                     <!-- end pas 03 -->
                </div>
{% endblock content_right %}
