{% extends "base_2col.html" %}

{% block body_extra %}
<div class="rezumat">
    <div class="continut">
        <div class="tab_rezumat">
            <p>REZUMAT COMANDA </p><span></span>
        </div>
        <div class="show_rezumat">
            <ul>
                <li><span class="domiciliu">Livrare la domiciliu</span></li>
                <li><span class="numerar">Plata numerar</span></li>
                <li><span class="total">TOTAL PLATA: {{ cart.price }} lei</span></li>
            </ul>
        </div>
    </div>
</div>
{% endblock body_extra %}

{% block content_right %}        	
                <div class="cos_content">                	
                    <div class="product-section">
                    	<div class="tab_d_holder_right">
                            <span class="down_left"></span>
                                <ul class="tab_down">
                                    <li><span>cos cumparaturi</span></li>                                
                                </ul>
                            <span class="down_right"></span>
                        </div>
                        <ul class="pasi">
                            <li><span class="cos-01" id=""></span>Cosul de cumparaturi</li>
                            <li><span class="cos-02" id=""></span>Date personale de facturare</li>
                            <li><span class="cos-03 active" id=""></span>Confirmare comanda</li>
                        </ul>
                    </div>
                    <div class="pas-03">
                    	<div class="product-section">
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>confirmare comanda</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                        </div>
                        <div class="verificare">Va rugam sa verificati corectitudinea datelor de mai jos.</div>
                        <ul class="info-comanda">
                        	<li class="comanda">Numar comanda: <span class="red_b">{{ cart.id }}</span></li>
                            <li>&nbsp;</li>
                        	<li><strong>{{ user.get_full_name }}</strong></li>
                            <li>{{ user.address }}</li>
                            <li>{{ user.city }}, Jud. {{ user.county }}</li>
                            <li>&nbsp;</li>
                            <li>Telefon: <strong>{{ user.phone }}</strong></li>
                            <li>Email: <strong>{{ user.email }}</strong></li>                        
                        </ul>   
                        <table class="detalii-comanda" width="450px">
                        	<colgroup>
                            	<col width="200px" align="left" />
                                <col width="90px" align="right" />
                                <col width="70px" align="center" />
                                <col width="90px" align="right" />
                            </colgroup>
                        	<thead>
                            	<td>Produse</td>
                                <td class="right">Pret unitar</td>
                                <td class="center">Cantitate</td>
                                <td class="right">Total</td>
                            </thead>
                            <tr>
                            	<td>Livrare rapida</td>
                                <td class="right">15.00 lei</td>
                                <td class="center">1</td>
                                <td class="right">15.00 lei</td>
                            </tr>
                            {% for item in cart.items %}
                            <tr>
                            	<td>{{ item.product.name }}</td>
                                <td class="right">{{ item.product.price }} lei</td>
                                <td class="center">{{ item.count }}</td>
                                <td class="right">{{ item.price }} lei</td>
                            </tr>
                            {% endfor %}
                            <tr class="info-total">
                            	<td colspan="2" class="right">TOTAL</td>
                                <td colspan="2" class="right">{{ cart.price }} lei</td>
                            </tr>
                        </table> 
                        <a href="#" class="confirma"><span></span>Confirma</a>
                    </div>	
                     <!-- end pas 03 -->
                </div>
{% endblock content_right %}
