{% extends "base_2col.html" %}
{% load atex_tags %}

{% block content_right %}
            	<div class="contact-content">
                    	<div class="red-bottom"> 
                			<div class="tab_u_holder_left">
                            	<span class="up_left"></span>
                                	<ul class="tab_up">
                                    	<li><span>date contact</span></li>                                
                                	</ul>
                            	<span class="up_right"></span>
                   			 </div> 
                             <div class="info-contact" style="width:385px;">
                             	<ul>
                                	<li class="red-title">ATEX COMPUTER SRL</li>
                                    <li>Str. Stephan Ludwig Roth, nr. 21 Cluj-Napoca, 400174 <br />
                                        ( Puncte de reper : in spatele restaurantului Marty de pe Str. Horea ) 
                                    </li>
                                    
                                    <li class="red-title">Vanzari : </li>
                                    <li><b>Telefon Romtelecom:</b> 0264-599009 </li>
                                    <li><b>Telefon Orange:</b> 0751-433284 </li>
                                    <li><b>Telefon Vodafone:</b> 0735-968743 </li>
                                    <li><b>Fax:</b> 0264-599709 </li>
                                    <li><b>e-mail</b>: office@atexpc.ro </li>
                                    <li><b>Orar :</b> </li>  
                                        <li class="orar-pad"> <b>Luni-Vineri:</b> 10:00 - 18:00</li>  
                                        <li class="orar-pad"> <b>Sambata:</b> 10:00 - 13:00</li>   
                                        
                                    <li class="red-title">Service/Garantii : </li>
                                    <li><b>Telefon Romtelecom:</b> 0264-599709 </li>
                                    <li><b>e-mail:</b> garantii@atexpc.ro </li>
                                    <li><b>Orar:</b> </li>  
                                        <li class="orar-pad"> <b>Luni-Vineri:</b> 10:00 - 18:00 </li>  
                                        <li class="orar-pad"> <b>Sambata:</b> Inchis</li>  
                                 </ul>          
                             </div>                             
                        	<div class="map-wrapper">
                             	<iframe class="gmap-border" width="485" height="435" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=205342714700961790690.0004cbd78b069ec125f51&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=46.775013,23.586992&amp;spn=0.002893,0.006703&amp;output=embed"></iframe><br /><span style="float:right; font-size:10px;">Vizualizati <a href="https://maps.google.com/maps/ms?msid=205342714700961790690.0004cbd78b069ec125f51&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=46.775013,23.586992&amp;spn=0.002893,0.006703&amp;source=embed" style="color:#c62123;text-align:left">Sediul ATEX Computer</a> pe o harta mai mare</span>
                        	</div>
                    	</div>
                        <div class="red-bottom"> 
                			<div class="tab_u_holder_left">
                            	<span class="up_left"></span>
                                	<ul class="tab_up">
                                    	<li><span>date fiscale</span></li>                                
                                	</ul>
                            	<span class="up_right"></span>
                   			 </div> 
                             <div class="info-contact">
                             	<ul>
                                	<li class="red-title">ATEX Computer SRL </li>
                                    <li><b>COD Fiscal:</b>  RO 2885022  </li>
                                    <li><b>Registrul Comertului Cluj:</b>  J12/3961/1992 </li>
                                    <li><b>Sediu Social:</b>  Str. Stephan Ludwig Roth, nr. 21 Cluj-Napoca, 400174 </li>
                                    <li><b>Banca:</b>  BCR - Cluj-Napoca <span class="red_b">|</span>    <b>Cont :</b>  RO11 RNCB 0106 1221 6026 0003 </li>
                                    <li><b>Banca:</b>  Trezoreria Cluj-Napoca  <span class="red_b">|</span>   <b>Cont :</b>  RO47 TREZ 2165 069X XX00 7890 </li>
                            	</ul>
                             </div>
                        </div>     
{% endblock content_right %}
