{% extends "base_2col.html" %}
{% load atex_tags %}
{% block title %}Contact si program de lucru | ATEX Computer{% endblock %}

{% block head %}
	<meta name="description" content="Strada Stephan Ludwig Roth, nr. 21 Cluj-Napoca, 400174.">

	<meta name="keywords" content="contact ATEX"> 
	<script>
        /*
        $(document).ready(function() {
            $("#single_1").fancybox({
                helpers: {
                    title : {
                        type : 'float'
                            }
                        }
            });

            $("#single_2").fancybox({
            openEffect    : 'elastic',
            closeEffect    : 'elastic',

                helpers : {
                    title : {
                        type : 'inside'
                            }
                        }
            });

            $("#single_3").fancybox({
                openEffect : 'none',
                closeEffect    : 'none',
                helpers : {
                title : {
                type : 'outside'
                        }
                            }
            });

            $("#single_4").fancybox({
            helpers : {
                title : {
                type : 'over'
                        }
                    }
            });
        });
        */
    </script>
{% endblock %}
{% block content_right %}
            	<div class="contact-content">
                    	<div class="red-bottom"> 
                			<div class="tab_u_holder_left">
                            	<span class="up_left"></span>
                                	<ul class="tab_up">
                                    	<li><span>date contact</span></li>                                
                                	</ul>
                            	<span class="up_right"></span>
                   			 </div> 
                             <div class="info-contact" style="width:385px;">
                             	<ul>
                                	<li class="red-title">ATEX COMPUTER SRL</li>
                                    <li>Str. Stephan Ludwig Roth, nr. 21 Cluj-Napoca, 400174 <br />
                                        ( Puncte de reper : in spatele restaurantului Marty de pe Str. Horea ) 
                                    </li>
                                    
                                    <li class="red-title">Vanzari : </li>
                                    <li><b>Telefon Romtelecom:</b> 0264-599009 </li>
                                    <li><b>Telefon Vodafone:</b> 0735-968743 </li>
                                    <li><b>Fax:</b> 0264-599709 </li>
                                    <li><b>e-mail</b>: office@atexpc.ro </li>
                                    <li><b>Orar :</b> </li>  
                                        <li class="orar-pad"> <b>Luni-Vineri:</b> 10:00 - 18:00</li>  
                                        <li class="orar-pad"> <b>Sambata:</b> 10:00 - 13:00 </li>
                                        
                                    <li class="red-title">Service/Garantii : </li>
                                    <li><b>Telefon Romtelecom:</b> 0264-599709 </li>
                                    <li><b>e-mail:</b> garantii@atexpc.ro </li>
                                    <li><b>Orar:</b> </li>  
                                        <li class="orar-pad"> <b>Luni-Vineri:</b> 10:00 - 18:00 </li>  
                                        <li class="orar-pad"> <b>Sambata:</b> Inchis</li>  
                                 </ul>          
                             </div>                             
                        	<div class="map-wrapper">
                                <iframe class="gmap-border" width="485" height="435" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1026.8672617754553!2d23.58631823414452!3d46.77558385471571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490e993951d947%3A0xfe812560836a0e78!2sATEX+Computer+SRL!5e0!3m2!1sen!2sro!4v1515065549031" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                <br /><span style="float:right; font-size:10px;">Vizualizati <a href="https://www.google.ro/maps/place/ATEX+Computer+SRL/@46.7755839,23.5863182,18.41z/data=!4m5!3m4!1s0x47490e993951d947:0xfe812560836a0e78!8m2!3d46.775724!4d23.586629?hl=en" style="color:#c62123;text-align:left" target="_blank">Sediul ATEX Computer</a> pe o harta mai mare</span>
                    	</div>
                    	</div>
						<p style="text-align:center"><a id="single_1" href="{{ STATIC_PREFIX }}images/contact/1.jpg" >
								<img src="{{ STATIC_PREFIX }}images/contact/1s.jpg" alt="ATEX Computer - Magazin IT Cluj Napoca" />
						</a>
						<a id="single_1" href="{{ STATIC_PREFIX }}images/contact/2.jpg" >
								<img src="{{ STATIC_PREFIX }}images/contact/2s.jpg" alt="ATEX Computer - Magazin IT Cluj Napoca" />
						</a>
						<a id="single_1" href="{{ STATIC_PREFIX }}images/contact/3.jpg" >
								<img src="{{ STATIC_PREFIX }}images/contact/3s.jpg" alt="ATEX Computer - Magazin IT Cluj Napoca" />
						</a>
						<a id="single_1" href="{{ STATIC_PREFIX }}images/contact/4.jpg" >
								<img src="{{ STATIC_PREFIX }}images/contact/4s.jpg" alt="ATEX Computer - Magazin IT Cluj Napoca" />
						</a>
						<a id="single_1" href="{{ STATIC_PREFIX }}images/contact/5.jpg" >
								<img src="{{ STATIC_PREFIX }}images/contact/5s.jpg" alt="ATEX Computer - Magazin IT Cluj Napoca" />
						</a>
			</p>
                        <div class="red-bottom"> 
                			<div class="tab_u_holder_left">
                            	<span class="up_left"></span>
                                	<ul class="tab_up">
                                    	<li><span>date fiscale</span></li>                                
                                	</ul>
                            	<span class="up_right"></span>
                   			 </div> 
                             <div class="info-contact">
                             	<ul>
                                	<li class="red-title">ATEX Computer SRL </li>
                                    <li><b>COD Fiscal:</b>  RO 2885022  </li>
                                    <li><b>Registrul Comertului Cluj:</b>  J12/3961/1992 </li>
                                    <li><b>Sediu Social:</b>  Str. Stephan Ludwig Roth, nr. 21 Cluj-Napoca, 400174 </li>
                                    <li><b>Banca:</b>  BCR - Cluj-Napoca <span class="red_b">|</span>    <b>Cont :</b>  RO11 RNCB 0106 1221 6026 0003 </li>
                                    <li><b>Banca:</b>  Trezoreria Cluj-Napoca  <span class="red_b">|</span>   <b>Cont :</b>  RO47 TREZ 2165 069X XX00 7890 </li>
                            	</ul>
                             </div>
                        </div>     
{% endblock content_right %}
