
<head>
<style type="text/css">
.auto-style1 {
	text-align: center;
}
</style>
</head>

{% extends "base.html" %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Concurs{% endblock title %}
{% block head %}
	<meta name="description" content="Concursuri desfasurate | ATEX Computer">

	<meta name="keywords" content="concurs ATEX"> 
{% endblock %}

{% block content_top %}
{% endblock content_top %}

{% block content %}
<table style="width: 100%">
	<tr>
		<td class="auto-style1"><img src="{{ STATIC_PREFIX }}images/concurs_brasil_2014.jpg" align="center" width="auto" /></td>
	</tr>
	<tr>
		<td class="auto-style1"><img src="{{ STATIC_PREFIX }}images/brasil_concurs2.png" align="center" width="auto" /></td>
	</tr>
	<tr>
		<td class="auto-style1" style="height: 440px"><br><img src="{{ STATIC_PREFIX }}images/grupe.jpg" align="center" width="auto" /><br>
		<br>
		<a href="https://www.facebook.com/photo.php?fbid=674482792619750&amp;set=a.376957145705651.83524.134752229926145&amp;type=1&amp;theater" target="_blank">
		<img src="{{ STATIC_PREFIX }}images/buton.png" align="center" width="auto" /></a><br>
		<strong>Regulament:<br></strong><br>Alege-ti echipa favorita, 
		inscrie-te cu ea in concurs, like &amp; share la concursul nostru de pe 		<a href="https://www.facebook.com/atexpc">facebook</a>.<br>Daca echipa 
		care ai ales-o trece mai departe de faza grupelor, noi te premiem! 
		Alegem un singur castigator pentru fiecare echipa, care va fi extras cu 
		ajutorul site-ului <a href="http://www.random.org">www.random.org</a>.<br>
		Nu te poti inscrie decat cu o singura echipa. Inscrierea se poate face 
		pana la inceperea meciurilor din grupa din care echipa face parte. <br>
		ex: Daca iti alegi Brazilia, te vei putea inscrie in concurs cu echipa 
		Braziliei pana in 12.06.2014 ora 19:00.<br>&nbsp;Concursul va avea 5 etape: 
		GRUPE, OPTIMI, SFERTURI, SEMIFINALA, FINALA. <br>Valoarea premilor este 
		de aproximativ 6000 LEI.<br><br><strong>DACA PE PERIOADA CONCURSUL PLASEZI O COMANDA PE SITE-UL NOSTRU BENEFICIEZI DE INCA O SANSA, TI SE VOR ALOCA 2 NUMERE LA EXTRAGERE!!!</STRONG><br><strong><br>Premii: </strong><br>1 x
		<a href="http://www.atexpc.ro/produs/54067-genti-si-huse-canyon-cnr-fnb02">
		http://www.atexpc.ro/produs/54067-genti-si-huse-canyon-cnr-fnb02</a><br>
		1 x
		<a href="http://www.atexpc.ro/produs/48376-genti-si-huse-canyon-cnr-fnb01">
		http://www.atexpc.ro/produs/48376-genti-si-huse-canyon-cnr-fnb01</a><br>
		1 x
		<a href="http://www.atexpc.ro/produs/54082-boxe-pc-canyon-cnr-sp20jb">
		http://www.atexpc.ro/produs/54082-boxe-pc-canyon-cnr-sp20jb</a><br>1 x
		<a href="http://www.atexpc.ro/produs/47983-casti-pc-canyon-cnr-hs01nb">
		http://www.atexpc.ro/produs/47983-casti-pc-canyon-cnr-hs01nb</a><br>1 x
		<a href="http://www.atexpc.ro/produs/54109-casti-pc-canyon-cnr-ep01n">
		http://www.atexpc.ro/produs/54109-casti-pc-canyon-cnr-ep01n</a><br>1 x
		<a href="http://www.atexpc.ro/produs/52766-card-reader-hub-usb-canyon-cnr-usbhub06n">
		http://www.atexpc.ro/produs/52766-card-reader-hub-usb-canyon-cnr-usbhub06n</a><br>
		1 x
		<a href="http://www.atexpc.ro/produs/50447-calculator-birou-canon-kc-30-wh">
		http://www.atexpc.ro/produs/50447-calculator-birou-canon-kc-30-wh</a><br>
		5 x
		<a href="http://www.atexpc.ro/produs/24157-antivirus-kaspersky-kms-box-1dthttp://www.atexpc.ro/produs/24157-antivirus-kaspersky-kms-box-1dt">
		http://www.atexpc.ro/produs/24157-antivirus-kaspersky-kms-box-1dt</a><br>
		2 x
		<a href="http://www.atexpc.ro/produs/48253-genti-si-huse-targus-tes004euhttp://www.atexpc.ro/produs/48253-genti-si-huse-targus-tes004eu">
		http://www.atexpc.ro/produs/48253-genti-si-huse-targus-tes004eu</a></td>
	</tr>
	<tr>
		<td class="auto-style1">&nbsp;</td>
	</tr>
</table>

</br></br>

{% endblock content %}
