<head>
<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	font-size: large;
}
.auto-style3 {
	font-size: medium;
}
.auto-style5 {
	background-color: #FFFFFF;
}
.auto-style6 {
	font-size: x-large;
}
</style>
</head>


{% extends "base.html" %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Concurs{% endblock title %}
{% block head %}
	<meta name="description" content="Concursuri desfasurate | ATEX Computer">

	<meta name="keywords" content="concurs ATEX"> 
{% endblock %}

{% block content_top %}
{% endblock content_top %}

{% block content %}
<table style="width: 100%">
	<tr>
		<td class="auto-style1"><img src="{{ STATIC_PREFIX }}images/PENDING.jpg" align="center" width="auto" /></td>
	</tr>
</table>

</br></br>

{% endblock content %}
