{% extends "base.html" %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Concurs{% endblock title %}
{% block head %}
	<meta name="description" content="Concursuri desfasurate | ATEX Computer">

	<meta name="keywords" content="concurs ATEX"> 
{% endblock %}

{% block content_top %}
{% endblock content_top %}

{% block content %}
<p align="center"><img src="{{ STATIC_PREFIX }}images/PENDING.jpg" align="center" width="auto" /></p>

</br></br>

{% endblock content %}
