{% extends "base_2col.html" %}
{% load atex_tags %}

{% block content_top %}{% endblock content_top %}

{% block content_right %}
            	<div class="atex_bn_wrapper" >
                    <div class="titlu_top">
                        <span class="up_left"></span>
                            <ul class="tab_up">                                    
                                <li>promotii</li>
                                <li><span class="spacer">|</span></li>  
                                <li>oferte</li>                                      
                            </ul>
                         <span class="up_right"></span>
                    </div>                                   
                    <div class="atex_bn" id="ui-tabs">             
                        <div id="fragment-1" class="picture_atex_bn ui-tabs-panel">
                            <a href="/produs/53668-aplicatii-office-microsoft-t5d-01574"><img src="{{ STATIC_PREFIX }}images/640X357-BANNER2.jpg" /></a>
                        </div>
                        <div id="fragment-2" style="display:none" class="picture_atex_bn ui-tabs-panel">
                            <a href="/produs/54831-laptop-lenovo-59-370471"><img src="{{ STATIC_PREFIX }}images/LENOVER.jpg" /></a>
                        </div>
                        <div id="fragment-3" style="display:none" class="picture_atex_bn ui-tabs-panel">
                            <a href="/produs/36132-hard-disk-western-digital-500gb-sata-iii-7200rpm-16mb-caviar-blue-kx"><img src="{{ STATIC_PREFIX }}images/229.jpg" /></a>
                        </div>
                        <div id="fragment-4" style="display:none" class="picture_atex_bn ui-tabs-panel">
                            <a href="/produs/52030-monitor-philips-226v4lsb00"><img src="{{ STATIC_PREFIX }}images/FILIP2.jpg" /></a>
                        </div>
                        <ul class="atex_bn_right_wrapper ui-tabs-nav">
                            <li class="first ui-tabs-nav-item ui-tabs-selected" id="ui-tabs-fragment-1">
                            	<a href="#fragment-1">
                                	<p>Microsoft Office 2013</p>
                                   <span class="pret-atex_bn">Pret 1.049 LEI</span>
                                    
                                </a>
                            </li>
                            <li class="ui-tabs-nav-item" id="ui-tabs-fragment-2">
                            	<a href="#fragment-2">
                                	<p>Laptop Lenovo </p>
                                   <span class="pret-atex_bn">Pret 1.199 LEI</span>
                                </a>
                            </li>
                            <li class="ui-tabs-nav-item" id="ui-tabs-fragment-3">
                            	<a href="#fragment-3">
                                	<p>HDD Western Digital</p>
                                    <span class="pret-atex_bn">Pret 229 LEI</span>
                                </a>                            
                            </li>
                            <li class="last ui-tabs-nav-item" id="ui-tabs-fragment-4">
                            	<a href="#fragment-4">Monitor Philips<span class="pret-atex_bn">Pret 449 LEI</span>
                                    <span class="small-text"></span>
                                </a>                            
                            </li>
                        </ul>    
                    </div>
            	</div><!-- end atex_bn -->
                <div class="right_content">
                	<div class="topuri">
                    	<div class="titlu_top">
                        	<span class="up_left"></span>
                                <ul class="tab_up">                                    
                                    <li>top vanzari</li>                                    
                                </ul>
                            <span class="up_right"></span>
                         </div> 
                         <ul class="produse_top">
                            {% for product in hits %}
                            <li {% if forloop.last %}class="last"{% endif %}>
                                <a href="{{ product.url }}" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="{{ product.images.0|thumbnail:"80x80" }}" width="80" height="80" alt="{{ product.name }}" title="{{ product.name }}" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="{{ product.url }}">{{ product.name }}</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">{{ product.price }}</span> RON
                                </div> 
                            </li>
                            {% endfor %}
                         </ul> 
                    </div>     
                         <!-- end top1 -->
					<div class="topuri">
                    	<div class="titlu_top">
                        	<span class="up_left"></span>
                                <ul class="tab_up">                                    
                                    <li>recomandari</li>                                    
                                </ul>
                            <span class="up_right"></span>
                         </div>     
                         <ul class="produse_top">
                            {% for product in recommended %}
                         	<li {% if forloop.last %}class="last"{% endif %}> 
                            	<a href="{{ product.url }}" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="{{ product.images.0|thumbnail:"80x80" }}" width="80" height="80" alt="{{ product.name }}" title="{{ product.name }}" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="{{ product.url }}">{{ product.name }}</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">{{ product.price }}</span> RON
                                </div> 
                            </li>
                            {% endfor %}
                         </ul>
                    </div>       
                         
                         <!-- end top 2  -->
                    <div class="topuri last">
                    	<div class="titlu_top">
                        	<span class="up_left"></span>
                                <ul class="tab_up">                                    
                                    <li>top oferte</li>                                    
                                </ul>
                            <span class="up_right"></span>
                         </div>      
                         <ul class="produse_top">
                            {% for product in promotional %}
                         	<li {% if forloop.last %}class="last"{% endif %}>
                            	<a href="{{ product.url }}" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="{{ product.images.0|thumbnail:"80x80" }}" width="80" height="80" alt="{{ product.name }}" title="{{ product.name }}" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="{{ product.url }}">{{ product.name }}</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">{{ product.price }}</span> RON
                                </div> 
                            </li>
                            {% endfor %}
                         </ul>    
                    </div>
                     <!-- end top 3 --> 
                </div>
{% endblock content_right %}
