{% extends "base_2col.html" %}
{% load cache atex_tags %}

{% block title %}ATEX - Noi vindem calculatoare!{% endblock %}

{% block head %}
	<meta name="description" content="Magazin de calculatoare si componente IT Cluj-Napoca. Laptop-uri, notebook-uri, desktop-uri, accesorii si periferice PC.">

	<meta name="keywords" content="vanzari online calculatoare, computere, aparate foto digitale, monitoare, imprimante laser si jet, telefoane gsm, software, componente PC, procesoare, notebook, laptop, laptop-uri, hard-diskuri, hard disk-uri, camere video, notebook, software, Cluj-Napoca"> 
{% endblock %}

{% block content_top %}{% endblock content_top %}

{% block content_right %}
    {% cache 60 home %}
			  <ul class="bxslider">
                <li><a href="http://www.atexpc.ro/produs/76786-ultrabook-lenovo-x1-carbon-3-cu-procesor-intel-core-i7"><img src="{{ STATIC_PREFIX }}images/promotii/thinkpad-x1-carbon3.jpg" alt="Lenovo ThinkPad x1 Carbon 3" title="Lenovo ThinkPad x1 Carbon 3" /></a></li>
                <li style="display:none"><a href="http://www.atexpc.ro/produs/68391-procesor-intel-core-i3-4170-37-ghz-socket-1150"><img src="{{ STATIC_PREFIX }}images/promotii/i3-4170.jpg" alt="Intel Core I3 4170" title="Intel Core I3 4170" /></a></li>
			  </ul>

              <div class="right_content">
                	<div class="topuri">
                    	<div class="titlu_top">
                        	<span class="up_left"></span>
                                <ul class="tab_up">                                    
                                    <li>top vanzari</li>                                    
                                </ul>
                            <span class="up_right"></span>
                         </div> 
                         <ul class="produse_top">
                            {% for product in view.get_hits %}
                            <li {% if forloop.last %}class="last"{% endif %}>
                                <a href="{{ product.url }}" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="{{ product.images.0|thumbnail:"80x80" }}" width="80" height="80" alt="{{ product.name }}" title="{{ product.name }}" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="{{ product.url }}">{{ product.name }}</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">{{ product.price }}</span> RON
                                </div> 
                            </li>
                            {% endfor %}
                         </ul> 
                    </div>     
                         <!-- end top1 -->
					<div class="topuri">
                    	<div class="titlu_top">
                        	<span class="up_left"></span>
                                <ul class="tab_up">                                    
                                    <li>recomandari</li>                                    
                                </ul>
                            <span class="up_right"></span>
                         </div>     
                         <ul class="produse_top">
                            {% for product in view.get_recommended %}
                         	<li {% if forloop.last %}class="last"{% endif %}> 
                            	<a href="{{ product.url }}" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="{{ product.images.0|thumbnail:"80x80" }}" width="80" height="80" alt="{{ product.name }}" title="{{ product.name }}" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="{{ product.url }}">{{ product.name }}</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">{{ product.price }}</span> RON
                                </div> 
                            </li>
                            {% endfor %}
                         </ul>
                    </div>       
                         
                         <!-- end top 2  -->
                    <div class="topuri last">
                    	<div class="titlu_top">
                        	<span class="up_left"></span>
                                <ul class="tab_up">                                    
                                    <li>top oferte</li>                                    
                                </ul>
                            <span class="up_right"></span>
                         </div>      
                         <ul class="produse_top">
                            {% for product in view.get_promotional %}
                         	<li {% if forloop.last %}class="last"{% endif %}>
                            	<a href="{{ product.url }}" class="img-wrapper">
                                    <div class="middle size100x100">
                                        <div class="img-holder">
                                            <img class="center" src="{{ product.images.0|thumbnail:"80x80" }}" width="80" height="80" alt="{{ product.name }}" title="{{ product.name }}" />
                                        </div>
                                    </div>
                                </a>
                                <div class="product-title-mic">
                                	<a href="{{ product.url }}">{{ product.name }}</a>
                                </div>   
                                <div class="pret-mic">
                                	Pret: <span class="pret">{{ product.price }}</span> RON
                                </div> 
                            </li>
                            {% endfor %}
                         </ul>    
                    </div>
                     <!-- end top 3 --> 
                </div>
    {% endcache %}
{% endblock content_right %}
