{% extends "base_2col.html" %}

{% block content_right %}          	
<div class="cos_content">
    <div class="product-section">
    	<div class="tab_d_holder_right">
            <span class="down_left"></span>
                <ul class="tab_down">
                    <li><span>login/signup</span></li>
                </ul>
            <span class="down_right"></span>
        </div>
    </div>

    <form id="loginform" method="post">
        {% csrf_token %}
        <div class="rand-cos">
            <ul>
                <li style="font-size: 18pt">Login sau creeaza un cont Atex</li>
                <li style="font-size: 14pt; padding-top:20px">Adresa de email</li>
                <li class="last">
                    <div class="row">
                        <input name="username" type="text" class="input_cos" />
                    </div>
                </li>
            </ul>
        </div>
        <div class="rand-cos">
            <ul>
                <li><input id="logintype_new" name="logintype" type="radio" value="" checked /> <label for="logintype_new">Parola</label></li>
                <li><input name="password" type="password" class="input_cos" /></li>
                <li class="signupfield">
                    Nume
                    <div class="row">
                        <input name="first_name" type="text" class="input_cos" title="prenume"/>
                        <input name="last_name" type="text" class="input_cos" title="nume de familie"/>
                    </div>    
                </li>
                <li>
                    <input type="submit" name="login" class="logininput" value="Log in">
                    <input type="submit" name="signup" class="signupfield" value="Sign up">
                </li>
            </ul>
        </div>
        <div class="rand-cos">
            <ul>
                <li><input id="logintype_nopass" name="logintype" type="radio" value="nopass" /> <label for="logintype_nopass">Fără parolă</label></li>
                <li>
                    <ul>
                        <li>Login cu contul <a href="{% url "socialauth_begin" "facebook" %}">Facebook</a></li>
                    </ul>
                </li>
            </ul>    
        </div>
    </form>

</div>
{% endblock content_right %}
