{% extends "base_2col.html" %}

{% block content_right %}
<div class="cos_content">
    <div class="product-section">
    	<div class="tab_d_holder_right">
            <span class="down_left"></span>
                <ul class="tab_down">
                    <li><span>login/signup</span></li>
                </ul>
            <span class="down_right"></span>
        </div>
    </div>

    <form id="loginform" method="post">
        {% csrf_token %}
        <div class="rand-cos">
            <ul class="login-fields">
                <li style="font-size: 18pt">Login sau creeaza un cont ATEX Computers</li>
                <li class="errors">{{ form.non_field_errors }}</li>
                <li style="padding-top:20px">Adresa de email</li>
                <li class="last">
                    <div class="row">
                        {{ form.username.errors }}
                        {{ form.username }}
                    </div>
                </li>
            </ul>
        </div>
        <div class="rand-cos">
            <ul class="login-fields">
                <li><input id="logintype_new" name="logintype" type="radio" checked /> <label for="logintype_new">Parola</label></li>
                <li>
                    {{ form.password.errors }}
                    <input type="password" name="password" value="{{ form.password.value|default:'' }}" id="masked_password" class="input_cos" />
                    <input type="text" id="readable_password" class="input_cos" readonly style="display: none" />
                </li>
                <li>
                    <input type="checkbox" id="show_password" class="checkbox" /><label for="show_password">Afișează parola</label>
                </li>
                <li class="signupinput">
		      <br />
                    Prenume
                    <div class="row">
                        {{ form.first_name.errors }}
                        {{ signup_form.first_name }}
                    <div class="row">
			<br />
			Nume
		      </div>
                        {{ form.last_name.errors }}
                        {{ signup_form.last_name }}
                    </div>
                </li>
                <li class="signupinput">
                    {{ form.terms.errors }}
                    {{ signup_form.terms }}
                    <label for="terms_checkbox">Am citit si sunt de acord cu Termenii &amp; Conditii de utilizare </label>
                </li>
                <li class="signupinput">
                    {{ form.newsletter.errors }}
                    {{ signup_form.newsletter }}
                    <label for="newsletter_checkbox"> Doresc sa fiu informat, prin email, despre produsele ATEX</label>
                </li>
                <li>
                    <input type="submit" name="login" class="login logininput" value="LOG IN">
                    <input type="submit" name="signup" class="register signupinput" value="REGISTER">
                </li>
            </ul>
        </div>
        <div class="rand-cos">
            <ul class="login-fields">
                <li><input id="logintype_nopass" name="logintype" type="radio" value="nopass" /> <label for="logintype_nopass">Fără parolă - Login cu contul de:</label></li>
                <li>
                    <ul>
                        <li><a class="login-facebook" href="{% url "socialauth_begin" "facebook" %}"><span></span>Facebook</a></li>
                    </ul>
                </li>
            </ul>    
        </div>
    </form>

</div>
{% endblock content_right %}
