{% extends "base_2col.html" %}
{% load atex_tags %}

{% block content_right %}
<script type="text/javascript">
    var counties = {{ counties|jsonify|safe }};
    var customers = {{ customers|jsonify|safe }};
</script>
                <div class="cos_content">
                    <div class="product-section">
                    	<div class="tab_d_holder_right">
                            <span class="down_left"></span>
                                <ul class="tab_down">
                                    <li><span>cos cumparaturi</span></li>                                
                                </ul>
                            <span class="down_right"></span>
                        </div>
                        <ul class="pasi">
                            <li><span class="cos-01" id=""></span>Cosul de cumparaturi</li>
                            <li><span class="cos-02 active" id=""></span>Date personale de facturare</li>
                            <li><span class="cos-03" id=""></span>Confirmare comanda</li>
                        </ul>
                    </div>

                    <div class="pas-02">
                    	<div class="product-section">
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>date de facturare</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                        </div>

                        <form id="orderform" method="post">
                            {% csrf_token %}
                            <!--div class="rand-cos">
                                <ul class="modalitate">
                                    <li class="logininput">
                                        <input name="username" type="text" class="input_cos" placeholder="utilizator"/> 
                                        <input name="password" type="password" class="input_cos" placeholder="parola"/>
                                        <a href="#" class="login-key"></a>
                                    </li>
                                </ul>
                            </div-->
                            {{ form.non_field_errors }}
                            <div class="rand-cos">
                                <ul class="modalitate">
                                    <li>Informații persoană de contact:</li>
                                    <li class="last">
                                      <div class="col-cos">
                                        <div class="row">
                                            <label for="email">Email</label>
                                            {{ form.username.errors }}
                                            <input name="username" type="text" class="input_cos" placeholder="email" value="{{ form.username.value }}" />
                                        </div>
                                      </div>
                                    </li>
                                    <li class="last">
				                      <div class="col-cos">
                                        <div class="row">
                                            <label for="first_name">Prenume</label>
                                            {{ form.first_name.errors }}
                                            <input name="first_name" type="text" class="input_cos" placeholder="prenume" value="{{ form.first_name.value }}" />                                            
                                        </div>
					                  </div>
					                  <div class="col-cos">
                                        <div class="row">
						                    <label for="last_name">Nume</label>
                                            {{ form.last_name.errors }}
                                            <input name="last_name" type="text" class="input_cos" placeholder="nume de familie" value="{{ form.last_name.value }}"/>
					                    </div>
                                      </div>
                                    </li>
                                    <li class="last">
                                      <div class="col-cos">
                                        <div class="row">
                                          <label for="phone">Telefon</label>
                                            {{ form.phone.errors }}
                                            {{ form.phone }}
                                        </div>
                                      </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="rand-cos">
                                <ul class="modalitate">
                                    <li>Informații cumparator:</li>
                                    <li {% if not customers %}style="display: none"{% endif %} class="last">{{ form.customer }}</li>
                                    <li class="last">{{ form.customer_type }}</li>
                                    <li>{{ form.customer_type.errors }}</li>
                                </ul>
                                <ul class="modalitate">
                                    <li>Informatii facturare:</li>
                                    <li class="last">
					    <div class="col-cos">
                                        <div class="row info_type_f">
                                          <label for="cnp">CNP</label>
                                            {{ form.cnp.errors }}
                                            <input name="cnp" type="text" class="input_cos" placeholder="CNP" value="{{ form.cnp.value }}" />
                                        </div>
                                        <div class="row info_type_j">
						  <label for="cui" class="info_type_j">CUI</label>
                                            {{ form.cui.errors }}
                                            <input name="cui" type="text" class="input_cos info_type_j company_id" placeholder="Cod unic (CUI)" value="{{ form.cui.value }}" />
                                        </div>
                                        <div class="row info_type_o">
						  <label for="cif" class="info_type_o">CIF</label>
                                            {{ form.cif.errors }}
                                            <input name="cif" type="text" class="input_cos info_type_o company_id" placeholder="Cod de identificare fiscală (CIF)" value="{{ form.cif.value }}"/>
                                        </div>                                        
                                        <div class="row info_type_j info_type_o">
						  <label for="company">Nume Firma</label>
                                            {{ form.company.errors }}
                                            <input name="company" type="text" class="input_cos" placeholder="Nume firma" value="{{ form.company.value }}" />
                                        </div>
					     <div class="row info_type_j info_type_o">
						  <label for="bank">Banca</label>
                                            {{ form.bank.errors }}
                                            <input name="bank" type="text" class="input_cos" placeholder="Banca"/ value="{{ form.bank.value }}" >
                                        </div>                                        
                                      </div>
				          <div class="col-cos info_type_j info_type_o">
					     <div class="row" style="padding:15px 0 19px 0;">
                                            <input type="checkbox" name="vat" {% if form.vat.value %}checked{% endif %} class="checkbox input_cos" />
                                            <label for="vat" class="checkbox_label">Înregistrat în scopuri TVA</label>
                                        </div>
                                        <div class="row info_type_j">
					     <label for="regcom" class="info_type_j">Cod înregistrare (Reg. Com.)</label>
                                            {{ form.regcom.errors }}
                                            <input name="regcom" type="text" class="input_cos info_type_j" placeholder="Cod înregistrare (Reg. Com.)" value="{{ form.regcom.value }}" />
                                        </div>
                                        <div class="row">
						  <label for="bank_account">Cont bancar (IBAN)</label>
                                            {{ form.bank_account.errors }}
                                            <input name="bank_account" type="text" class="input_cos" placeholder="Cont banca (IBAN)" value="{{ form.bank_account.value }}" />
                                        </div>
                                      </div>
                                    </li>
                                </ul>
                                <ul class="modalitate">
                                    <li class="info_type_f">Domiciliul/resedinta:</li>
                                    <li class="info_type_j info_type_o">Sediu social:</li>
                                    <li class="last main_address">
                                      <div class="col">						
						                <div class="row">
						                    <label for="city">Localitatea</label>
                                            {{ form.city.errors }}
                                            {{ form.city }}
						                </div>
						                <div class="row">
						                    <label for="county">Judetul</label>
                                            {{ form.county.errors }}
                                            {{ form.county }}  
						                </div>                                    
                                      </div>  
                                      <div class="textarea">
						                    <label for="address">Adresa</label>
                                            {{ form.address.errors }}
                                            {{ form.address }}
                                      </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="rand-cos">
                                <ul class="modalitate">
                                    <li>Informatii livrare:</li>
                                    <li class="last" style="padding:0;">
                                        {{ form.delivery }}
                                    </li>
                                    <li class="last delivery_yes">
                                        <div class="col">
                    						<div class="row">
                    						    <label for="delivery_city">Localitatea</label>
                                                {{ form.delivery_city.errors }}
                                                {{ form.delivery_city }}
                    						</div>
                    						<div class="row">
						                        <label for="delivery_county">Judetul</label>
                                                {{ form.delivery_county.errors }}
                                                {{ form.delivery_county }}
						                    </div>                               
                                        </div>  
                                        <div class="textarea">
						                    <label for="delivery_address">Addresa</label>
                                            {{ form.delivery_address.errors }}
                                            {{ form.delivery_address }}
                                        </div>    
                                    </li>
                                    <li class="last delivery_no">
                                        <div class="col">
                                            Adresa ATEX Computer:<br/>
                                            <a href="{% url "contact" %}" target="_blank">
                                                Str. Stephan Ludwig Roth, nr. 21<br/>
                                                Cluj-Napoca, 400174 <br/>
                                            </a>
                                        </div>
                                    </li>
                                </ul>    
                            </div>
                            <div class="rand-cos">
                                <ul class="modalitate">
                                    <li>Observatii:</li>
                                    <li class="last">
                                        <textarea name="notes" class="input_cos" placeholder="observatii ...">{{ form.notes.value }}</textarea>
                                    </li>
                                </ul>
                            </div>
                            <div class="total-cos02">
                                <ul class="buttons">
                                    <li><button class="continua"><span></span>Continua</button></li>                                
                                </ul> 
                            </div>
                        </form>

                    </div> <!-- end pas 02 -->
                    
                </div>
{% endblock content_right %}
