{% extends "base_2col.html" %}

{% block content_right %}          	
                <div class="cos_content">
                    <div class="product-section">
                    	<div class="tab_d_holder_right">
                            <span class="down_left"></span>
                                <ul class="tab_down">
                                    <li><span>cos cumparaturi</span></li>                                
                                </ul>
                            <span class="down_right"></span>
                        </div>
                        <ul class="pasi">
                            <li><span class="cos-01" id=""></span>Cosul de cumparaturi</li>
                            <li><span class="cos-02 active" id=""></span>Date personale de facturare</li>
                            <li><span class="cos-03" id=""></span>Confirmare comanda</li>
                        </ul>
                    </div>

                    <div class="pas-02">
                    	<div class="product-section">
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>date de facturare</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                        </div>

                        <form id="orderform" method="post">
                            {% csrf_token %}
                            <!--div class="rand-cos">
                                <ul class="modalitate">
                                    <li class="logininput">
                                        <input name="username" type="text" class="input_cos" title="utilizator"/> 
                                        <input name="password" type="password" class="input_cos" title="parola"/>
                                        <a href="#" class="login-key"></a>
                                    </li>
                                </ul>    
                            </div-->
                            {{ form.non_field_errors }}
                            <div class="rand-cos">
                                <ul class="modalitate">
                                    <li>Informatii utilizator:</li>
                                    <li class="last">
					   <div class="col-cos">
                                        <div class="row">
                                            <label for="email">Email</label>
						  {{ form.email.errors }}						  
                                            <input name="email" type="text" class="input_cos" title="email" value="{{ user.email }}" />
                                        </div>
                                        <div class="row">
                                            <label for="first_name">Prenume</label>
                                            {{ form.first_name.errors }}
                                            <input name="first_name" type="text" class="input_cos" title="prenume" value="{{ user.first_name }}" />                                            
                                        </div>
					   </div>
					   <div class="col-cos">
                                        <div class="row">
						  <label for="phone">Telefon</label>
                                            {{ form.phone.errors }}
                                            <input name="phone" type="text" class="input_cos" title="telefon"/>
                                        </div>
                                        <div class="row">
						  <label for="last_name">Nume</label>
                                            {{ form.last_name.errors }}
                                            <input name="last_name" type="text" class="input_cos" title="nume de familie" value="{{ user.last_name }}"/>
					     </div>
                                      </div>
                                    </li>
                                </ul>    
                            </div>
                            <div class="rand-cos">
                                <ul class="modalitate">
                                    <li>Va rugam selectati modul de facturare:</li>
                                    <li><input id="customer_type_f" name="customer_type" type="radio" checked="checked" value="f" /><label for="customer_type_f">Persoana fizica</label></li>
                                    <li><input id="customer_type_j" name="customer_type" type="radio" value="j" /><label for="customer_type_j">Persoana juridica</label></li>
                                    <li><input id="customer_type_o" name="customer_type" type="radio" value="o" /><label for="customer_type_o">ONG</label></li>
                                    <li>{{ form.customer_type.errors }}</li>
                                </ul>   
                            </div>
                            <div class="rand-cos">
                                <ul class="modalitate info_type_f">
                                    <li>Informatii facturare:</li>
                                    <li class="last">                                        
                                        <div class="col">
                    						<div class="row">
                    						  <label for="cnp">CNP</label>
                                                {{ form.cnp.errors }}
                                                <input name="cnp" type="text" class="input_cos" title="CNP"/>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="modalitate info_type_j info_type_o">
                                    <li>Informatii facturare:</li>
                                    <li class="last">
					   <div class="col-cos">
                                        <div class="row">
						  <label for="cui" class="info_type_j">CUI</label>
                                            {{ form.cui.errors }}
                                            <input name="cui" type="text" class="input_cos info_type_j company_cif" title="Cod unic (CUI)"/>
                                        </div>
                                        <div class="row">
						  <label for="cif" class="info_type_o">CIF</label>
                                            {{ form.cif.errors }}
                                            <input name="cif" type="text" class="input_cos info_type_o company_cif" title="Cod de identificare fiscală (CIF)"/>
                                        </div>
                                        <div class="row">
						  <label for="company">Nume Firma</label>
                                            {{ form.company.errors }}
                                            <input name="company" type="text" class="input_cos" title="Nume firma"/>
                                        </div>
                                        <div class="row">
						  <label for="regcom" class="info_type_j">Cod înregistrare (Reg. Com.)</label>
                                            {{ form.regcom.errors }}
                                            <input name="regcom" type="text" class="input_cos info_type_j" title="Cod înregistrare (Reg. Com.)"/>
                                        </div>
                                        <div class="row">
                                            <input type="checkbox" name="vat" checked="{{ form.vat.checked }}" class="checkbox input_cos" />
                                            <label for="vat" class="checkbox_label">Inregistrat in scopuri TVA</label>
                                        </div>
                                      </div>
				                      <div class="col-cos">
                                        <div class="row">
						  <label for="bank">Banca</label>
                                            {{ form.bank.errors }}
                                            <input name="bank" type="text" class="input_cos" title="Banca"/>
                                        </div>
                                        <div class="row">
						  <label for="bank_account">Cont bancar (IBAN)</label>
                                            {{ form.bank_account.errors }}
                                            <input name="bank_account" type="text" class="input_cos" title="Cont banca (IBAN)"/>
                                        </div>
                                      </div>
                                    </li>
                                </ul>
                                <ul class="modalitate">
                                    <li class="info_type_f">Domiciliul/resedinta:</li>
                                    <li class="info_type_j info_type_o">Sediu social:</li>
                                    <li class="last">
                                        <div class="col">						
						<div class="row">
						  <label for="city">Localitatea</label>
                                            {{ form.city.errors }}
                                            <input name="city" type="text" class="input_cos" title="localitatea"/>
						</div>
						<div class="row">
						  <label for="county">Judetul</label>
                                            {{ form.county.errors }}
                                            <input name="county" type="text" class="input_cos" title="judetul"/>    
						</div>                                    
                                        </div>  
                                        <div class="textarea">
						  <label for="address">Adresa</label>
                                            {{ form.address.errors }}
                                            <textarea name="address" class="input_cos" title="adresa (cod postal, strada, nr, bloc, scara, etaj, apartament)"></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="rand-cos">
                                <ul class="modalitate">
                                    <li>Informatii livrare:</li>
                                    <li class="last" style="padding:0;">
                                        <input id="delivery_no" name="delivery" type="radio" value="no" checked="checked" /><label for="delivery_no">Ridic de la sediul ATEX Computer</label> 
                                        sau livreaza la
                                        <input id="delivery_same" name="delivery" type="radio" value="same" /><label for="delivery_same">adresa de facturare</label> 
                                        sau la
                                        <input id="delivery_other" name="delivery" type="radio" value="other" /><label for="delivery_other">alta adresa</label>
                                    </li>
                                    <li class="last delivery_other">
                                        <div class="col">
                    						<div class="row">
                    						    <label for="delivery_city">Localitatea</label>
                                                {{ form.delivery_city.errors }}
                                                <input name="delivery_city" type="text" class="input_cos" title="localitatea"/>
                    						</div>
                    						<div class="row">
						                        <label for="delivery_county">Judetul</label>
                                                {{ form.delivery_county.errors }}
                                                <input name="delivery_county" type="text" class="input_cos" title="judetul"/>     
						                    </div>                               
                                        </div>  
                                        <div class="textarea">
						                    <label for="delivery_address">Addresa</label>
                                            {{ form.delivery_address.errors }}
                                            <textarea name="delivery_address" class="input_cos" title="adresa (cod postal, strada, nr, bloc, scara, etaj, apartament)"></textarea>
                                        </div>    
                                    </li>
                                    <li class="last delivery_no">
                                        <div class="col">
                                            Adresa ATEX Computer:<br/>
                                            <a href="{% url "contact" %}">
                                                Str. Stephan Ludwig Roth, nr. 21<br/>
                                                Cluj-Napoca, 400174 <br/>
                                            </a>
                                        </div>
                                    </li>
                                </ul>    
                            </div>
                            <div class="rand-cos">
                                <ul class="modalitate">
                                    <li>Observatii:</li>
                                    <li class="last">					    
                                        <textarea name="notes" class="input_cos" title="observatii ..."></textarea>
                                    </li>
                                </ul>
                            </div>
                            <div class="total-cos02">
                                <ul class="buttons">
                                    <li><button href="#" class="continua"><span></span>Continua</button></li>                                
                                </ul> 
                            </div>
                        </form>

                    </div> <!-- end pas 02 -->
                    
                </div>
{% endblock content_right %}
