{% extends "base_2col.html" %}

{% block body_extra %}
<div class="rezumat">
    <div class="continut">
        <div class="tab_rezumat">
            <p>REZUMAT COMANDA </p><span></span>
        </div>
        <div class="show_rezumat">
            <ul>
                <li><span class="domiciliu">Livrare la domiciliu</span></li>
                <li><span class="numerar">Plata numerar</span></li>
                <li><span class="total">TOTAL PLATA: 1943.75 lei</span></li>
            </ul>
        </div>
    </div>
</div>
{% endblock body_extra %}

{% block content_right %}          	
                <div class="cos_content">
                    <div class="product-section">
                    	<div class="tab_d_holder_right">
                            <span class="down_left"></span>
                                <ul class="tab_down">
                                    <li><span>cos cumparaturi</span></li>                                
                                </ul>
                            <span class="down_right"></span>
                        </div>
                        <ul class="pasi">
                            <li><span class="cos-01" id=""></span>Cosul de cumparaturi</li>
                            <li><span class="cos-02 active" id=""></span>Date personale de facturare</li>
                            <li><span class="cos-03" id=""></span>Confirmare comanda</li>
                        </ul>
                    </div>

                    <form id="orderform" method="post">
                    {% csrf_token %}

                    <div class="pas-02">
                    	<div class="product-section">
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>date de facturare</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                        </div>    
                    	<div class="rand-cos">
                            <ul class="modalitate">
                                <li>Va rugam selectati tipul de client:</li>
                                <li><input id="logintype_new" name="logintype" type="radio" value="new" /> <label for="logintype_new">Client nou</label></li>
                                <li><input id="logintype_old" name="logintype" type="radio" value="old" /> <label for="logintype_old">Client vechi</label></li>
                                <li class="last logininput">
                                	<input name="user" type="text" class="input_cos" title="utilizator"/> 
                                    <input name="password" type="password" class="input_cos" title="parola"/> 
                                    <a href="#" class="login-key"></a>
                                </li>
                            </ul>    
                        </div>
                        <div class="rand-cos signup">
                            <ul class="modalitate">
                                <li>Informatii utilizator / autentificare:</li>
                                <li class="last">
                                	<div class="row">
                                        <input name="surname" type="text" class="input_cos" title="nume"/> 
                                        <input name="firstname" type="text" class="input_cos" title="prenume"/>
                                        <input name="email" type="text" class="input_cos" title="adresa email"/>
                                    </div>  
                                    <div class="row">  
                                        <input name="phone" type="text" class="input_cos" title="telefon"/> 
                                        <input name="password1" type="password" class="input_cos" title="parola"/>
                                        <input name="password2" type="password" class="input_cos" title="repeta parola"/>
                                    </div>    
                                </li>
                            </ul>    
                        </div>
                        <div class="rand-cos signup">
                            <ul class="modalitate">
                                <li>Va rugam selectati modul de facturare:</li>
                                <li><input name="usertype" type="radio" checked="checked" value="f" /> Persoana fizica</li>
                                <li><input name="usertype" type="radio" value="j" /> Persoana juridica</li>
                            </ul>   
                        </div>
                        <div class="rand-cos signup">
                            <ul class="modalitate">
                                <li>Informatii facturare:</li>
                                <li class="last">
                                	<div class="col">
                                        <input name="city" type="text" class="input_cos" title="localitatea"/> 
                                        <input name="county" type="text" class="input_cos" title="judetul"/>                                        
                                    </div>  
                                    <div class="textarea">  
                                        <textarea name="address" class="input_cos" title="adresa (cod postal, strada, nr, bloc, scara, etaj, apartament)"></textarea>
                                    </div>    
                                </li>
                            </ul>    
                        </div>
                        <div class="total-cos02">
                        	<ul class="termeni-newsletter signup">
                            	<li>
                                	<input name="terms" type="checkbox" class="checkbox" /> 
                                    <span>Am citit si sunt de acord cu Termenii & Conditii de utilizare </span>
                                </li>
                                <li>
                                	<input name="newsletter" type="checkbox" class="checkbox" /> 
                                    <span> Doresc sa fiu informat, prin email, despre produsele ATEX</span>
                                </li>    
                            </ul>
                            <ul class="buttons">    
                            	<li><a href="#" class="reset"><span></span>Reset</a></li>
                                <li><a href="#" class="continua"><span></span>Continua</a></li>                                
                            </ul> 
                        </div>
                    </div> <!-- end pas 02 -->
                    </form>
                     
                    
                </div>
{% endblock content_right %}
