{% extends "base.html" %}
{% load atex_tags %}

{% block title %}{{ product.name }} - {{ block.super }}{% endblock title %}
{% block head %}
	<meta name="description" content="{{ product.description|safe }}">

	<meta name="keywords" content=""> 
{% endblock %}
{% block menu %}{% endblock %}
{% block banner_left %}{% endblock %}

{% block content %}
            {{ error }}
            {% if product %}
            <div class="product-wrapper">
            	<div class="product">
                    <div class="tab_u_holder_right">
                         <span class="up_left"></span>
                             <ul class="tab_up">
                                <li><span>produs</span></li>                                
                             </ul>
                         <span class="up_right"></span>
                    </div>              
                    <div class="gallery-view">
                        <div id="exposure">                            
                        </div>
                    </div>    
                    <div class="product-right-sumar" itemscope itemtype="http://schema.org/Product">
                    	<div class="search-title">
                            <h1 itemprop="name">{{ product.name }}</h1>
                        </div>
                        {% if product.short_description %}
                        <div class="underline-gray">
                        	<p>{{ product.short_description }}</p>
                        </div>
                        {% endif %}
                        <div class="product-info" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            {% if product.available %}
                        	<ul class="info-termeni">
                            	<li><strong>

			        {% if "stoc" in product.stock_info %}
                                  <span class="stoc_ok" itemprop="availability" href="http://schema.org/InStock">
			        {% elif "comanda" in product.stock_info %}
                                  <span class="stoc_comanda">
			        {% elif "nu este disponibil" in product.stock_info %}
                                  <span class="stoc_indisponibil">
			        {% else %}
                                  <span class="stock_ok">
			        {% endif %}

				    {{ product.stock_info }}
				    </span></strong></li>
                    <div itemprop="Warranty" itemscope itemtype="http://schema.org/WarrantyPromise">
					<li><strong>Garantie:</strong> <span itemprop="durationOfWarranty">{{ product.warranty }}</span> luni</li>
                    </div>
                    {% if "stoc" in product.stock_info %}
                               	<li><strong>Termen livrare:</strong> 24h de la comanda ferma</li>   
                    {% endif %}                           
                               	<li><strong>Cod produs:</strong><span itemprop="sku"> {{ product.model}}</span></li>                             
                            </ul>
                            <ul class="info-pret">
                                {% if product.old_price %}
                            	<li>Pret nou: <span class="pret">{{ product.price }} Lei</span></li>
                                <li><span class="pret_vechi">Pret vechi: {{ product.old_price }} Lei</span></li>
                                {% elif product.price %}
                                <meta itemprop="priceCurrency" content="RON" />
                                <meta itemprop="price" content="0"/>
                            	<li>Pret: <span class="pret">{{ product.price }} Lei</span></li>
                                {% endif %}
                                {% if product.stock_available %}
                                    <li><a href="#" class="add_cos_btn" data-product-id="{{ product.id }}"><span></span>Adauga in cos</a></li>
                                {% endif %}
                            </ul>
                            {% else %}
                            <ul class="info-termeni">
                                <li><strong>Acest produs nu mai poate fi aprovizionat !</strong></li>
                            </ul>
                            {% endif %}
                        </div>
                        <div class="product-section">
                        	<div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>sumar tehnic</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                            <div class="text">
                            	<p itemprop="description">{{ product.description|safe }}</p>
                            </div> 
                        </div>
                        <div class="product-section">
                        	<div class="tab_u_holder_left">
                                 <span class="up_left"></span>
                                     <ul class="tab_up">
                                        <li><span>alte imagini</span></li>                                
                                     </ul>
                                 <span class="up_right"></span>
                            </div>
                            <div class="panel">
                                <ul id="images" class="alte-imagini">
                                    {% for image in product.images %}
                                    <li><a itemprop="image" href="{{ image|thumbnail:"450x450" }}"><img src="{{ image|thumbnail:"100x100" }}" alt="{{ product.name }}" title="{{ product.name }}" /></a></li>
                                    {% endfor %}
                                </ul>
                                <div class="controls"><div id="controls"></div></div>
                                <div class="clear"></div>
							</div>
                        </div>
                    </div> <!-- product-right-sumar end -->
                    
                    <div class="product-section">
                        {% if product.html_description %}
                    	<div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>descriere</span></li>                                
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        {{ product.html_description|safe }}
                        {% endif %}

                        {% if product.spec_groups %}
						<div class="product-section">
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>detalii tehnice</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                        {% for group, specs in product.spec_groups.items %}
                            <h4 class="spec-title">{{ group }}</h4>
                            <ul class="new-spec-list clear">
                                {% for spec, value in specs %}
                                <li class="spec-name">{{ spec }}</li>
                                <li class="spec-value">{{ value|safe }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                        </div>
                        {% endif %}

                        {% if properties %}
                        <!--<div {% if product.html_description %} class="product-section" {% endif %}>-->
                        <div class="product-section">
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>specificatii tehnice</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                            <div class="flleft">
                                {% for group in properties %}
                            	<ul class="specificatii-tehnice {% if forloop.last %}last{% endif %}">
                                    {% for property, values in group %}
                                	<li class="title">{{ property }}</li>
                                        {% for value in values %}
                                        <li>{{ value }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="product-section">
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>produse recomandate</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                            <div class="flleft">
                            	<ul class="recomandate">
                                    {% for product in recommended %}
                                    <li {% if forloop.last %}class="last"{% endif %}>
                                        <a href="{{ product.url }}" class="img-wrapper">
                                            <div class="middle size130x130">
                                                <div class="img-holder">
                                                    <img class="center" src="{{ product.images.0|thumbnail:"100x100" }}" alt="{{ product.name }}" title="{{ product.name }}" />
                                                </div>
                                            </div>
                                        </a>
                                        <div class="product-title">
                                            <a href="{{ product.url }}">{{ product.name }}</a>
                                        </div>   
                                        <ul>
                                        	<li>Pret: <span class="pret">{{ product.price }} lei</span></li>
                                            <li>Stoc: {{ product.stock_info|default:"?" }}</li>
                                            <li>Garantie: {{ product.warranty|default_if_none:"?" }} luni</li>
                                        </ul> 
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>	
                    </div><!--product_section_end-->
                    
            	</div><!--product_end-->
            </div>
            {% endif %}
{% endblock content %} 
