{% extends "base_2col.html" %}
{% load atex_tags %}

{% block title %}{{ block.super }} - {{ product.name }}{% endblock title %}

{% block menu %}{% endblock %}
{% block banner_left %}{% endblock %}

{% block content_top %}
        	<div class="top-content">
            	<div class="breadcrumbs"><!--breadcrumbs-->
                	<ul>                   
                    	<li><a href="/">Home</a></li>
                        {% for crumb in breadcrumbs %}
                            {% if crumb.url %}
                                <li><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
                            {% else %}
                                <li>{{ crumb.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div><!--breadcrumbs_end-->               
            </div>
            <div class="product-wrapper">
            	<div class="product">
                    <div class="tab_u_holder_right">
                         <span class="up_left"></span>
                             <ul class="tab_up">
                                <li><span>produs</span></li>                                
                             </ul>
                         <span class="up_right"></span>
                    </div>              
                    <div class="gallery-view">
                        <div id="exposure">                            
                        </div>
                    </div>    
                    <div class="product-right-sumar">
                    	<div class="search-title">
                            <h1>{{ product.name }}</h1>
                        </div>
                        {% if product.short_description %}
                        <div class="underline-gray">
                        	<p>{{ product.short_description }}</p>
                        </div>
                        {% endif %}
                        <div class="product-info">
                            {% if product.available %}
                        	<ul class="info-termeni">
                            	<li><strong>Garantie:</strong> {{ product.warranty }} luni</li>
                                <li><strong>Termen livrare:</strong> 24h de la comanda ferma</li>
                                <li><strong>Stoc:</strong> <span class="green">{{ product.stock_info }}</span></li>
                            </ul>
                            <ul class="info-pret">
                                {% if product.old_price %}
                            	<li>Pret nou: <span class="pret">{{ product.price }} Lei</span></li>
                                <li><span class="pret_vechi">Pret vechi: {{ product.old_price }} Lei</span></li>
                                {% else %}
                            	<li>Pret: <span class="pret">{{ product.price }} Lei</span></li>
                                {% endif %}
                                <li><a href="#" class="add_cos_btn"><span></span>Adauga in cos</a></li>
                            </ul>
                            {% else %}
                            <ul class="info-termeni">
                                <li><strong>Acest produs nu mai poate fi aprovizionat !</strong></li>
                            </ul>
                            {% endif %}
                        </div>
                        <div class="product-section">
                        	<div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>sumar tehnic</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                            <div class="text">
                            	<p>{{ product.description }}</p>
                            </div> 
                        </div>
                        <div class="product-section">
                        	<div class="tab_u_holder_left">
                                 <span class="up_left"></span>
                                     <ul class="tab_up">
                                        <li><span>alte imagini</span></li>                                
                                     </ul>
                                 <span class="up_right"></span>
                            </div>
                            <div class="panel">
                                <ul id="images" class="alte-imagini">
                                    {% for image in product.images %}
                                    <li><a href="{{ image|thumbnail:"450x450" }}"><img src="{{ image|thumbnail:"100x100" }}" title="{{ product.name }}" /></a></li>
                                    {% endfor %}
                                </ul>
                                <div class="controls"><div id="controls"></div></div>
                                <div class="clear"></div>
							</div>
                        </div>
                    </div> <!-- product-right-sumar end -->
                    
                    <div class="product-section">
                        {% if product.html_description %}
                    	<div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>descriere</span></li>                                
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        {{ product.html_description|safe }}
                        {% endif %}

                        <div {% if product.html_description %} class="product-section" {% endif %}>
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>specificatii tehnice</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                            <div class="flleft">
                            	<ul class="specificatii-tehnice">
                                	<li class="title">Ecran</li>
                                    <li>Dimensiune ecran: 27"</li>
                                    <li>Luminozitate: 300</li>
                                    <li>Contrast: MEGA DCR ∞ (Static CR 1000:1)</li>
                                    <li>Rezoluţie ecran: 1920 x 1080</li>
                                    <li>Timp de răspuns:  2 ms (GTG) </li>
                                    <li>Unghi de vizualizare (Orizontal / Vertical):  170° / 160°</li>
                                    <li>Culoare suport ecran:  16,7 milioane </li>
                                </ul>
                                <ul class="specificatii-tehnice">
                                	<li class="title">Intrare semnal</li>
                                    <li>Semnal video: DisplayPort, HDMI, DVI-D (Dual Link) </li>
                                    <li class="title">Dimensiune</li>
                                    <li>Dimensiune produs (cu suport, L x H x l): 621 x 474 x 185,5 mm</li>
                                    <li class="title">General Feature</li>
                                    <li>DDC 2B Plug&Play  </li>
                                    <li>Culoare carcasă: Argintiu </li>
                                </ul>
                                <ul class="specificatii-tehnice last">
                                	<li class="title">Design</li>
                                    <li>Suport înclinat</li>
                                    <li class="title">Alimentare</li>
                                    <li>Consum: 56 W </li>
                                    <li>Adaptor extern pentru tipul de alimentare al monitorului </li>
                                    <li class="title">Greutate</li>                                   
                                    <li>Greutate pachet: 9,1 kg</li>
                                </ul>
                            </div>
                        </div>	
                        <div class="product-section">
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>produse recomandate</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                            <div class="flleft">
                            	<ul class="recomandate">
                                	<li>
                                        <a href="#" class="img-wrapper">
                                            <div class="middle size130x130">
                                                <div class="img-holder">
                                                    <img class="center" src="{{ STATIC_PREFIX }}images/recomandat-01.jpg" width="108" height="95" alt="product name" title="product name" />
                                                </div>
                                            </div>
                                        </a>
                                        <div class="product-title">
                                            <a href="#">Joystick si Gamepad Logitech 940-000111</a>
                                        </div>   
                                        <ul>
                                        	<li>Pret: <span class="pret">123.95 lei </span></li>
                                            <li>Stoc: Disponibil la comanda</li>
                                            <li>Garantie: 24 luni</li>
                                        </ul> 
                                    </li>
                                    <li>
                                        <a href="#" class="img-wrapper">
                                            <div class="middle size130x130">
                                                <div class="img-holder">
                                                    <img class="center" src="{{ STATIC_PREFIX }}images/recomandat-02.jpg" width="125" height="88" alt="product name" title="product name" />
                                                </div>
                                            </div>
                                        </a>
                                        <div class="product-title">
                                            <a href="#">Imprimante LaserJet Samsung CLP-325</a>
                                        </div>   
                                        <ul>
                                        	<li>Pret: <span class="pret">539.09 lei </span></li>
                                            <li>Stoc: Disponibil in stoc</li>
                                            <li>Garantie: 24 luni</li>
                                        </ul> 
                                    </li>
                                    <li class="last">
                                        <a href="#" class="img-wrapper">
                                            <div class="middle size130x130">
                                                <div class="img-holder">
                                                    <img class="center" src="{{ STATIC_PREFIX }}images/recomandat-03.jpg" width="100" height="100" alt="product name" title="product name" />
                                                </div>
                                            </div>
                                        </a>
                                        <div class="product-title">
                                            <a href="#">USB Stick Corsair CMFVYGT3-32GB USB Stick Corsair CMFVYGT3-32GB</a>
                                        </div>   
                                        <ul>
                                        	<li>Pret: <span class="pret">188.48 lei</span></li>
                                            <li>Stoc: Disponibil la comanda</li>
                                            <li>Garantie: 24 luni</li>
                                        </ul> 
                                    </li>
                                </ul>
                            </div>
                        </div>	
                    </div><!--product_section_end-->
                    
            	</div><!--product_end-->
            </div> 
{% endblock content_top %} 
