{% extends "base.html" %}
{% load atex_tags %}

{% block title %}{{ block.super }} - {{ product.name }}{% endblock title %}

{% block menu %}{% endblock %}
{% block banner_left %}{% endblock %}

{% block content %}
            {{ error }}
            {% if product %}
            <div class="product-wrapper">
            	<div class="product">
                    <div class="tab_u_holder_right">
                         <span class="up_left"></span>
                             <ul class="tab_up">
                                <li><span>produs</span></li>                                
                             </ul>
                         <span class="up_right"></span>
                    </div>              
                    <div class="gallery-view">
                        <div id="exposure">                            
                        </div>
                    </div>    
                    <div class="product-right-sumar">
                    	<div class="search-title">
                            <h1>{{ product.name }}</h1>
                        </div>
                        {% if product.short_description %}
                        <div class="underline-gray">
                        	<p>{{ product.short_description }}</p>
                        </div>
                        {% endif %}
                        <div class="product-info">
                            {% if product.available %}
                        	<ul class="info-termeni">
                            	<li><strong><span class="green">{{ product.stock_info }}</span></strong></li>
					<li><strong>Garantie:</strong> {{ product.warranty }} luni</li>
                               	<li><strong>Termen livrare:</strong> 24h de la comanda ferma</li>                             
                               	<li><strong>Cod produs:</strong> {{ product.model}}</li>                             
                            </ul>
                            <ul class="info-pret">
                                {% if product.old_price %}
                            	<li>Pret nou: <span class="pret">{{ product.price }} Lei</span></li>
                                <li><span class="pret_vechi">Pret vechi: {{ product.old_price }} Lei</span></li>
                                {% else %}
                            	<li>Pret: <span class="pret">{{ product.price }} Lei</span></li>
                                {% endif %}
                                <li><a href="#" class="add_cos_btn" data-product-id="{{ product.id }}"><span></span>Adauga in cos</a></li>
                            </ul>
                            {% else %}
                            <ul class="info-termeni">
                                <li><strong>Acest produs nu mai poate fi aprovizionat !</strong></li>
                            </ul>
                            {% endif %}
                        </div>
                        <div class="product-section">
                        	<div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>sumar tehnic</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                            <div class="text">
                            	<p>{{ product.description }}</p>
                            </div> 
                        </div>
                        <div class="product-section">
                        	<div class="tab_u_holder_left">
                                 <span class="up_left"></span>
                                     <ul class="tab_up">
                                        <li><span>alte imagini</span></li>                                
                                     </ul>
                                 <span class="up_right"></span>
                            </div>
                            <div class="panel">
                                <ul id="images" class="alte-imagini">
                                    {% for image in product.images %}
                                    <li><a href="{{ image|thumbnail:"450x450" }}"><img src="{{ image|thumbnail:"100x100" }}" title="{{ product.name }}" /></a></li>
                                    {% endfor %}
                                </ul>
                                <div class="controls"><div id="controls"></div></div>
                                <div class="clear"></div>
							</div>
                        </div>
                    </div> <!-- product-right-sumar end -->
                    
                    <div class="product-section">
                        {% if product.html_description %}
                    	<div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>descriere</span></li>                                
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        {{ product.html_description|safe }}
                        {% endif %}

                        {% if properties %}
                        <div {% if product.html_description %} class="product-section" {% endif %}>
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>specificatii tehnice</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                            <div class="flleft">
                                {% for group in properties %}
                            	<ul class="specificatii-tehnice {% if forloop.last %}last{% endif %}">
                                    {% for property, values in group %}
                                	<li class="title">{{ property }}</li>
                                        {% for value in values %}
                                        <li>{{ value }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="product-section">
                            <div class="tab_u_holder_left">
                                <span class="up_left"></span>
                                    <ul class="tab_up">
                                        <li><span>produse recomandate</span></li>                                
                                    </ul>
                                <span class="up_right"></span>
                            </div>
                            <div class="flleft">
                            	<ul class="recomandate">
                                    {% for product in recommended %}
                                    <li {% if forloop.last %}class="last"{% endif %}>
                                        <a href="{{ product.url }}" class="img-wrapper">
                                            <div class="middle size130x130">
                                                <div class="img-holder">
                                                    <img class="center" src="{{ product.images.0|thumbnail:"100x100" }}" alt="{{ product.name }}" title="{{ product.name }}" />
                                                </div>
                                            </div>
                                        </a>
                                        <div class="product-title">
                                            <a href="{{ product.url }}">{{ product.name }}</a>
                                        </div>   
                                        <ul>
                                        	<li>Pret: <span class="pret">{{ product.price }} lei</span></li>
                                            <li>Stoc: {{ product.stock_info|default:"?" }}</li>
                                            <li>Garantie: {{ product.warranty|default_if_none:"?" }} luni</li>
                                        </ul> 
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>	
                    </div><!--product_section_end-->
                    
            	</div><!--product_end-->
            </div>
            {% endif %}
{% endblock content %} 
