{% extends "base.html" %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block css %}
<link href="{{ STATIC_PREFIX }}css/promotions.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_PREFIX }}css/normalize.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Jocul DOOM cadou de la ASUS | ATEX Computer{% endblock title %}
{% block head %}

    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="ALEGEȚI-VĂ ARMELE. DEZLĂNȚUIȚI IADUL ÎN LUPTĂ! Primiți Jocul DOOM Cadou cu Plăcile de Bază și Monitoarele pentru Jocuri de la ASUS.">
    <meta name="keywords" content="ASUS, DOOM">
    <meta property="og:site_name" content="Jocul DOOM cadou de la ASUS">
    <meta property="og:title" content="Jocul DOOM cadou de la ASUS">
    <meta property="og:description" content="ALEGEȚI-VĂ ARMELE. DEZLĂNȚUIȚI IADUL ÎN LUPTĂ! Primiți Jocul DOOM Cadou cu Plăcile de Bază și Monitoarele pentru Jocuri de la ASUS.">
    <link rel="shortcut icon" href="http://www.asus.com/media/img/favicon.ico">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/Javascript/default.js"></script>

{% endblock %}

{% block content_top %}
{% endblock content_top %}

{% block content %}



<div class="wrapper">
    <div class="hero">
        <h1 class="lang_h1">ALEGEȚI-VĂ ARMELE. DEZLĂNȚUIȚI IADUL ÎN LUPTĂ! </h1>
        <h2 class="lang_h2">Primiți Jocul DOOM Cadou cu Plăcile de Bază și Monitoarele pentru Jocuri de la ASUS.</h2>
        <div class="hero-img lang_hero_img"><img src="{{ STATIC_PREFIX }}images/doom/hero.jpg"></div>
    </div>
    <div class="content">
        <div class="home-intro">
            <h2 class="lang_home_intro_title">FITI GATA PENTRU O CAMPANIE NECRUTATOARE</h2>
            <p class="lang_home_intro">Nu mai aveți timp să vă ascundeți pentru a vă regenera nivelul de viață în timp ce vă luptați cu hoardele de demoni dezlănțuiți din Iad. <br><br>Porniți-vă plăcile de bază și monitoarele pentru jocuri de la ASUS, selectați arma favorită dintr-o galerie de opțiuni futuriste deja devenite faimoase, și pregătiți-vă de o luptă crâncenă, până la moarte.<br><br>Pentru o perioadă limitată, primiți cadou atât jocul DOOM cât și oferta exclusivă Demon Multiplayer Pack.<!--0509--></p>
            <img class="home-intro-img" src="{{ STATIC_PREFIX }}images/doom/home-intro.jpg">
            <div class="demon"><!--0509-->
                <div>
                    <img src="{{ STATIC_PREFIX }}images/doom/demon-1.png">
                    <h4 class="lang_demon_1a">SET ARMURA CU TEMATICA DEMONICA </h4>
                    <p class="lang_demon_1b">Un set unic și customizabil cu trei variațiuni de finisaj</p>
                </div>
                <div>
                    <img src="{{ STATIC_PREFIX }}images/doom/demon-2.png">
                    <h4 class="lang_demon_2a">SASE MODELE DE VOPSELE METALICE </h4>
                    <p class="lang_demon_2b">Culori ce pot fi aplicate armelor sau armurii </p>
                </div>
                <div>
                    <img src="{{ STATIC_PREFIX }}images/doom/demon-3.png">
                    <h4 class="lang_demon_3a">TREI MODELE CU LOGO-UL ID</h4>
                    <p class="lang_demon_3b">Modele ce pot fi aplicate armelor și armurii </p>
                </div>
                <div>
                    <img src="{{ STATIC_PREFIX }}images/doom/demon-4.png">
                    <h4 class="lang_demon_4a">SASE MODULE DE RESURSE</h4>
                    <p class="lang_demon_4b">Beneficiază instant de pachete de resurse consumabile în timpul meciurilor MP </p>
                </div>
            </div>
        </div>
        <div class="home-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KSZ4tSoumNk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            <p class="lang_video_caption">Pentru mai multe detalii privind jocul, vizitați <a href="http://www.doom.com" target="_blank">www.doom.com</a></p>
        </div>
        <div class="home-content">
            <h2 class="lang_home_title_mb">PLACI DE BAZA ASUS PENTRU JOCURI ELIGIBILE  </h2>
            <img class="lineup-img" src="{{ STATIC_PREFIX }}images/doom/mb.jpg">
            <div class="home-armory home-armory-mb clear">
                <ul>
                    <h3>Seria Z170 </h3>
                    <li class="lang_Z170_1"><p>MAXIMUS VIII EXTREME</p></li>
                    <li class="lang_Z170_2"><p>MAXIMUS VIII FORMULA</p></li>
                    <li class="lang_Z170_3"><p>MAXIMUS VIII HERO ALPHA</p></li>
                    <li class="lang_Z170_4"><p>MAXIMUS VIII HERO</p></li>
                    <li class="lang_Z170_5"><p>MAXIMUS VIII RANGER</p></li>
                    <li class="lang_Z170_6"><p>MAXIMUS VIII GENE</p></li>
                    <li class="lang_Z170_7"><p>MAXIMUS VIII IMPACT</p></li>
                    <li class="lang_Z170_8 conceal"><p>Z170 PRO GAMING</p></li>
                    <li class="lang_Z170_9 conceal"><p>Z170I PRO GAMING</p></li>
                    <li class="lang_Z170_10 conceal"><p>SABERTOOTH Z170 MARK 1</p></li>
                    <li class="lang_Z170_11"><p>SABERTOOTH Z170 S</p></li>
                    <li class="lang_Z170_12 conceal"><p>Z170-PREMIUM</p></li>
                    <li class="lang_Z170_13 conceal"><p>Z170-DELUXE</p></li>
                    <li class="lang_Z170_14 conceal"><p>Z170-PRO</p></li>
                    <li class="lang_Z170_15 conceal"><p>Z170-A</p></li>
                    <li class="lang_Z170_16 conceal"><p>Z170-E</p></li>
                    <li class="lang_Z170_17 conceal"><p>Z170-K</p></li>
                    <li class="lang_Z170_18"><p>Z170-P</p></li>
                    <li class="lang_Z170_19 conceal"><p>Z170M-E D3</p></li>
                    <li class="lang_Z170_20 conceal"><p>Z170-P D3</p></li>
                    <li class="lang_Z170_21 conceal"><p>Z170M-PLUS</p></li>
                </ul>
                <ul>
                    <h3 class="lang_X99 conceal">Seria X99</h3>
                    <!--<li class="lang_X99_1 conceal"><a href="https://www.asus.com/Motherboards/ROG-RAMPAGE-V-EDITION-10/" target="_blank">Rampage V Edition 10</a></li>--><!--0509-->
                    <li class="lang_X99_2 conceal"><p>RAMPAGE V EXTREME/U3.1</p></li>
                    <li class="lang_X99_3 conceal"><p>SABERTOOTH X99</p></li>
                    <li class="lang_X99_4 conceal"><p>STRIX X99 GAMING</p></li><!--0509-->
                    <li class="lang_X99_5 conceal"><p>X99-DELUXE II</p></li>
                    <li class="lang_X99_6 conceal"><p>X99-DELUXE/U3.1</p></li>
                    <li class="lang_X99_7 conceal"><p>X99-PRO/USB 3.1</p></li>
                    <li class="lang_X99_8 conceal"><p>X99-A II</p></li><!--0509-->
                    <li class="lang_X99_9 conceal"><p>X99-A</p></li>
                    <li class="lang_X99_10 conceal"><p>X99-A/USB 3.1</p></li>
                    <li class="lang_X99_11 conceal"><p>X99-E</p></li><!--0509-->
                </ul>
                <ul>
                    <h3 class="lang_B150 conceal">Seria B150</h3>
                    <li class="lang_B150_1 conceal"><p>B150 PRO GAMING/AURA</p></li>
                    <li class="lang_B150_2 conceal"><p>B150 PRO GAMING</p></li>
                    <li class="lang_B150_3 conceal"><p>B150M PRO GAMING</p></li>
                    <li class="lang_B150_4 conceal"><p>B150I PRO GAMING/WIFI/AURA</p></li>
                    <li class="lang_B150_5 conceal"><p>B150I PRO GAMING/AURA</p></li>
                </ul>
                <ul>
                    <h3 class="lang_H170 conceal">Seria H170</h3>
                    <li class="lang_H170_1 conceal"><p>H170 PRO GAMING</p></li>
                </ul>
                <ul>
                    <h3 class="lang_C232 conceal">Seria C232</h3>
                    <li class="lang_C232_1 conceal"><p>E3 PRO GAMING V5</p></li>
                </ul>
                <ul>
                    <h3 class="lang_Z97 conceal">Seria Z97</h3>
                    <li class="lang_Z97_1 conceal"><p>Z97-PRO GAMER</p></li>
                </ul>
                <ul>
                    <h3 class="lang_B85 conceal">Seria B85</h3>
                    <li class="lang_B85_1 conceal"><p>B85-PRO GAMER</p></li>
                </ul>
            </div>
            <h2 class="lang_home_title_monitor">MONITOARE ASUS PENTRU JOCURI ELIGIBILE </h2>
            <div class="home-armory home-armory-monitor clear">
                <ul>
                    <img src="{{ STATIC_PREFIX }}images/doom/monitor-1.jpg">
                    <h3>Seria PG</h3>
                    <li><p>PG348Q</p></li>
                    <li><p>PG27AQ</p></li>
                    <li><p>PG279Q</p></li>
                    <li><p>PG278Q</p></li>
                </ul>
                <ul>
                    <img src="{{ STATIC_PREFIX }}images/doom/monitor-2.jpg">
                    <h3>Seria MG</h3>
                    <li><p>MG28UQ</p></li>
                    <li><p>MG279Q</p></li>
                    <li><p>MG278Q</p></li>
                    <li><p>MG24UQ</p></li>
                    <li><p>MG248Q</p></li>
                </ul>
                <ul>
                    <img src="{{ STATIC_PREFIX }}images/doom/monitor-3.jpg">
                    <h3>Seria VG</h3>
                    <li><p>VG278HV</p></li>
                    <li><p>VG248QE</p></li>
                </ul>
                <ul>
                    <img src="{{ STATIC_PREFIX }}images/doom/monitor-4.jpg">
                    <h3>Seria VX</h3>
                    <li><p>VX278Q</p></li>
                    <li><p>VX278H</p></li>
                    <li><p>VX248H</p></li>
                </ul>
            </div>
        </div>

    </div>

</div>

<div id="marginleft" style="float:right; width:100%; height:100%; padding-bottom:40px;">




<div id="marginleft" class="listing_chestii">
              

                        
			

						<div class="product_promo">		
					

<div class="product_holder ">
                            <a href="/produs/75824-placa-de-baza-asus-maximus-viii-gene" class="product_picture_holder">
                                <div class="middle size205x175">
                                    <div class="img-holder">
                                        <img class="center" src="/media/cache/2e/f0/2ef05a948930a9cba130990316c7a29e.jpg" alt="Placa de baza ASUS MAXIMUS VIII GENE" title="Placa de baza ASUS MAXIMUS VIII GENE" name="Placa de baza ASUS MAXIMUS VIII GENE">
                                    </div>
                                </div>
                            </a>
                            <h2><a href="/produs/75824-placa-de-baza-asus-maximus-viii-gene">Placa de baza Asus MAXIMUS-VIII-GENE, socket 1151</a></h2>
                
                              <span class="stoc stoc_ok">
                
                In stoc furnizor
                  </span>
                <div class="price-add-row">
                    <div class="product_price">
                        
                            <span class="pret_produs">991,5 lei</span>
                            
                        
                    </div>
                    
                       <a href="/produs/75824-placa-de-baza-asus-maximus-viii-gene"><img src="{{ STATIC_PREFIX }}images/promotii/detalii.jpg" style="position: absolute;width:110px; height:33px; margin-left:-5px; padding-top: 5px; z-index: 10;" /></a>                    
                </div>
                                                  
                            <!--
                <ul class="info_detalii">
                                <li><span>Garantie:  luni</span></li>
                                <li><span>Termen livrare: 24h de la comanda</span></li>
                                <li><span><span class="red">*</span>Transport GRATUIT</span></li>
                            </ul>  
                -->  
                        </div>
                        </div>

            

                        <div class="product_promo">     
                    
<div class="product_holder ">
                            <a href="/produs/81102-placa-de-baza-asus-maximus-viii-ranger" class="product_picture_holder">
                                <div class="middle size205x175">
                                    <div class="img-holder">
                                        <img class="center" src="/media/cache/91/67/91677b4732eff1c8889f138d52dddec3.jpg" alt="Placa de baza ASUS MAXIMUS VIII RANGER" title="Placa de baza ASUS MAXIMUS VIII RANGER" name="Placa de baza ASUS MAXIMUS VIII RANGER">
                                    </div>
                                </div>
                            </a>
                            <h2><a href="/produs/81102-placa-de-baza-asus-maximus-viii-ranger">Placa de baza Asus MAXIMUS-VIIIRANGER, socket 1151</a></h2>
                
                              <span class="stoc stoc_ok">
                
                In stoc furnizor
                  </span>
                <div class="price-add-row">
                    <div class="product_price">
                        
                            <span class="pret_produs">900,19 lei</span>
                            
                        
                    </div>
                    
                       <a href="/produs/81102-placa-de-baza-asus-maximus-viii-ranger"><img src="{{ STATIC_PREFIX }}images/promotii/detalii.jpg" style="position: absolute;width:110px; height:33px; margin-left:-5px; padding-top: 5px; z-index: 10;" /></a>                     
                </div>
                                                  
                            <!--
                <ul class="info_detalii">
                                <li><span>Garantie:  luni</span></li>
                                <li><span>Termen livrare: 24h de la comanda</span></li>
                                <li><span><span class="red">*</span>Transport GRATUIT</span></li>
                            </ul>  
                -->  
                        </div> </div>

                        
                        <div class="product_promo"> 

            <div class="product_holder ">
                            <a href="/produs/75840-placa-de-baza-asus-z170-p-d3" class="product_picture_holder">
                                <div class="middle size205x175">
                                    <div class="img-holder">
                                        <img class="center" src="/media/cache/47/a2/47a2764f7518e1a589fc128677a13384.jpg" alt="Placa de baza ASUS Z170-P D3" title="Placa de baza ASUS Z170-P D3" name="Placa de baza ASUS Z170-P D3">
                                    </div>
                                </div>
                            </a>

                            <h2><a href="/produs/75840-placa-de-baza-asus-z170-p-d3">Placa de baza Asus Z170-P-D3, socket 1151</a></h2>
                
                              <span class="stoc stoc_ok">
                
                In stoc furnizor
                  </span>
                
				<div class="price-add-row">
					<div class="product_price">
                        
                            <span class="pret_produss">339 lei</span>
                            
                            <span class="pret_vechi">416,21 lei</span>

                            
                        
                    </div>
                    

                       <a href="/produs/75840-placa-de-baza-asus-z170-p-d3"><img src="{{ STATIC_PREFIX }}images/promotii/detalii.jpg" style="position: absolute;width:110px; height:33px; margin-left:-5px; padding-top: 5px; z-index: 10;" /></a>                        
                </div>
                                                  

                        </div>
                                </div>

        <div class="product_promo"> 
<div class="product_holder ">
                            <a href="/produs/75828-placa-de-baza-asus-z170-k" class="product_picture_holder">
                                <div class="middle size205x175">
                                    <div class="img-holder">
                                        <img class="center" src="/media/cache/6b/38/6b380cd5e9b18e97a4d18773fd00f9ed.jpg" alt="Placa de baza ASUS Z170-K" title="Placa de baza ASUS Z170-K" name="Placa de baza ASUS Z170-K">
                                    </div>
                                </div>
                            </a>
                            <h2><a href="/produs/75828-placa-de-baza-asus-z170-k">Placa de baza Asus Z170-K, socket 1151</a></h2>
                
                              <span class="stoc stoc_ok">
                
                In stoc furnizor
                  </span>
                <div class="price-add-row">
                    <div class="product_price">
                        
                            <span class="pret_produs">586,67 lei</span>
                            
                            <span class="pret_vechi">629,84 lei</span>
                            
                        
                    </div>
                    
                       <a href="/produs/75828-placa-de-baza-asus-z170-k"><img src="{{ STATIC_PREFIX }}images/promotii/detalii.jpg" style="position: absolute;width:110px; height:33px; margin-left:-5px; padding-top: 5px; z-index: 10;" /></a>                        
                </div>
                                                  
                            <!--
                <ul class="info_detalii">
                                <li><span>Garantie:  luni</span></li>
                                <li><span>Termen livrare: 24h de la comanda</span></li>
                                <li><span><span class="red">*</span>Transport GRATUIT</span></li>
                            </ul>  
                -->  
                        </div>
                            </div>

</div>


                        
<div id="marginleft" class="listing_chestii">

<div class="product_promo"> 
<div class="product_holder ">
                            <a href="/produs/78818-placa-de-baza-asus-z170-p" class="product_picture_holder">
                                <div class="middle size205x175">
                                    <div class="img-holder">
                                        <img class="center" src="/media/cache/c1/9a/c19a53998a27e75ac4cf09ddabdd06a6.jpg" alt="Placa de baza Asus Z170-P" title="Placa de baza Asus Z170-P" name="Placa de baza Asus Z170-P">
                                    </div>
                                </div>
                            </a>
                            <h2><a href="/produs/78818-placa-de-baza-asus-z170-p">Placa de baza Asus Z170-P, socket 1151</a></h2>
                
                              <span class="stoc stoc_ok">
                
                In stoc furnizor
                  </span>
                <div class="price-add-row">
                    <div class="product_price">
                        
                            <span class="pret_produs">572,1 lei</span>
                            
                        
                    </div>
                    
                       <a href="/produs/78818-placa-de-baza-asus-z170-p"><img src="{{ STATIC_PREFIX }}images/promotii/detalii.jpg" style="position: absolute;width:110px; height:33px; margin-left:-5px; padding-top: 5px; z-index: 10;" /></a>                        
                </div>
                                                  
                            <!--
                <ul class="info_detalii">
                                <li><span>Garantie:  luni</span></li>
                                <li><span>Termen livrare: 24h de la comanda</span></li>
                                <li><span><span class="red">*</span>Transport GRATUIT</span></li>
                            </ul>  
                -->  
                        </div>
        </div>

<div class="product_promo"> 
<div class="product_holder ">
                            <a href="/produs/81069-placa-de-baza-asus-sabertooth-z170-mark-1" class="product_picture_holder">
                                <div class="middle size205x175">
                                    <div class="img-holder">
                                        <img class="center" src="/media/cache/f0/15/f0159796628688da7d06bdb4abf746d8.jpg" alt="Placa de baza ASUS SABERTOOTH Z170 MARK 1" title="Placa de baza ASUS SABERTOOTH Z170 MARK 1" name="Placa de baza ASUS SABERTOOTH Z170 MARK 1">
                                    </div>
                                </div>
                            </a>
                            <h2><a href="/produs/81069-placa-de-baza-asus-sabertooth-z170-mark-1">Placa de baza Asus SABERTOOTH Z170 MARK 1, socket 1151</a></h2>
                
                              <span class="stoc stoc_ok">
                
                In stoc furnizor
                  </span>
                <div class="price-add-row">
                    <div class="product_price">
                        
                            <span class="pret_produs">1187,84 lei</span>
                            
                        
                    </div>
                    
                       <a href="/produs/81069-placa-de-baza-asus-sabertooth-z170-mark-1"><img src="{{ STATIC_PREFIX }}images/promotii/detalii.jpg" style="position: absolute;width:110px; height:33px; margin-left:-5px; padding-top: 5px; z-index: 10;" /></a>                        
                </div>
                                                  
                            <!--
                <ul class="info_detalii">
                                <li><span>Garantie:  luni</span></li>
                                <li><span>Termen livrare: 24h de la comanda</span></li>
                                <li><span><span class="red">*</span>Transport GRATUIT</span></li>
                            </ul>  
                -->  
                        </div>

</div>


<div class="product_promo"> 
<div class="product_holder ">
                            <a href="/produs/70563-placa-de-baza-asus-rampage-v-eu31" class="product_picture_holder">
                                <div class="middle size205x175">
                                    <div class="img-holder">
                                        <img class="center" src="/media/cache/77/b6/77b6ea5b5c30123b57a2b1e17b0fa03d.jpg" alt="Placa de baza ASUS RAMPAGE V E/U3.1" title="Placa de baza ASUS RAMPAGE V E/U3.1" name="Placa de baza ASUS RAMPAGE V E/U3.1">
                                    </div>
                                </div>
                            </a>
                            <h2><a href="/produs/70563-placa-de-baza-asus-rampage-v-eu31">Placa de baza Asus RAMPAGE V EXTREME/U3.1, socket 2011-3</a></h2>
                
                              <span class="stoc stoc_ok">
                
                In stoc furnizor
                  </span>
                <div class="price-add-row">
                    <div class="product_price">
                        
                            <span class="pret_produs">2281,87 lei</span>
                            
                        
                    </div>
                    
                       <a href="/produs/70563-placa-de-baza-asus-rampage-v-eu31"><img src="{{ STATIC_PREFIX }}images/promotii/detalii.jpg" style="position: absolute;width:110px; height:33px; margin-left:-5px; padding-top: 5px; z-index: 10;" /></a>                        
                </div>
                                                  

                        </div>
</div>

<div class="product_promo"> 
<div class="product_holder ">
                            <a href="/produs/75837-placa-de-baza-asus-sabertooth-x99" class="product_picture_holder">
                                <div class="middle size205x175">
                                    <div class="img-holder">
                                        <img class="center" src="/media/cache/29/53/29538ab9356a8afb0d728007d33efc63.jpg" alt="Placa de baza ASUS SABERTOOTH X99" title="Placa de baza ASUS SABERTOOTH X99" name="Placa de baza ASUS SABERTOOTH X99">
                                    </div>
                                </div>
                            </a>
                            <h2><a href="/produs/75837-placa-de-baza-asus-sabertooth-x99">Placa de baza Asus SABERTOOTH X99, socket 2011-3</a></h2>
                
                              <span class="stoc stoc_ok">
                
                In stoc furnizor
                  </span>
                <div class="price-add-row">
                    <div class="product_price">
                        
                            <span class="pret_produs">1680,3 lei</span>
                            
                        
                    </div>
                    
                       <a href="/produs/75837-placa-de-baza-asus-sabertooth-x99"><img src="{{ STATIC_PREFIX }}images/promotii/detalii.jpg" style="position: absolute;width:110px; height:33px; margin-left:-5px; padding-top: 5px; z-index: 10;" /></a>                        
                </div>
                                                  
                            <!--
                <ul class="info_detalii">
                                <li><span>Garantie:  luni</span></li>
                                <li><span>Termen livrare: 24h de la comanda</span></li>
                                <li><span><span class="red">*</span>Transport GRATUIT</span></li>
                            </ul>  
                -->  
                        </div>
</div>
            
</div>

                   

<div id="marginleft" class="listing_chestii">


<div class="product_promo">    
<div class="product_holder ">
                            <a href="/produs/70539-placa-de-baza-asus-x99-a" class="product_picture_holder">
                                <div class="middle size205x175">
                                    <div class="img-holder">
                                        <img class="center" src="/media/cache/e3/28/e3284b1f8af5b7f650869d28a04ec5ad.jpg" alt="Placa de baza ASUS X99-A" title="Placa de baza ASUS X99-A" name="Placa de baza ASUS X99-A">
                                    </div>
                                </div>
                            </a>
                            <h2><a href="/produs/70539-placa-de-baza-asus-x99-a">Placa de baza Asus X99-A, socket 2011-3</a></h2>
                
                              <span class="stoc stoc_ok">
                
                In stoc furnizor
                  </span>
                <div class="price-add-row">
                    <div class="product_price">
                        
                            <span class="pret_produs">1181,51 lei</span>
                            
                        
                    </div>
                    
                       <a href="/produs/70539-placa-de-baza-asus-x99-a"><img src="{{ STATIC_PREFIX }}images/promotii/detalii.jpg" style="position: absolute;width:110px; height:33px; margin-left:-5px; padding-top: 5px; z-index: 10;" /></a>                        
                </div>
                                                  
                            <!--
                <ul class="info_detalii">
                                <li><span>Garantie:  luni</span></li>
                                <li><span>Termen livrare: 24h de la comanda</span></li>
                                <li><span><span class="red">*</span>Transport GRATUIT</span></li>
                            </ul>  
                -->  
                        </div>
                           
</div>

<div class="product_promo">    
<div class="product_holder ">
                            <a href="/produs/67006-placa-de-baza-asus-b85-pro-gamer" class="product_picture_holder">
                                <div class="middle size205x175">
                                    <div class="img-holder">
                                        <img class="center" src="/media/cache/b2/74/b274db8602d47ce58e37e38c6a2c1d03.jpg" alt="Placa de baza Asus B85-PRO GAMER" title="Placa de baza Asus B85-PRO GAMER" name="Placa de baza Asus B85-PRO GAMER">
                                    </div>
                                </div>
                            </a>
                            <h2><a href="/produs/67006-placa-de-baza-asus-b85-pro-gamer">Placa de baza Asus B85-PRO GAMER, socket 1150</a></h2>
                
                              <span class="stoc stoc_ok">
                
                In stoc furnizor
                  </span>
                <div class="price-add-row">
                    <div class="product_price">
                        
                            <span class="pret_produs">496,94 lei</span>
                            
                        
                    </div>
                    
                       <a href="/produs/67006-placa-de-baza-asus-b85-pro-gamer"><img src="{{ STATIC_PREFIX }}images/promotii/detalii.jpg" style="position: absolute;width:110px; height:33px; margin-left:-5px; padding-top: 5px; z-index: 10;" /></a>                        
                </div>
                                                  
                            <!--
                <ul class="info_detalii">
                                <li><span>Garantie:  luni</span></li>
                                <li><span>Termen livrare: 24h de la comanda</span></li>
                                <li><span><span class="red">*</span>Transport GRATUIT</span></li>
                            </ul>  
                -->  
                        </div>
                           
</div>

<div class="product_promo">    

                           
</div>

<div class="product_promo">    

                           
</div>



</div>
</div>
    

   



  




<div class="wrapper">
    <div class="hero">


<div class="home-add"><!--0509-->

            <p class="note lang_disclaimer">ASUS își rezervă dreptul de a modifica detaliile promoției fără o notificare prealabilă.</p>
</div>
    </div>
    <div class="copyright">
        <img src="{{ STATIC_PREFIX }}images/doom/partners.png">
        <p>©2016 Bethesda Softworks LLC, o Companie ZeniMax Media. Mărcile înregistrate aparțin proprietarilor respectivi. <br>Toate Drepturile Rezervate. Licență OEM inclusă în pachet oferită de Software Symbiosis Pte Ltd</p>
    </div>
    <div class="footer">
        <p><img src="{{ STATIC_PREFIX }}images/doom/asus.png"> ©ASUSTeK Computer Inc. Toate Drepturile Rezervate.</p>
    </div>
</div>


<div id="footer">

{% endblock content %}
</div>

