{% extends "base_2col.html" %}
{% load atex_tags %}

{% block title %}{{ block.super }} - {% with breadcrumbs|last as current %}{{ current.name }}{% endwith %}{% endblock title %}

{% block menu %}
            	<div class="menu-closed">
                	<div class="dd-menu">
                    	<a class="menu-link" href="#"><span class="menu_icon"><img src="{{ STATIC_PREFIX }}images/menu-dd-item.png" height="23" width="24" alt="icon" /></span>PRODUSE</a>
                    </div>
                    {{ block.super }}
                </div> <!-- menu closed -->
{% endblock menu %}

{% block banner_left %}{% endblock %}

{% block content_left %}
            <form id="filter_form" method="get" action="{% url "search" %}" class="search">
                <input type="hidden" name="cuvinte" value="{{ search_form.cleaned_data.cuvinte }}">
                <input type="hidden" name="cauta_in" value="{{ search_form.cleaned_data.cauta_in }}">
                <input type="hidden" name="ordine" value="{{ search_form.cleaned_data.ordine|default:search_form.fields.ordine.initial }}">
                <input type="hidden" name="pe_pagina" value="{{ search_form.cleaned_data.pe_pagina|default:search_form.fields.pe_pagina.initial }}">
                <input type="hidden" name="stoc" value="{{ search_form.cleaned_data.stoc|default:search_form.fields.stoc.initial }}">

                <div class="left_search">
                    {{ search_form.categorie }}
                    {% if selectors %}
                	<div class="reset-sel">
                    	<a href="#" class="reset_sel_btn" id="uncheck">Anuleaza toate selectiile</a>
                    </div>
                    {% endif %}
                    {% for selector_group in selectors %}
                	<ul class="selector_area">
                    	<li class="title_row">
                        	<div class="sel_title">
                                 <span class="up_left"></span>
                                 <span class="tab_up">{{ selector_group.name }}</span>
                                 <span class="up_right"></span> 
                            </div>    
                        </li>
                        {% for selector in selector_group.selectors %}
                        <li>
                             <input name="filtre" type="checkbox" value="{{ selector.selector_id }}" class="checkbox submit" {% if selector.selector_id in selectors_active %}checked{% endif %} />
                             <a href="#">{{ selector.name }}</a> <span>({{ selector.count }})</span>
                        </li>
                        {% endfor %}
                        {% if "Pret" in selector_group.name %}
                        <li>
                            <input name="pret" type="checkbox" value="1" class="checkbox" {% if price_min or price_max %}checked{% endif %}>
                            <div class="price_selector">
                                <input name="pret_min" class="price_input" id="price_min" type="text" value="{{ price_min }}" />
                                <span>-</span>
                                <input name="pret_max" class="price_input" id="price_max" type="text" value="{{ price_max }}" />
                                <input name="price_search" class="price_search" id="price_search" type="button"/>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                    {% if selectors %}
                    <div class="reset-sel top15">
                		<a href="#" class="reset_sel_btn" id="uncheck">Anuleaza toate selectiile</a>
                	</div>
                    {% endif %}
                </div>
            </form>
{% endblock content_left %}

{% block content_right %}
                <div class="filtrare_holder">
                    <div class="tab_d_holder">
                        <span class="down_left"></span>
                            <ul class="tab_down">
                                <li><span>filtrare</span></li>                                
                            </ul>
                        <span class="down_right"></span>
                    </div>
                    <ul class="filtrare">
                    	<li>
                        	<span>Ordoneaza dupa: </span>
                            {{ search_form.ordine }}
                        </li>
                        <li>
                        	<span>Nr produse pe pagina: </span>
                            {{ search_form.pe_pagina }}
                        </li>
                        <li>
                        	<span>Doar produsele din stoc: </span>
                            {{ search_form.stoc }}
                        </li>
                    </ul>    
                </div>
                <div class="listing_produse">
                    {% for product in products %}
                        <div class="product_holder {% if product.last_in_line%}last{% endif %}">
                            <a href="{{ product.url }}" class="product_picture_holder">
                                <div class="middle size205x175">
                                    <div class="img-holder">
                                        <img class="center" src="{{ product.images.0|thumbnail:"185x145" }}" alt="{{ product.name }}" title="{{ product.name }}" name="{{ product.name }}"/>
                                    </div>
                                </div>
                            </a>
                            <h2><a href="{{ product.url }}">{{ product.name }}</a></h2>
                            <span class="stoc_ok">{{ product.stock_info }}</span>      
				<div class="price-add-row">
					<div class="product_price">
                                		<span class="pret_produs">{{ product.price }} lei</span>
                                		{% if product.old_price %}
                                		<span class="pret_vechi">{{ product.old_price }} lei</span>
                                		{% endif %}
                            	</div>
					<a href="#" class="add_cos_btn_small" data-product-id="{{ product.id }}"><span></span>Adauga in cos</a>
				</div>
                                                  
                            <!--
				<ul class="info_detalii">
                                <li><span>Garantie: {{ product.warranty }} luni</span></li>
                                <li><span>Termen livrare: 24h de la comanda</span></li>
                                <li><span><span class="red">*</span>Transport GRATUIT</span></li>
                            </ul>  
				-->  
                        </div>
     
                        {% if product.last_in_line %}
                            <div class="product_spacer"></div>
                        {% endif %}
                    {% endfor %}
                    
                    <div class="product-section">
                    	<span class="produse-gasite">Produsele de la {{ pagination.start }} la {{ pagination.stop }} din {{ pagination.total_count }} produse {% if category_name %}gasite in categoria <strong>{{ category_name }}</strong>{% endif %}</span>
                    	<div class="tab_d_holder_right">
                            {% if pagination.previous %}
                                <a href="{{ pagination.previous.url }}" class="prev"></a>
                            {% else %}
                                <a class="prev"></a>
                            {% endif %}
                                <ul class="paginare">
                                    {% for page in pagination.pages %}
                                    <li>
                                        {% if page.is_current %}
                                        <a class="active">{{ page.name }}</a></li>
                                        {% else %}
                                        <a href="{{ page.url }}">{{ page.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% if pagination.next %}
                                <a href="{{ pagination.next.url }}" class="next"></a>
                            {% else %}
                                <a class="next"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
{% endblock content_right %} 
