{% extends "base_2col.html" %}
{% block title %}Service calculatoare si laptop-uri Cluj-Napoca | ATEX Computer{% endblock %}

{% block head %}
	<meta name="description" content="Service IT. Reparatii laptop-uri si calculatoare. Upgrade PC.">

	<meta name="keywords" content="service IT, calculatoare, PC, devirusari, back-up, laptop, Cluj-Napoca"> 
{% endblock %}
{% block content_right %}
                <div class="conditii-content">
                    <div class="red-bottom"> 
                        <div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>Lista de servicii oferite</span></li>                          
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        <div class="info-conditii">
						 <p><img src="/static/images/banner_service_IT_atex_computers.png" width="auto" height="auto" /></p><br><br><br>
                          <p align="justify">Serviciile noastre se adreseaza tuturor utilizatorilor de calculatoare si urmaresc crearea unui mediu informatic stabil si usor de folosit.</p>
                          <p align="justify">Suntem gata sa te ajutam cu cele mai bune sfaturi si cele mai simple solutii pentru orice problema din domeniul IT. Pe langa solutiile tehnice profesionale noi oferim suportul si ajutorul necesar fiecaruia pentru a intelege si a utiliza cu succes tehnologia informatiei.</p>
                          <p>ATEX Computers, cu sediul in Cluj Napoca, pe Str. Stephan Ludwig Roth, nr. 21, va ofera servicii complete de reparatie, upgrade si mentenanta PC. Service-ul se realizeaza la sediul firmei noastre.</p>
                          <ul class="service-bg">
                              <li class="red-title">Specialistii nostri te pot ajuta daca ai o problema de tip software:</li>
                              <li>
                                  •   Instalare, configurare sistem operare (necesara dovada achizitionarii licentei) <B>50 LEI - sistem</B><br />
                                  •   Instalare drivere aferente sistemului(suport existent) <B>12 LEI - sistem</B><br />	
								  •   Instalare driver componenta externa/ periferic(suport existent) <B>20 LEI - componenta</B><br />
								  •   Devirusare sistem operare (fără reinstalarea programelor corupte) <B>50 LEI - sistem</B><br />
								  •   Instalare/actualizare antivirus (inclusiv antispyware) <B>20 LEI - aplicatie</B><br />
								  •   Clean UP (fisiere corupte, registri corupti, etc.) <B>40 LEI - operatiune</B><br />
								  •   Depanare sistem de operare (inclusiv rezolvare conflicte drivere) <B>30 LEI - operatiune</B><br />
								  •   Instalare şi configurare E-mail/ browsing/ messenger <B>12 LEI - aplicatie</B><br />
								  •   Import mesaje email + address book <B>25 LEI - 1 GB</B><br />
								  •   Web searching (drivere, patch-uri, documentaţie) <B>12 LEI - aplicatie</B><br />
								  •   (Re)partiţionare HDD <B>15 LEI - HDD</B><br />
								  •   Transfer de date HDD-HDD <B>50 LEI - HDD</B><br />
							  •   Backup date pe CD, DVD,HDD,etc ( suportul media nu este inclus ) <B>20 LEI - 700 MB</B><br />
                              </li>

                              <li class="red-title">Sau Hardware:</li>
                              <li>
                                  •   Diagnosticare sistem sau periferic <B>50 LEI - sistem</B><br />
								  •   Diagnosticare placa de extensie (ISA, PCI, AGP, CNR, AMR, ACR) <B>30 LEI - bucata</B><br />
								  •   Diagnosticare şi testare componentă PC <B>30 LEI - bucata</B><br />
								  •   Configurare si instalare placă de bază(inclus toate componentele) <B>50 LEI - operatie</B><br />
								  •   Curăţare completă calculator ( inclusiv aplicare spray contact) <B>50 - 150 LEI - bucata</B><br />
								  •   Asamblare componente PC(in carcasă; maxim 3 componente) <B>25 LEI - sistem</B><br />
								  •   Asamblare componente PC (în carcasă; de la 3 componente in sus. Pretul se calculeaza in functie de numarul componentelor si de timpul alocat pentru cable management.) <B>40 - 100 LEI - sistem</B><br />
								  •   Verificare sursa alimentare si UPS <B>10 LEI - bucata</B><br />
								  •   Testarea produselor achizitionate <B>15 LEI</B><br />
								  •   În cazul în care ați venit cu calculatorul la reparat și acesta este extrem de murdar se aplică o taxa pentru curațarea lui <B>50 LEI</B><br />
                              </li>

                              <li class="red-title">Pe langa asta, va oferim proiectare, implementare şi întreţinere reţele de calculatoare  pe diferite medii </li>
                              <li>
                                  •   Configurare si instalare elemente active si pasive-cablu(fara vpn) <B>40 LEI - echipament</B><br />
                                  •   Configurare si instalare elemente active-wireless(fara vpn) <B>60 LEI - echipament</B><br />
								  •   Instalare, configurare şi testare print server-router <B>40 LEI - sistem</B><br />
								  •   Configurare client/ staţie pentru conexiune cu server <B>20 LEI - sistem</B><br />
								  •   Setare conexiune de internet <B>20 LEI - conexiune</B><br />
                              </li>

                              <li class="red-title">Totusi, avem si servicii suplimentare</li>
                              <li>
                                
                                  •   Depanare periferice inclusiv imprimante(reparatii autorizate) <B>70 LEI - operatiune</B><br />
                                  •   Testare sistem (anduranţă) <B>50 LEI - sistem</B><br />
								  •   Maintenanta servicii web <B>50 LEI - ora</B><br />
								  •   Consultanta IT&PC suplimentara/alte interventii <B>50 LEI - ora</B><br />
                              </li>
								
							  <li class="red-title">Tarifele sunt exprimate in Lei, toate taxele incluse.</li>
                              <li>
                               ATEX Computers va ofera GARANTIE pentru reparatie si/sau componenta utilizata in reparatie, care este de MINIM 3 luni din momentul returnarii produsului din service si maximum egala cu perioada ramasa pana la expirarea garantiei initiale a produsului reparat.
                              </ul>
                        </div>
                    </div>
                </div>

{% endblock content_right %}
