{% extends "base_2col.html" %}
{% block title %}{{ block.super }} - Servicii{% endblock title %}

{% block content_right %}
                <div class="conditii-content">
                    <div class="red-bottom"> 
                        <div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>Lista de servicii oferite</span></li>                                
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        <div class="info-conditii">
                            <ul>
                                <li class="red-title">Servicii Software</li>
                                <li>
                                    •   Instalare, configurare sistem operare (necesara dovada achizitionarii licentei) <B>50 LEI - sistem</B><br />
                                    •   Instalare drivere aferente sistemului(suport existent) <B>12 LEI - sistem</B><br />	
									•   Instalare driver componenta externa/ periferic(suport existent) <B>20 LEI - componenta</B><br />
									•   Devirusare sistem operare (fără reinstalarea programelor corupte) <B>50 LEI - sistem</B><br />
									•   Instalare/actualizare antivirus (inclusiv antispyware) <B>20 LEI - aplicatie</B><br />
									•   Clean UP (fisiere corupte, registrii corupti, etc.) <B>40 LEI - operatiune</B><br />
									•   Depanare sistem de operare (inclusiv rezolvare conflicte drivere) <B>30 LEI - operatiune</B><br />
									•   Instalare şi configurare E-mail/ browsing/ messenger <B>12 LEI - aplicatie</B><br />
									•   Import mesaje email + adress book <B>25 LEI - 1 GB</B><br />
									•   Web searching (drivere, patch-uri, documentaţie) <B>12 LEI - aplicatie</B><br />
									•   (Re)partiţionare HDD <B>15 LEI - HDD</B><br />
									•   Transfer de date HDD-HDD <B>50 LEI - HDD</B><br />
									•   Backup date pe CD, DVD,HDD,etc ( suportul media nu este inclus ) <B>20 LEI - 700 MB</B><br />
                                </li>

                                <li class="red-title">Servicii Hardware</li>
                                <li>
                                    •   Diagnosticare sistem sau periferic <B>50 LEI - sistem</B><br />
									•   Diagnosticare placa de extensie (ISA, PCI, AGP, CNR, AMR, ACR) <B>30 LEI - bucata</B><br />
									•   Diagnosticare şi testare componentă PC <B>30 LEI - bucata</B><br />
									•   Configurare si instalare placă de bază(inclus toate componentele) <B>50 LEI - operatie</B><br />
									•   Curăţare completă calculator ( inclusiv aplicare spray contact) <B>50 LEI - bucata</B><br />
									•   Asamblare componente PC(in carcasă; maxim 3 componente) <B>25 LEI - sistem</B><br />
									•   Asamblare componente PC (în carcasă; de la 3 componente in sus ) <B>40 LEI - sistem</B><br />
									•   Verificare sursa alimentare si UPS <B>10 LEI - bucata</B><br />
                                </li>

                                <li class="red-title">Retele si periferice</li>
                                <li>
                                    •   Configurare si instalare elemente active si pasive-cablu(fara vpn) <B>40 LEI - echipament</B><br />
                                    •   Configurare si instalare elemente active-wireless(fara vpn) <B>60 LEI - echipament</B><br />
									•   Instalare, configurare şi testare print server-router <B>40 LEI - sistem</B><br />
									•   Configurare client/ staţie pentru conexiune cu server <B>20 LEI - sistem</B><br />
									•   Setare conexiune de internet <B>20 LEI - conexiune</B><br />
                                </li>

                                <li class="red-title">Servicii suplimentare</li>
                                <li>
                                    •   Deplasare la sediul clientului (on site) <B>50 LEI - deplasare</B><br />
                                    •   Depanare periferice inclusiv imprimante(reparatii autorizate) <B>70 LEI - operatiune</B><br />
                                    •   Testare sistem (anduranţă) <B>50 LEI - sistem</B><br />
									•   Maintenanta servicii web <B>50 LEI - ora</B><br />
									•   Consultanta IT&PC suplimentara/alte interventii <B>50 LEI - ora</B><br />
                                </li>
								
								<li class="red-title">Tarifele sunt exprimate in Lei,taxe incluse.</li>
                                <li>
                                                                   
                                </ul>
                        </div>
                    </div>
                </div>

{% endblock content_right %}