{% extends "base_2col.html" %}
{% block title %}Service calculatoare si laptop-uri Cluj-Napoca | ATEX Computer{% endblock %}

{% block head %}
	<meta name="description" content="Service IT. Reparatii laptop-uri si calculatoare. Upgrade PC.">

	<meta name="keywords" content="service IT, calculatoare, PC, devirusari, back-up, laptop, Cluj-Napoca"> 
{% endblock %}
{% block content_right %}
                <div class="conditii-content">
                    <div class="red-bottom"> 
                        <div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>Lista de servicii oferite</span></li>                          
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        <div class="info-conditii">
						 <p><img src="/static/images/banner_service_IT_atex_computers.png" width="auto" height="auto" /></p><br><br><br>
                          <p align="justify">Serviciile noastre se adreseaza tuturor utilizatorilor de calculatoare si urmaresc crearea unui mediu informatic stabil si usor de folosit.</p>
                          <p align="justify">Suntem gata sa te ajutam cu cele mai bune sfaturi si cele mai simple solutii pentru orice problema din domeniul IT. Pe langa solutiile tehnice profesionale noi oferim suportul si ajutorul necesar fiecaruia pentru a intelege si a utiliza cu succes tehnologia informatiei.</p>
                          <p>ATEX Computers, cu sediul in Cluj Napoca, pe Str. Stephan Ludwig Roth, nr. 21, va ofera servicii complete de reparatie, upgrade si mentenanta PC. Service-ul se realizeaza la sediul firmei noastre.</p>
                          <ul class="service-bg">
                              <li class="red-title">Specialistii nostri te pot ajuta daca ai o problema de tip software:</li>
                              <li>
                                  •   Instalare și configurare sistem operare. Sunt incluse doar instalarea sistemului de operare si a driver-elor. Este necesara prezentarea unei dovezi de achizitionare a licentei.<br />
								  <p align="right"><B>100 lei/sistem</B></p>
                                  •   Devirusare sistem operare (fără reinstalarea programelor corupte) <br />
								  <p align="right"><B>75 lei/sistem</B></p>
								  •   Depanare sistem de operare (inclusiv rezolvare conflicte drivere) <br />
								  <p align="right"><B>100 lei/operatiune</B></p>
								  •   (Re)partiţionare HDD	<br />
								  <p align="right"><B>50 lei/HDD</B></p>
								  •   Transfer de date HDD-HDD<br />
								   <p align="right"><B>150 lei/5GB</B></p>
								  •   Clonare partiție/migrare sistem de operare<br />
								  <p align="right"><B>150 lei</B></p>
								  
                              </li>

                              <li class="red-title">Hardware:</li>
                              <li>
                                  •   Diagnosticare sistem<br />
								  <p align="right"><B>între 50 si 150 lei</B></p>
								  •   Diagnosticare  periferice<br />
								  <p align="right"><B>50 lei/echipament</B></p>
								  •   Diagnosticare şi testare componentă PC <br />
								  <p align="right"><B>50 lei/PC</B></p>
								  •   Configurare si instalare placă de bază (inclus toate componentele)<br />
								  <p align="right"><B>100 lei/operatie</B></p>
								  •   Curăţare completă calculator ( inclusiv aplicare spray contact)<br />
								  <p align="right"><B>50 - 150 lei</B></p>
								  •   Asamblare componente PC in carcasă, inclusiv aranjarea cablurilor<br />
								  <p align="right"><B>între 150 si 300 lei</B></p>
								  •   Cable management<br />
								  <p align="right"><B>100 de lei</B></p>
								  •   Verificare sursa alimentare si UPS<br />
								  <p align="right"><B>25 lei</B></p>
								  •   Testarea produselor achizitionate din magazin<br />
								  <p align="right"><B>Gratuit</B></p>
								  •   Testare sistem (anduranţă)<br />
								  <p align="right"><B>50 - 100 lei/sistem</B></p>
								  •   Consultanta IT&PC suplimentara/alte interventii<br />
								  <p align="right"><B>150 lei/ora</B></p>
								  •   În cazul în care ați venit cu calculatorul la reparat și acesta este extrem de murdar se aplică o taxa pentru curațarea lui 50 LEI<br />
                              </li>


								
							  <li class="red-title">Tarifele sunt exprimate in lei si include toate taxele.</li>
                              <li>
                               ATEX Computer va ofera GARANTIE pentru reparatie si/sau componenta utilizata in reparatie, care este de MINIM 3 luni din momentul returnarii produsului din service si maximum egala cu perioada ramasa pana la expirarea garantiei initiale a produsului reparat.
                              </ul>
                        </div>
                    </div>
                </div>

{% endblock content_right %}
