{% extends "base_2col.html" %}
{% block title %}Service autorizat | ATEX Computer{% endblock %}

{% block head %}
	<meta name="description" content="Service IT. Reparatii laptop-uri si calculatoare. Upgrade PC.">

	<meta name="keywords" content="service IT, calculatoare, PC, devirusari, back-up, laptop, Cluj-Napoca"> 
{% endblock %}
{% block content_right %}
                <div class="conditii-content">
                    <div class="red-bottom"> 
                        <div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>Service autorizat</span></li>                          
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        <div class="info-conditii">
						 
                        </div>
                    </div>
                </div>

{% endblock content_right %}
