{% extends "base_2col.html" %}
{% block title %}Service autorizat | ATEX Computer{% endblock %}

{% block head %}
	<meta name="description" content="Service IT. Reparatii laptop-uri si calculatoare. Upgrade PC.">

	<meta name="keywords" content="service IT, calculatoare, PC, devirusari, back-up, laptop, Cluj-Napoca"> 
	<style>
table, th, td {
    border: 0px;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
</style>
{% endblock %}
{% block content_right %}
                <div class="conditii-content">
                    <div class="red-bottom"> 
                        <div class="tab_u_holder_left">
                            <span class="up_left"></span>
                                <ul class="tab_up">
                                    <li><span>Service autorizat</span></li>                          
                                </ul>
                            <span class="up_right"></span>
                        </div>
                        <div class="info-conditii">
						 
						 
						 
						 <table border="0" cellpadding="10" cellspacing="10" id="Table_01" width="100%">
	<tbody>
		<tr>
			<td width="860">
				<p>
					<strong><span class="red-title">1. Garantia produselor</span></strong><br>
					<br>
					- Toate produsele comercializate de ATEX Computer sunt cu garantie nationala sau internationala sustinuta de service-ul nostru sau de service-uri autorizate ale partenerilor sau ale producatorilor (retele de service-uri nationale) .<br>
					- Toate produsele se livreaza sigilate si in ambalajul original al producatorului .<br>
					- Toate produsele comercializate provin din surse autorizate de producatori sau direct de la producatori.<br>
					- Toate produsele sunt insotite de certificatul de garantie emis de ATEX Computer si se supun legilor in vigoare.</p>
				<h1 class="red-title"><br>
					<span style="font-size:12px;"><span class="menu_left_head2">2. In service autorizat al producatorilor </span></span></h1>
				<p><br>
					Orice produs comercializat de ATEX Computer si insotit de certificat de garantie al producatorului se supune procedurii de lucru aflate pe acel certificat si se repara sau inlocuieste numai in retelele de service aflate in certificatul de garantie al producatorului.</p>
				<p>
					Produsul defect trebuie prezentat acelor centre de service aflate in reteaua de service a producatorului. O parte din aceste service-uri se regasesc in lista de mai jos.<br>
					<br>
					<span class="red-title">Atentie: </span>Produsele ce vin cu certificatul de garantie al producatorului in original nu se aduc in serviceul ATEX Computer, ci se predau numai retelelor de service autorizat ale producatorului.<br>
					Deteriorarea, stergerea sau pierderea etichetei cu serialul produsului duce la pierderea garantiei. NU SE ACCEPTA PRODUSUL IN NICI UN SERVICE FARA ACEST SERIAL</p>
				<p><br>
					&nbsp;</p>
				<table border="1" cellpadding="1" cellspacing="10" width="765" id="t01">
					<tbody> 
						<tr>
							<td width="96">
								<span class="red-title">Marca</span></td>
							<td width="91">
								<span class="red-title">Gama produse</span></td>
							<td width="157">
								<span class="red-title">Service autorizat</span></td>
							<td width="220">
								<span class="red-title">Contact</span></td>
							<td width="259">
								<span class="red-title">Alte informatii</span></td>
						</tr><br>
						<tr>
							<td>
								<strong>Sony Vaio</strong></td>
							<td>
								Laptop-uri</td>
							<td>
								<strong>Sony Vaio of Europe</strong></td>
							<td>
								<p>
									021 313.88.72<br>
									<a href="https://shop.sony.eu/shop/mimes/openAccess/legal/contact-us/contact_ro_RO.html" style="color:red">SUPPORT SONY VAIO</a></p>
							</td>
							<td>
								Nu este necesar nici un document in plus pentru service decat serialul de pe spatele laptop-ului !</td>
						</tr>
						<tr>
							<td>
								<strong>Sony</strong></td>
							<td>
								Foto, video, TV</td>
							<td>
								<strong>Centre autorizate SONY</strong></td>
							<td>
								<p>
									<a href="https://shop.sony.eu/shop/mimes/openAccess/legal/contact-us/contact_ro_RO.html" style="color:red">SUPPORT SONY VAIO</a></p>
							</td>
							<td>
								Nu este necesar nici un document in plus pentru service decat serialul de pe produs !</td>
						</tr>
						<tr>
							<td>
								<strong>Acer</strong></td>
							<td>
								Toata gama de produse</td>
							<td>
								<strong>Sama Bit</strong></td>
							<td>
								<p>
									021 222.67.35<br>
									<a href="http://www.samabit.ro/contact" style="color:red">SAMABIT</a></p>
							</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>Lexmark</strong></td>
							<td>
								Imprimante si multifunctionale laser</td>
							<td>
								<strong>Ceemark</strong></td>
							<td>
								021 321.25.89 / 91</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>HP</strong></td>
							<td>
								Toata gama</td>
							<td>
								<h1 class="style5">
									<span style="font-size:12px;">Parteneri HP autorizati pentru service</span></h1>
							</td>
							<td>
								<a href="http://www8.hp.com/ro/ro/contact-hp/phone-assist.html" style="color:red">Call Center HP Romania</a></td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>Asus</strong></td>
							<td>
								Laptop, PDA, PNA</td>
							<td>
								<strong>EuroService Center </strong></td>
							<td>
								0372.770.777<br>
								<a href="http://www.esc-it.ro/laptop/service-laptop-asus" style="color:red">Euro Service Center</a></td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>Fujitsu</strong></td>
							<td>
								Laptop-uri</td>
							<td>
								<strong>EuroService Center</strong></td>
							<td>
								0372.770.777<br>
								<a href="http://www.esc-it.ro/laptop/service-laptop-fujitsu-siemens" style="color:red">Euro Service Center</a></td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								&nbsp;</td>
						</tr>
						<tr>
							<td>
								<strong>DELL</strong></td>
							<td>
								Laptop-uri gama business: Dell Latitude, Dell Inspiron, Dell Precision, Dell XPS, Dell Chromebook</td>
							<td>
								<b style="color:red">ATEX Computer</b></td>
							<td>
								<p>0264-599709<br>
									
									<a href="http://www.atexpc.ro/contact/" style="color:red">ATEX Computer</a><br>
									e-mail: garantii@atexpc.ro</p></td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>DELL</strong></td>
							<td>
								Laptop-uri</td>
							<td>
								<b>DELL Romania</b></td>
							<td>
								0800.894.682</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>BENQ</strong></td>
							<td>
								Toata gama</td>
							<td>
								<strong>Darer Electronics</strong></td>
							<td>
								<p>
									08010-23670<br>
									<br>
									0259 - 34 24 31<br>
									0740 - 166 808<br>
									<a href="http://www.benq.ro/support/" style="color:red">Benq Support</a></p>
							</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>LENOVO</strong></td>
							<td>
								Lenovo ThinkPad, Lenovo Yoga</td>
							<td>
								<strong style="color:red">ATEX Computer</strong></td>
							<td>
								<p>
									0264-599709<br>
									
									<a href="http://www.atexpc.ro/contact/" style="color:red">ATEX Computer</a><br>
									e-mail: garantii@atexpc.ro</p>
							</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						
						<tr>
							<td>
								<strong>LENOVO</strong></td>
							<td>
								IdeaPad, Idea Centre, Servere SMC, Tablete K1</td>
							<td>
								<strong>Depanero</strong></td>
							<td>
								<p>
									07 GARANTIE<br>
									0742.726.843<br>
									<a href="http://www.depanero.ro/informatii-contact" style="color:red">Depanero Service</a></p>
							</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>EPSON</strong></td>
							<td>
								Toata gama</td>
							<td>
								<strong>MB Distribution</strong></td>
							<td>
								<p>
									021 231.79.88 Interior Service: 103<br>
									<a href="http://www.mbd.ro/contactus.asp" style="color:red">MBD Service</a></p>
							</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>LG</strong></td>
							<td>
								Televizoare, Monitoare, Telefoane sau tablete (doar cu certificat tipizat LG)</td>
							<td>
								<strong>ESD-ROM</strong></td>
							<td>
								031.326.60.63<br>
								<a href="http://www.esd-rom.ro/contact/" style="color:red">ESD-Rom Service</a></td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie tipizat LG</td>
						</tr>
						<tr>
							<td>
								<strong>SAMSUNG</strong></td>
							<td>
								Tablete, Telefoane Televizoare, Monitoare, Electrocasnice (doar cu certificat tipizat Samsung)</td>
							<td>
								<strong>ESD-ROM</strong></td>
							<td>
								021.326.60.63<br>
								<a href="http://www.esd-rom.ro/contact/" style="color:red">ESD-Rom Service</a></td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie tipizat SAMSUNG</td>
						</tr>
						<tr>
							<td>
								<strong>WACOM</strong></td>
							<td>
								Tablete grafice</td>
							<td>
								<strong>MGT Educational SRL</strong></td>
							<td>
								<p>
									021 232 88 94<br>
									<a href="http://www.mgt.ro/contact.html" style="color:red">MGT Educational Service</a></p>
							</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>FUJIFILM</strong></td>
							<td>
								Foto/Video</td>
							<td>
								<strong>Cardinal Top Systems SRL</strong></td>
							<td>
								<p>
									021 230.09.82<br>
									<a href="http://cardinaltopsystems.ro/#contact" style="color:red">CTS Service</a></p>
							</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>APC</strong></td>
							<td>
								UPS-uri</td>
							<td>
								<strong>APC Europe</strong></td>
							<td>
							<p>
								0 800 894 309</p>
							<td>
								Acte necesare:<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>Brother</strong></td>
							<td>
								Toata gama</td>
							<td>
								<strong>Sistec</strong></td>
							<td>
								021-9633<br>
								<a href="http://www.sistec.ro/Contact" style="color:red">Sistec Sbsol Service</a></td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>Canon</strong></td>
							<td>
								Foto &amp; Video</td>
							<td>
								<strong>Cris Professional Service</strong></td>
							<td>
								<a href="http://crisprofessionalservices.ro/" style="color:red">Cris Professional Service</a></td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie tipizat Canon</td>
						</tr>
						<tr>
							<td>
								<strong>Toshiba</strong></td>
							<td>
								Laptop-uri Gama Business: Toshiba Tecra, Toshiba Portege</td>
							<td>
								<strong style="color:red">ATEX Computer</strong><br><br></td>
							<td>
								<p>
									0264-599709<br>
									<a href="http://www.atexpc.ro/contact/" style="color:red">ATEX Computer</a></p>
									<p><br>
									e-mail: garantii@atexpc.ro</p>

							</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>Toshiba</strong></td>
							<td>
								Laptop</td>
							<td>
								<strong>Depanero</strong><br><br>
								<strong>MB Distribution: Laptop-uri </strong></td>
							<td>
								<p>
									0742 726 843<br>
									<a href="https://www.depanero.ro/informatii-contact-depanero" style="color:red">Depanero</a></p>
									<p><br>
									MBD Service: 021 231.79.88<br>
                               									<a href="http://www.mbd.ro/contactus.asp" style="color:red">MBD Service</a></p>

							</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
						<tr>
							<td>
								<strong>Nikon</strong></td>
							<td>
								Toata gama</td>
							<td>
								<strong>Restart Service</strong></td>
							<td>
								021.313.45.66<br>
								<a href="http://www.restart.ro/contact/" style="color:red">Restart Service</a></td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie tipizat NIKON</td>
						</tr>
												<tr>
							<td>
								<strong>HUAWEI</strong></td>
							<td>
								Toata gama</td>
							<td>
								<strong>Electronic Suport Division Srl</strong></td>
							<td>
								021.326.60.63<br>
								<a href="http://esd-rom.ro/web/contact.html" style="color:red">Electronic Suport Division Srl</a><br>
								ESD-ROM  Bld. Decebal nr.14, Bloc S6, Tronson I, Mezanin, Sector 3, Bucuresti<br>
								CARGUS - PLATA LA DESTINATAR
								</td>
							<td>
								Acte necesare:<br>
								- Factura/bon achizitie<br>
								- Certificat garantie</td>
						</tr>
					</tbody>
				</table>
				<p>
					&nbsp;</p>
				<p>
			</td>
		</tr>
	</tbody>
</table>
						 
						 
						 
						 
						 
						 
                        </div>
                    </div>
                </div>

{% endblock content_right %}
